
<style type="text/css">
    h3{
        text-align: center;
    }
    .input{
        width: 100px;
    }
    p{
        line-height: 35px;
    }
    .submit{
        background-color: green;
        color: #fff;
        font-size: 18px;
        border: 0px;
        width: 100px;
    }
</style>
<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        {:build_heading(null, false)}
        <ul class="nav nav-tabs">
            <li class="active"><a href="#one" data-toggle="tab">工会组织信息设置</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <h3>工会组织信息设置</h3>
                <hr>
                <form id="form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                  <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">已投产企业数:</label>
                    <div class="col-xs-12 col-sm-8">
                        <input id="c-companyProNum" data-rule="required" class="form-control input" name="row[companyProNum]" type="number" value="{$row.companyProNum}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">已建立工会企业数:</label>
                    <div class="col-xs-12 col-sm-8">
                        <input id="c-unionCompanyNum" data-rule="required" class="form-control input" name="row[unionCompanyNum]" type="number" value="{$row.unionCompanyNum}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">已有会员总数:</label>
                    <div class="col-xs-12 col-sm-8">
                        <input id="c-userNum" data-rule="required" class="form-control input" name="row[userNum]" type="number" value="{$row.userNum}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">文体活动数:</label>
                    <div class="col-xs-12 col-sm-8">
                        <input id="c-activeNum" data-rule="required" class="form-control input" name="row[activeNum]" type="number" value="{$row.activeNum}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">已有阵地数:</label>
                    <div class="col-xs-12 col-sm-8">
                        <input id="c-companyNum" data-rule="required" class="form-control input" name="row[companyNum]" type="number" value="{$row.companyNum}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">现有未完成事项数:</label>
                    <div class="col-xs-12 col-sm-8">
                        <input id="c-toDoNum" data-rule="required" class="form-control input" name="row[toDoNum]" type="number" value="{$row.toDoNum}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">劳资纠纷调解申请数:</label>
                    <div class="col-xs-12 col-sm-2">
                        <input id="c-weiquanNum" data-rule="required" class="form-control input" name="row[weiquanNum]" type="number" value="{$row.weiquanNum}">
                    </div>
                    <label class="control-label col-xs-12 col-sm-2">调解成功数:</label>
                    <div class="col-xs-12 col-sm-2">
                        <input id="c-weiquanPassNum" data-rule="required" class="form-control input" name="row[weiquanPassNum]" type="number" value="{$row.weiquanPassNum}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">困难职工申请数:</label>
                    <div class="col-xs-12 col-sm-2">
                        <input id="c-kunnanNum" data-rule="required" class="form-control input" name="row[kunnanNum]" type="number" value="{$row.kunnanNum}">
                    </div>
                    <label class="control-label col-xs-12 col-sm-2">审批通过数:</label>
                    <div class="col-xs-12 col-sm-2">
                        <input id="c-kunnanPassNum" data-rule="required" class="form-control input" name="row[kunnanPassNum]" type="number" value="{$row.kunnanPassNum}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">欠薪救助申请数:</label>
                    <div class="col-xs-12 col-sm-2">
                        <input id="c-arrearsNum" data-rule="required" class="form-control input" name="row[arrearsNum]" type="number" value="{$row.arrearsNum}">
                    </div>
                    <label class="control-label col-xs-12 col-sm-2">审批通过数:</label>
                    <div class="col-xs-12 col-sm-2">
                        <input id="c-arrearsPassNum" data-rule="required" class="form-control input" name="row[arrearsPassNum]" type="number" value="{$row.arrearsPassNum}">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2"></label>
                    <div class="col-xs-12 col-sm-8">
                        <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
                        <!-- <input class="submit" type="button" name="submit" value="保存"> -->
                    </div>
                  </div>

                  
                </form>
            </div>
        </div>
    </div>
</div>