
<style type="text/css">
    h3{
        text-align: center;
    }
    .input{
        width: 100px;
    }
    p{
        line-height: 35px;
    }
    .submit{
        background-color: green;
        color: #fff;
        font-size: 18px;
        border: 0px;
        width: 100px;
    }
</style>
<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        {:build_heading(null, false)}
        <ul class="nav nav-tabs">
            <li class="active"><a href="#one" data-toggle="tab">五类企业设置</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <h3>五类企业设置</h3>
                <hr>
                <form id="form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                  <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">已投产总数:</label>
                    <div class="col-xs-12 col-sm-8">
                        <input id="c-num1" data-rule="required" class="form-control input" name="row[num5]" type="number" value="{$row.num5}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">已单独建立基层党组织:</label>
                    <div class="col-xs-12 col-sm-8">
                        <input id="c-num1" data-rule="required" class="form-control input" name="row[num6]" type="number" value="{$row.num6}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">联合党支部个数:</label>
                    <div class="col-xs-12 col-sm-8">
                        <input id="c-num1" data-rule="required" class="form-control input" name="row[num7]" type="number" value="{$row.num7}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">联合党支部覆盖企业数:</label>
                    <div class="col-xs-12 col-sm-8">
                        <input id="c-num1" data-rule="required" class="form-control input" name="row[num8]" type="number" value="{$row.num8}">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2"></label>
                    <div class="col-xs-12 col-sm-8">
                        <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
                        <!-- <input class="submit" type="button" name="submit" value="保存"> -->
                    </div>
                  </div>

                  
                </form>
            </div>
        </div>
    </div>
</div>