
<style type="text/css">
    h3{
        text-align: center;
    }
    .input{
        width: 100px;
    }
    p{
        line-height: 35px;
    }
    .submit{
        background-color: green;
        color: #fff;
        font-size: 18px;
        border: 0px;
        width: 100px;
    }
</style>
<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        {:build_heading(null, false)}
        <ul class="nav nav-tabs">
            <li class="active"><a href="#one" data-toggle="tab">其他设置</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <h3>其他设置</h3>
                <hr>
                <form id="form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                  <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">已开展“三会一课”:</label>
                    <div class="col-xs-12 col-sm-8">
                        <input id="c-num1" data-rule="required" class="form-control input" name="row[num9]" type="number" value="{$row.num9}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">党员总数:</label>
                    <div class="col-xs-12 col-sm-8">
                        <input id="c-num1" data-rule="required" class="form-control input" name="row[num10]" type="number" value="{$row.num10}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">党费收缴情况:</label>
                    <div class="col-xs-12 col-sm-8">
                        <input id="c-num1" data-rule="required" class="form-control" name="row[charge_info]" type="text" value="{$row.charge_info}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">ABCD四类企业说明:</label>
                    <div class="col-xs-12 col-sm-8">
                        <input id="c-abcd_intro" data-rule="required" class="form-control" name="row[abcd_intro]" type="text" value="{$row.abcd_intro}">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2"></label>
                    <div class="col-xs-12 col-sm-8">
                        <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
                        <!-- <input class="submit" type="button" name="submit" value="保存"> -->
                    </div>
                  </div>

                  
                </form>
            </div>
        </div>
    </div>
</div>