<style type="text/css">
    .sm-st {
        background: #fff;
        padding: 20px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin-bottom: 20px;
        -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
    }

    .sm-st-icon {
        width: 60px;
        height: 60px;
        display: inline-block;
        line-height: 60px;
        text-align: center;
        font-size: 30px;
        background: #eee;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        float: left;
        margin-right: 10px;
        color: #fff;
    }

    .sm-st-info {
        font-size: 12px;
        padding-top: 2px;
    }

    .sm-st-info span {
        display: block;
        font-size: 24px;
        font-weight: 600;
    }

    .orange {
        background: #fa8564 !important;
    }

    .tar {
        background: #45cf95 !important;
    }

    .sm-st .green {
        background: #86ba41 !important;
    }

    .pink {
        background: #AC75F0 !important;
    }

    .yellow-b {
        background: #fdd752 !important;
    }

    .stat-elem {

        background-color: #fff;
        padding: 18px;
        border-radius: 40px;

    }

    .stat-info {
        text-align: center;
        background-color: #fff;
        border-radius: 5px;
        margin-top: -5px;
        padding: 8px;
        -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
        font-style: italic;
    }

    .stat-icon {
        text-align: center;
        margin-bottom: 5px;
    }

    .st-red {
        background-color: #F05050;
    }

    .st-green {
        background-color: #27C24C;
    }

    .st-violet {
        background-color: #7266ba;
    }

    .st-blue {
        background-color: #23b7e5;
    }
    .st-yellow {
        background-color: #FF9800;
    }

    .st-black {
        background-color: #000000;
    }

    .stats .stat-icon {
        color: #28bb9c;
        display: inline-block;
        font-size: 26px;
        text-align: center;
        vertical-align: middle;
        width: 50px;
        float: left;
    }

    .stat {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        margin-right: 10px;
    }

    .stat .value {
        font-size: 20px;
        line-height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 500;
    }

    .stat .name {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .stat.lg .value {
        font-size: 26px;
        line-height: 28px;
    }

    .stat.lg .name {
        font-size: 16px;
    }

    .stat-col .progress {
        height: 2px;
    }

    .stat-col .progress-bar {
        line-height: 2px;
        height: 2px;
    }

    .item {
        padding: 30px 0;
    }
    .box-header .box-title{
        width: 100%;
        text-align: center;
        font-size: 25px;
        padding: 10px 0;
    }
    .panel-content a{
        color: #fff;
    }
    .ibox-content a{
        color: #fff;
    }
</style>
<!-- {if preg_match('/\/admin\/|admin\.php|admin_d75KABNWt\.php/i', url())}
<div class="alert alert-danger-light">
    {:__('Security tips')}
</div>
{/if} -->
<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        {:build_heading(null, false)}
        <ul class="nav nav-tabs">
            <li class="active"><a href="#one" data-toggle="tab">{:__('Dashboard')}</a></li>
            <!-- <li><a href="#two" data-toggle="tab"></a></li> -->
        </ul>
    </div>
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">

                <div class="row">
                    <div class="col-sm-3 col-xs-6">
                        <a class="btn-addtabs" href="{:url('/admin/union')}">
                        <div class="sm-st clearfix">
                            <span class="sm-st-icon st-violet"><i class="fa fa-universal-access"></i></span>
                            <div class="sm-st-info">
                                <span>{$union_num}</span>
                                工会数
                            </div>
                        </div></a>
                    </div>
                    <!-- 
                    <div class="col-sm-3 col-xs-6">
                        <a class="btn-addtabs" href="{:url('/admin/union_active')}">
                        <div class="sm-st clearfix">
                            <span class="sm-st-icon st-violet"><i class="fa fa-viacoin"></i></span>
                            <div class="sm-st-info">
                                <span>{$active_num}</span>
                                活动总数
                            </div>
                        </div></a>
                    </div>

                    <div class="col-sm-3 col-xs-6">
                        <a class="btn-addtabs" href="{:url('/admin/user/user')}">
                        <div class="sm-st clearfix">
                            <span class="sm-st-icon st-violet"><i class="fa fa-users"></i></span>
                            <div class="sm-st-info">
                                <span>{$user_num}</span>
                                会员总数
                            </div>
                        </div></a>
                    </div>  -->
                    <div class="col-sm-3 col-xs-6">
                        <a class="btn-addtabs" href="{:url('/admin/kpi_warning')}">
                        <div class="sm-st clearfix">
                            <span class="sm-st-icon st-red"><i class="fa fa-warning"></i></span>
                            <div class="sm-st-info">
                                <span>{$warning_num1}个</span>
                                周预警
                            </div>
                        </div></a>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <a class="btn-addtabs" href="{:url('/admin/kpi_warning')}">
                        <div class="sm-st clearfix">
                            <span class="sm-st-icon st-yellow"><i class="fa fa-warning"></i></span>
                            <div class="sm-st-info">
                                <span>{$warning_num2}个</span>
                                月预警
                            </div>
                        </div></a>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <a class="btn-addtabs" href="{:url('/admin/kpi_warning')}">
                        <div class="sm-st clearfix">
                            <span class="sm-st-icon st-black"><i class="fa fa-warning"></i></span>
                            <div class="sm-st-info">
                                <span>{$warning_num3}个</span>
                                季度预警
                            </div>
                        </div></a>
                    </div>     
                </div>

                <div class="row" style="margin-top:15px;">

                    <div class="col-lg-12">
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="panel bg-blue">
                            <div class="panel-body">
                                <div class="panel-title">
                                    <span class="label label-success pull-right">{:__('Real time')}</span>
                                    <h4 class="">工会建设({$totalInfo.union_apply+$totalInfo.union_updateapply+$totalInfo.union_changeapply})/考核指标({$totalInfo.kpi_list})</h4>
                                </div>
                                <div class="panel-title" style="padding-top: 10px;">
                                    <h4 class="">待审核项</h4>
                                </div>
                                <div class="panel-content" style="padding-left: 10px;">
                                    <a class="btn-addtabs" href="{:url('/admin/union_apply')}"><h5 class="no-margins">工会成立申请：{$union_apply}</h5></a>
                                    <a class="btn-addtabs" href="{:url('/admin/union_updateapply')}"><h5 class="no-margins">工会改选申请：{$union_updateapply}</h5></a>
                                    <a class="btn-addtabs" href="{:url('/admin/union_changeapply')}"><h5 class="no-margins">工会换届申请：{$union_changeapply}</h5></a>
                                    <a class="btn-addtabs" href="{:url('/admin/kpi_list')}"><h5 class="no-margins">指标上报审核：{$kpi_list}</h5></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="panel bg-aqua-gradient">
                            <div class="panel-body">
                                <div class="ibox-title">
                                    <span class="label label-info pull-right">{:__('Real time')}</span>
                                    <h4>企业人才({$totalInfo.model_craftsman+$totalInfo.skills_competition+$totalInfo.skills_education})/文体活动({$totalInfo.union_active})</h4>
                                </div>
                                <div class="panel-title" style="padding-top: 10px;">
                                    <h4 class="">待审核项</h4>
                                </div>
                                <div class="ibox-content" style="padding-left: 10px;">
                                    <a class="btn-addtabs" href="{:url('/admin/model_craftsman')}"><h5 class="no-margins">创新工作室申报：{$model_craftsman}</h5></a>
                                    <a class="btn-addtabs" href="{:url('/admin/skills_competition')}"><h5 class="no-margins">技能竞赛上报：{$skills_competition}</h5></a>
                                    <a class="btn-addtabs" href="{:url('/admin/skills_education')}"><h5 class="no-margins">技能和学历培训申请：{$skills_education}</h5></a>
                                    <a class="btn-addtabs" href="{:url('/admin/union_active')}"><h5 class="no-margins">文体活动上报：{$active_num}</h5></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 col-md-3">
                        <div class="panel bg-purple-gradient">
                            <div class="panel-body">
                                <div class="ibox-title">
                                    <span class="label label-primary pull-right">{:__('Real time')}</span>
                                    <h4>职工帮扶({$totalInfo.weiquan+$totalInfo.kunnan+$totalInfo.arrears_help+$totalInfo.employees_assistance})</h4>
                                </div>
                                <div class="panel-title" style="padding-top: 10px;">
                                    <h4 class="">待审核项</h4>
                                </div>
                                <div class="ibox-content" style="padding-left: 10px;">

                                    <a class="btn-addtabs" href="{:url('/admin/weiquan')}"><h5 class="no-margins">纠纷调解申请：{$weiquan}</h5></a>
                                    <a class="btn-addtabs" href="{:url('/admin/kunnan')}"><h5 class="no-margins">困难帮扶申请：{$kunnan}</h5></a>
                                    <a class="btn-addtabs" href="{:url('/admin/arrears_help')}"><h5 class="no-margins">欠薪求助申请：{$arrears_help}</h5></a>
                                    <a class="btn-addtabs" href="{:url('/admin/employees_assistance')}"><h5 class="no-margins">互助保障申请：{$employees_assistance}</h5></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="panel bg-green-gradient">
                            <div class="panel-body">
                                <div class="ibox-title">
                                    <span class="label label-primary pull-right">{:__('Real time')}</span>
                                    <h4>普惠职工({$totalInfo.site_discount+$totalInfo.school_discount})</h4>
                                </div>
                                <div class="panel-title" style="padding-top: 10px;">
                                    <h4 class="">待审核项</h4>
                                </div>
                                <div class="ibox-content" style="padding-left: 10px;">

                                    <a class="btn-addtabs" href="{:url('/admin/site_discount')}"><h5 class="no-margins">场地优惠申请：{$site_discount}</h5></a>
                                    <a class="btn-addtabs" href="{:url('/admin/school_discount')}"><h5 class="no-margins">学费优惠申请：{$school_discount}</h5></a>
                                    <h5 class="no-margins">&nbsp;</h5>
                                    <h5 class="no-margins">&nbsp;</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
            </div>
            <div class="tab-pane fade" id="two">
                
            </div>
        </div>
    </div>
</div>
<script>
    
</script>