<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Company_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-company_id" data-rule="required" data-source="company/index" class="form-control selectpage" name="row[company_id]" type="text" value="{$row.company_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" data-rule="required" data-source="user/user/index" data-field="nickname" class="form-control selectpage" name="row[user_id]" type="text" value="{$row.user_id|htmlentities}">
        </div>
    </div> -->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('S_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-s_name" data-rule="required" class="form-control" name="row[s_name]" type="text" value="{$row.s_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('S_sex')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-s_sex" data-rule="required" class="form-control selectpicker" name="row[s_sex]">
                {foreach name="sSexList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.s_sex"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    {if condition="$row.s_school_name eq '广东信息工程职业学院'"}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">报考类型:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-s_baokao_type" data-rule="" class="form-control" name="row[s_baokao_type]" type="text" value="{$row.s_baokao_type|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">目前学历:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-s_xueli" data-rule="" class="form-control" name="row[s_xueli]" type="text" value="{$row.s_xueli|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">毕业学校:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-s_xuexiao" data-rule="" class="form-control" name="row[s_xuexiao]" type="text" value="{$row.s_xuexiao|htmlentities}">
        </div>
    </div>
    {/if}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('S_age')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-s_age" data-rule="required" class="form-control" name="row[s_age]" type="number" value="{$row.s_age|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('S_idcard_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-s_idcard_type" data-rule="required" class="form-control" name="row[s_idcard_type]" type="text" value="{$row.s_idcard_type|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('S_idcard')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-s_idcard" data-rule="required" class="form-control" name="row[s_idcard]" type="text" value="{$row.s_idcard|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('S_class')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-s_class" data-rule="required" class="form-control" name="row[s_class]" type="text" value="{$row.s_class|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('S_techang')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-s_techang" data-rule="required" class="form-control" name="row[s_techang]" type="text" value="{$row.s_techang|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('F_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-f_name" data-rule="required" class="form-control" name="row[f_name]" type="text" value="{$row.f_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('F_age')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-f_age" data-rule="required" class="form-control" name="row[f_age]" type="number" value="{$row.f_age|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('F_relation')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-f_relation" data-rule="required" class="form-control" name="row[f_relation]" type="text" value="{$row.f_relation|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('F_lacation')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-f_lacation" data-rule="required" class="form-control" name="row[f_lacation]" type="text" value="{$row.f_lacation|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('F_company')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-f_company" data-rule="required" class="form-control" name="row[f_company]" type="text" value="{$row.f_company|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('F_job')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-f_job" data-rule="required" class="form-control" name="row[f_job]" type="text" value="{$row.f_job|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('F_idcard_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-f_idcard_type" data-rule="required" class="form-control" name="row[f_idcard_type]" type="text" value="{$row.f_idcard_type|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('F_idcard')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-f_idcard" data-rule="required" class="form-control" name="row[f_idcard]" type="text" value="{$row.f_idcard|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Phone')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-phone" data-rule="required" class="form-control" name="row[phone]" type="text" value="{$row.phone|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Image')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-image" data-rule="required" class="form-control" size="50" name="row[image]" type="text" value="{$row.image|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-image" class="btn btn-danger plupload" data-input-id="c-image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-image" class="btn btn-primary fachoose" data-input-id="c-image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-image"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-image"></ul>
        </div>
    </div>
    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Add_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-add_time" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[add_time]" type="text" value="{:$row.add_time?datetime($row.add_time):''}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-status" data-rule="required" class="form-control" name="row[status]" type="number" value="{$row.status|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Result')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-result" data-rule="required" class="form-control" name="row[result]" type="text" value="{$row.result|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Check_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-check_time" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[check_time]" type="text" value="{:$row.check_time?datetime($row.check_time):''}">
        </div>
    </div> -->
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
