
<style type="text/css">
    h3{
        text-align: center;
    }
    .input{
        width: 150px;
    }
    p{
        line-height: 35px;
    }
    .submit{
        background-color: green;
        color: #fff;
        font-size: 18px;
        border: 0px;
        width: 100px;
    }
</style>
<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        {:build_heading(null, false)}
        <ul class="nav nav-tabs">
            <li class="active"><a href="#one" data-toggle="tab">等级积分设置</a></li>
            <li><a href="#two" data-toggle="tab">升级通知设置</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <h3>等级积分设置</h3>
                <hr>
                <form id="form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                  <div class="form-group" style="width: 200px;margin: auto;margin-top: 10px">
                    <label class="control-label col-xs-12 col-sm-2">A：</label>
                    <div class="col-xs-12 col-sm-8">
                        <input id="c-a" data-rule="required" class="form-control input" name="row[A]" type="number" value="{$row.A}">
                    </div>
                  </div>
                  <div class="form-group" style="width: 200px;margin: auto;margin-top: 10px">
                    <label class="control-label col-xs-12 col-sm-2">B：</label>
                    <div class="col-xs-12 col-sm-8">
                        <input id="c-b" data-rule="required" class="form-control input" name="row[B]" type="number" value="{$row.B}">
                    </div>
                  </div>
                  <div class="form-group" style="width: 200px;margin: auto;margin-top: 10px">
                    <label class="control-label col-xs-12 col-sm-2">C：</label>
                    <div class="col-xs-12 col-sm-8">
                        <input id="c-C" data-rule="required" class="form-control input" name="row[C]" type="number" value="{$row.C}">
                    </div>
                  </div>
                  <div class="form-group" style="width: 200px;margin: auto;margin-top: 10px">
                    <label class="control-label col-xs-12 col-sm-2">D：</label>
                    <div class="col-xs-12 col-sm-8">
                        <input id="c-D" data-rule="required" class="form-control input" name="row[D]" type="number" value="{$row.D}">
                    </div>
                  </div>

                  <div class="form-group" style="width: 200px;margin: auto;margin-top: 10px">
                    <label class="control-label col-xs-12 col-sm-2"></label>
                    <div class="col-xs-12 col-sm-8">
                        <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
                        <!-- <input class="submit" type="button" name="submit" value="保存"> -->
                    </div>
                  </div>

                  
                </form>
            </div>
            <div class="tab-pane fade" id="two">
                <h3>升级通知设置</h3>
                <hr>
                <form id="form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                  <input type="hidden" name="row[msg_time]" value="0">
                  <div class="form-group" style="width: 350px;margin: auto;margin-top: 10px">
                    <div class="col-xs-12 col-sm-12" style="display:flex;">
                        <label class="control-label" style="width: 80px;">分差：</label>
                        <input id="c-notice_score" data-rule="required" class="form-control input" name="row[notice_score]" type="number" value="{$row.notice_score}">
                    </div>
                  </div>
                  <div class="form-group" style="width: 350px;margin: auto;margin-top: 10px">
                    <div class="col-xs-12 col-sm-12" style="display:flex;">
                        <label class="control-label" style="width: 80px;">通知时间：</label>
                        <input id="c-notice_time" data-rule="required" class="form-control input datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[notice_time]" type="text" value="{$row.notice_time}">
                    </div>
                  </div>

                  <div class="form-group" style="width: 350px;margin: auto;margin-top: 10px">
                    <div class="col-xs-12 col-sm-12" style="display:flex;">
                        <label class="control-label" style="width: 80px;">通知内容：</label>
                        <textarea id="c-content" name="row[notice_content]" class="form-control" placeholder="输入短信通知内容" data-rule="required" style="height: 100px;width: 200px;">{$row.notice_content}</textarea>
                    </div>
                  </div>

                  <div class="form-group" style="width: 350px;margin: auto;margin-top: 10px">
                    <div class="col-xs-12 col-sm-12">
                        <label class="control-label" style="width: 80px;"></label>
                        <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
                        <!-- <input class="submit" type="button" name="submit" value="保存"> -->
                    </div>
                  </div>

                  
                </form>
            </div>
        </div>
    </div>
</div>