<style type="text/css">
	body{
		background-image: url({$bgimg});
		background-size: 100% 100%;
	}

    .btnimg{
        width: 150px;
        height: 150px;
        margin-left: 30px;
        cursor: pointer;
        margin-top: 150px;
    }
    .btnimg_no{
        width: 150px;
        height: 150px;
        margin-left: 30px;
        cursor: pointer;
        margin-top: 150px;
    }
</style>
<div id="content-container" class="container">
    {if condition="$type eq 1"}
    <div class="row" style="overflow: hidden;width: 560px;margin: auto;">
        <div style="color: blue;text-align: center;font-size: 18px;"><p>目前第{$partyInfo.change_num}届<br/><br/>预计换届时间为：{$partyInfo.change_time}</p></div>
    	{if condition="$numinfo.union_changeapply_num gt 0"}
        <img data-title="换届申请" data-url="/admin/party/front_map/party_changeapply?company_id={$company_id}" class="btnimg" src="/assets/img/btn_hjsq.png">
        {else/}
        <img data-title="换届申请"  class="btnimg_no" src="/assets/img/btn_hjsq_no.png">
        {/if}
        <img data-title="改选申请" data-url="/admin/party/front_map/party_updateapply?company_id={$company_id}" class="btnimg" src="/assets/img/btn_gxsq.png">
        <img data-title="成立申请" data-url="/admin/party/front_map/party_apply?company_id={$company_id}" class="btnimg" src="/assets/img/btn_clsq.png">
    </div>
    {elseif condition="$type eq 2"}
    <div class="row" style="overflow: hidden;width: 560px;margin: auto;">
        <img data-title="创新工作室申报" data-url="/admin/front_map/model_craftsman?company_id={$company_id}" class="btnimg" src="/assets/img/btn_cxgzs.png">
        <img data-title="职工技能竞赛" data-url="/admin/front_map/skill_competition?company_id={$company_id}" class="btnimg" src="/assets/img/btn_zgjnjs.png">
        <img data-title="技能和学历培训" data-url="/admin/front_map/skill_education?company_id={$company_id}" class="btnimg" src="/assets/img/btn_jnpx.png">
        {if condition="$showWord eq 1"}
        <div style="margin-left: 30px;color: red"><p>每年5月份按通知要求申报</p></div>
        {/if}
    </div>
    {elseif condition="$type eq 3"}
    <div class="row" style="overflow: hidden;width: 740px;margin: auto;">
    	{if condition="$numinfo.weiquan_num gt 0"}
        <img data-title="劳资纠纷调解" data-url="/admin/front_map/weiquan?company_id={$company_id}" class="btnimg" src="/assets/img/btn_lzjf.png">
        {else/}
        <img data-title="劳资纠纷调解"  class="btnimg_no" src="/assets/img/btn_lzjf_no.png">
        {/if}

        <img data-title="困难职工帮扶" data-url="/admin/front_map/kunnan?company_id={$company_id}" class="btnimg" src="/assets/img/btn_knzg.png">

        {if condition="$numinfo.arrears_help_num gt 0"}
        <img data-title="欠薪求助" data-url="/admin/front_map/arrears_help?company_id={$company_id}" class="btnimg" src="/assets/img/btn_qxqz.png">
        {else/}
        <img data-title="欠薪求助"  class="btnimg_no" src="/assets/img/btn_qxqz_no.png">
        {/if}

        <img data-title="互助保障" data-url="/admin/front_map/employees_assistance?company_id={$company_id}" class="btnimg" src="/assets/img/btn_hzbz.png">
    </div>
    {/if}
</div>
