<style type="text/css">
	.infotable{
        float: left;
        width: 300px;
        font-size: 12px;
    }
    .infotable td{
        border: 1px #128f76 solid;
        padding: 5px;
        text-align: center;
    }
    .infotable2{
        float: left;
        width: 300px;
        font-size: 14px;
        margin-left: 10px;
    }
    .infotable2 td{
        border: 1px #128f76 solid;
        padding: 5px;
        text-align: center;
    }
    .infotable2 th{
        border: 1px #128f76 solid;
        padding: 5px;
        text-align: center;
        background-color: #128f76;
        color: #fff;
    }
	
</style>
<div id="content-container" class="container">
    <div class="row">
        {if condition="$id eq 1"}
    	<table class="infotable">
            <tr><td rowspan="4">全部企业</td><td>已投产总数</td><td>{$cinfo.num1}</td></tr>
            <tr><td>已单独建立基层党组织</td><td>{$cinfo.num2}</td></tr>
            <tr><td>联合党支部个数</td><td>{$cinfo.num3}</td></tr>
            <tr><td>联合党支部覆盖企业数</td><td>{$cinfo.num4}</td></tr>

            <tr><td rowspan="4">五类企业</td><td>已投产总数</td><td>{$cinfo.num5}</td></tr>
            <tr><td>已单独建立基层党组织</td><td>{$cinfo.num6}</td></tr>
            <tr><td>联合党支部个数</td><td>{$cinfo.num7}</td></tr>
            <tr><td>联合党支部覆盖企业数</td><td>{$cinfo.num8}</td></tr>

            <tr><td colspan="2">已开展“三会一课”数</td><td>{$cinfo.num9}</td></tr>
            <tr><td colspan="2">党员总数</td><td>{$cinfo.num10}</td></tr>
            <tr><td colspan="2">党费收缴情况</td><td>{$cinfo.charge_info}</td></tr>
        </table>
        {else/}
            <table class="infotable2">
                <!-- <tr><th colspan="2">工会组织信息</th></tr> -->
                <tr><td>已投产企业</td><td>{$cinfo.companyProNum}</td></tr>
                <tr><td>已建立工会企业</td><td>{$cinfo.unionCompanyNum}</td></tr>
                <tr><td>已有会员人数</td><td>{$cinfo.userNum}</td></tr>
                <tr><td>文体活动数量</td><td>{$cinfo.activeNum}</td></tr>
                <tr><td>已有阵地</td><td>{$cinfo.companyNum}</td></tr>
                <tr><td>现有未完成事项</td><td>{$cinfo.toDoNum}</td></tr>
				<tr><td>劳资纠纷调解申请数</td><td>{$cinfo.weiquanNum}</td></tr>
                <tr><td>调解成功数</td><td>{$cinfo.weiquanPassNum}</td></tr>
				<tr><td>困难职工申请数</td><td>{$cinfo.kunnanNum}</td></tr>
                <tr><td>审批通过数</td><td>{$cinfo.kunnanPassNum}</td></tr>
				<tr><td>欠薪救助申请数</td><td>{$cinfo.arrearsNum}</td></tr>
                <tr><td>审批通过数</td><td>{$cinfo.arrearsPassNum}</td></tr>
            </table>
        {/if}
    </div>
</div>