<style type="text/css">
    .infotable2{
        float: left;
        width: 300px;
        font-size: 14px;
        margin-left: 10px;
    }
    .infotable2 td{
        border: 1px #128f76 solid;
        padding: 5px;
        text-align: center;
    }
    .infotable2 th{
        border: 1px #128f76 solid;
        padding: 5px;
        text-align: center;
        background-color: #128f76;
        color: #fff;
    }
	
</style>
<div id="content-container" class="container">
    <div class="row">

            <table class="infotable2">
                <!-- <tr><th colspan="2">工会组织信息</th></tr> -->
                <tr><td>广东肇庆爱龙威机电有限公司</td><td>全国五一巾帼标兵王春艳</td></tr>
                <tr><td>广东肇庆爱龙威机电有限公司</td><td>肇庆市工人先锋号</td></tr>
                <tr><td>广东肇庆爱龙威机电有限公司</td><td>肇庆市先进职工之家</td></tr>
				 <tr><td>广东肇庆爱龙威机电有限公司</td><td>刘志丹肇庆市劳模和人才创新工作室</td></tr>
                <tr><td>肇庆市大旺本海高新机器制造厂</td><td>肇庆市五一劳动奖章获得者李木衡</td></tr>
				 <tr><td>肇庆市现代筑美家居有限公司</td><td>市工会女职工工作现金工作者周雪雅</td></tr>
                <tr><td>肇庆市现代筑美家居有限公司</td><td>肇庆市五一劳动奖章获得者杨钦飞</td></tr>
				 <tr><td>广东达利食品有限公司</td><td>广东省五一劳动奖状</td></tr>
                <tr><td>广东达利食品有限公司</td><td>广东省模范职工小家</td></tr>
				 <tr><td>肇庆红蜻蜓实业有限公司</td><td>肇庆市先进职工之家</td></tr>
                <tr><td>肇庆宏旺金属实业有限公司</td><td>钟日新肇庆市劳模和工匠人才创新工作室</td></tr>
				 <tr><td>肇庆宏旺金属实业有限公司</td><td>肇庆市五一劳动奖状</td></tr>
                <tr><td>肇庆焕发生物科技有限公司</td><td>广东省五一劳动奖章获得者陈启冰</td></tr>
				 <tr><td>广东精英纺织服饰科技有限公司</td><td>肇庆市先进职工之家</td></tr>
                <tr><td>广东精英纺织服饰科技有限公司</td><td>肇庆市优秀工会积极份子黄丽华</td></tr>
				 <tr><td>肇庆骏鸿实业有限公司</td><td>肇庆市劳动模范房雪松</td></tr>
                <tr><td>广东科茂林产化工股份有限公司</td><td>市劳动模范曾伟擘</td></tr>
				 <tr><td>广东科茂林产化工股份有限公司</td><td>徐社阳肇庆市劳模和工匠人才创新工作室</td></tr>
                <tr><td>广东科茂林产化工股份有限公司</td><td>全国模范职工小家</td></tr>
				 <tr><td>广东涞馨实业投资集团有限公司</td><td>肇庆市劳动模范简赛香</td></tr>
                <tr><td>广东涞馨实业投资集团有限公司</td><td>广东省五一劳动奖章获得者蔡光辉</td></tr>
				 <tr><td>广东涞馨实业投资集团有限公司</td><td>肇庆市先进职工小家</td></tr>
                <tr><td>广东涞馨实业投资集团有限公司</td><td>刘志丹肇庆劳模和工匠人才创新工作室</td></tr>
				 <tr><td>广东玛西尔电动科技有限公司</td><td>解孝明肇庆市劳模和工匠人才创新工作室</td></tr>
                <tr><td>广东玛西尔电动科技有限公司</td><td>省五一劳动奖状</td></tr>
				 <tr><td>广东玛西尔电动科技有限公司</td><td>全国模范职工之家</td></tr>
                <tr><td>广东玛西尔电动科技有限公司</td><td>肇庆市优秀工会工作者王艳</td></tr>
				 <tr><td>广东三浦车库股份有限公司</td><td>苏农肇庆市劳模和工匠人才创新工作室</td></tr>
                <tr><td>广东三向智能科技股份有限公司</td><td>肇庆市五一劳动奖章获得者李郑俊峰</td></tr>
				 <tr><td>广东三向智能科技股份有限公司</td><td>唐涨广东省劳模创新工作室</td></tr>
                <tr><td>广东三向智能科技股份有限公司</td><td>广东省模范职工之家</td></tr>
				 <tr><td>广东三向智能科技股份有限公司</td><td>肇庆市优秀工会工作者罗小川</td></tr>
                <tr><td>肇庆三雄极光照明有限公司</td><td>肇庆市先进职工之家</td></tr>
				 <tr><td>广东台日电梯有限公司</td><td>肇庆市先进职工之家</td></tr>
                <tr><td>肇庆威士海库房设备有限公司</td><td>广东省劳动模范吴文智</td></tr>
				 <tr><td>肇庆威士海库房设备有限公司</td><td>肇庆市先进职工之家</td></tr>
                <tr><td>唯品会（肇庆）电子商务有限公司</td><td>肇庆市工人先锋号</td></tr>
				 <tr><td>广东中亚铝业有限公司</td><td>肇庆市优秀工会工作者李志明</td></tr>
                <tr><td>肇庆亚铝工业城管理有限公司</td><td>全国优秀工会工作者、市先进女职工工作者黎婉金</td></tr>
				  <tr><td>肇庆亚铝工业城管理有限公司</td><td>全国工会优秀职工书屋示范点</td></tr>
				 <tr><td>肇庆亚铝工业城管理有限公司</td><td>肇庆市先进职工之家</td></tr>
                <tr><td>肇庆亚铝工业城管理有限公司</td><td>肇庆市劳动模范王定坤</td></tr>
				<tr><td>肇庆中乔电气实业公司</td><td>省级-唐中华肇庆市劳模和工匠人才创新工作室</td></tr>
				<tr><td>肇庆科茂树脂有限公司</td><td>市级-徐社阳肇庆市劳模和工匠人才创新工作室</td></tr>
				<tr><td>肇庆市弘基房地产有限公司</td><td>广东省劳动模范朱得文</td></tr>
                <tr><td>肇庆大华农生物药品有限公司</td><td>市模范职工之家</td></tr>
				<tr><td>肇庆大华农生物药品有限公司</td><td>广东省工人先锋号</td></tr>
				<tr><td>肇庆大华农生物药品有限公司</td><td>广东省劳动模范、全国劳动模范陈瑞爱</td></tr>
				<tr><td>肇庆大华农生物药品有限公司</td><td>全国劳动模范盘伟岚</td></tr>
				<tr><td>肇庆科伦纸业有限公司</td><td>肇庆市先进职工之家</td></tr>
				<tr><td>唯品会（肇庆）电子商务有限公司</td><td>广东省模范职工之家</td></tr>
				<tr><td>肇庆中乔电气实业有限公司</td><td>全国模范职工小家</td></tr>
				<tr><td>肇庆中乔电气实业有限公司</td><td>唐中华肇庆市劳模和工匠人才创新工作室</td></tr>

            </table>
      
    </div>
</div>