<style>
    .btn{
       width: 100%;
       font-size: 18px;
    }
    .tmenudiv{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow:row wrap;
        align-content: flex-start;
    }
    .imenu{
       height: 45px;
       width: 45%;
       line-height: 45px;
       background: #18BC9C;
       color: #fff;
       font-size: 18px;
       text-align: center;
    }
    .imenu a{
       color: #fff;
    }
    tr{
      line-height: 35px;
      cursor: pointer;
   }
   th{
      font-weight: bold;
      text-align: center;
      font-size: 16px;
      color: #9A9A9A;
      border-bottom: 1px #eee solid;
   }
   td{
      text-align: center;
      line-height: 50px;
      border-bottom: 1px #eee solid;
   }
   .sp_results > li{
     font-size: 16px;
   }
   .panel-body{
     padding : 0px;
     margin-left: -15px;
     margin-right: -15px;
   }
</style>
<div id="content-container" class="container">
    
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one" style="background: #fff;border-radius: 5px;padding-top: 10px;margin-top: 20px;">
              <p style="font-size: 21px;text-align: center;">{$username}绑定的企业</p>
              <table width="100%">
                <tr>
                  <th>排名</th>
                  <th>公司简称</th>
                  <th>等级</th>
                  <th>积分</th>
                </tr>
                {foreach name="list" key="key" item="vo"}
                  <tr class="openInfo" data-id="{$vo.id}">
                    <td style="width: 50px;">
                        {if condition="$key eq 0"}
                          <img src="/assets/img/score_top_guanjun.png" style="width: 30px;">
                        {elseif condition="$key eq 1"}
                          <img src="/assets/img/score_top_yajun.png" style="width: 30px;">
                        {elseif condition="$key eq 2"}
                          <img src="/assets/img/score_top_jijun.png" style="width: 30px;">
                        {else/}
                          {$key+1}
                        {/if}
                    </td>
                    <td style="text-align: left;color: #000;font-size: 16px;">{$vo.short_name}</td>
                    <td style="color: #4E9EE5;font-size: 16px;width: 40px;">{$vo.type}</td>
                    <td style="color: #4E9EE5;font-size: 16px;width:50px;">{$vo.score}</td>
                  </tr>
                {/foreach}
              </table>
            </div>
            
        </div>
    </div>
    
</div>
