<style>
    body{
    background-image: url('/assets/img/mwap_index_bg.png');
    background-size: 100% 100%;
  }
  .title{
    text-align: center;
    font-size: 31px;
    letter-spacing:5px;
    margin-bottom: 10px;
        color: #005ADF;
  }
  .info{
    width: 100%;
    min-height: 100px;
    font-size: 14px;
  }
  .infotitle{
    /*background-color: #128f76;*/
    color: #fff;
    text-align: center;
    border-radius: 5px;
    background-image: url('/assets/img/map_index_title.png');
    background-size: 100% 100%;
    line-height: 35px;
    font-size: 18px;
    font-weight: bold;
        letter-spacing: 5px;
  }
  .list{
    margin-top: 15px;
  }
  table{
    font-size: 14px;
    width: 80%;
        margin: auto;
  }
    td{
        padding: 5px 0px;
        font-size: 14px;
        font-weight: bold;
        color: #000;
    }
  .tname{
    color: #005ADF;
    width: 80px;
    text-align-last:justify;
    padding-right: 20px;
  }
  .menudiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow:row wrap;
    align-content: flex-start
  }
  .btnimg{
      width: 45%;
      margin-top: 15px;
      cursor: pointer;
  }

  .btnimg2{
      width: 45%;
      margin-top: 15px;
      cursor: pointer;
  }

</style>
<div id="content-container" class="container">
    <!-- <div class="row">
        <div class="col-md-9" style="overflow: hidden;">

            <div class="title left">
                <img src="__CDN__/assets/img/21.png">
                <p>工会组织建设</p>
            </div>

            <a href="/admin/front_admin/union_active?company_id={$cinfo.id}">
            <div class="title right">
                <img src="__CDN__/assets/img/24.png">
                <p>文体活动上报</p>
            </div></a>

            <a href="/admin/front_admin/capital?company_id={$cinfo.id}">
            <div class="title left">
                <img src="__CDN__/assets/img/zjsb.png">
                <p>经费使用上报</p>
            </div></a>

            <a href="/admin/front_admin/kpi_list?company_id={$cinfo.id}">
            <div class="title right">
                <img src="__CDN__/assets/img/rwzb.png">
                <p>量化任务指标</p>
            </div></a>

            <a href="/admin/front_admin/kpi_warning?company_id={$cinfo.id}">
            <div class="title left">
                <img src="__CDN__/assets/img/yjxx.png">
                <p>任务预警信息</p>
            </div></a>
        </div>
    </div> -->
    <div class="row">
      <div class="title">{$cinfo.name}</div>
    </div>
    {if condition="$cinfo.c_image neq ''"}
    <div style="height: 50px;text-align: center;margin-bottom: 15px;">
        <img style="height: 100%;" src="{$cinfo.c_image}">
    </div>
    {else/}
    <div style="height: 10px;"></div>
    {/if}

    <div class="row" style="overflow: hidden;width:100%;margin:auto;">
        <div class="info">
            <div class="infotitle">党组织信息</div>
            <div class="list">
                <table>
                    <tr><td class="tname">成立时间</td><td>{$cinfo.d_build_time}</td></tr>
                    <tr><td class="tname">书记</td><td>{$cinfo.d_secretary}</td></tr>
                    <tr><td class="tname">党员人数</td><td>{$cinfo.d_user_num}</td></tr>
                    <tr><td class="tname">入党积极分子人数</td><td>{$cinfo.d_nosuser_num}</td></tr>
                    <tr><td class="tname">特点</td><td>{$cinfo.d_characteristic}</td></tr>
                </table>
            </div>
        </div>
      <div class="info">
        <div class="infotitle">企业信息</div>
        <div class="list">
          <table>
            <tr><td class="tname">成立时间</td><td>{$cinfo.c_build_time}</td></tr>
            <tr><td class="tname">企业性质</td><td>{$cinfo.c_nature}</td></tr>
            <tr><td class="tname">企业类型</td><td>{$cinfo.c_style}</td></tr>
            <tr><td class="tname">主营业务</td><td>{$cinfo.c_business}</td></tr>
            <tr><td class="tname">年产值</td><td>{$cinfo.c_annual_value}</td></tr>
            <tr><td class="tname">员工人数</td><td>{$cinfo.c_user_num}</td></tr>
          </table>
        </div>
      </div>
      <!--<div class="info">
        <div class="infotitle">工会信息</div>
        <div class="list">
          <table>
            <tr><td class="tname">成立时间</td><td>{$cinfo.u_build_time}</td></tr>
            <tr><td class="tname">工会主席</td><td>{$cinfo.u_chairman}</td></tr>
            <tr><td class="tname">会员人数</td><td>{$cinfo.u_user_num}</td></tr>
          </table>
        </div>
      </div>-->

    </div>
    {if condition="$cinfo.url neq ''"}
    <div style="margin-top: 20px;text-align: center;">
        <img style="width: 100px;" src="/assets/img/map_index_line.png">
        <a href="{$cinfo.url}"><img style="height: 60px;cursor: pointer;" src="/assets/img/map_index_VR3.png"></a>
        <img style="width: 100px;" src="/assets/img/map_index_line.png">
    </div>
    {/if}
    <div class="menudiv">
        <img data-title="任务指标" data-url="/admin/party/front_admin/kpi_list?company_id={$cinfo.id}" class="btnimg" src="/assets/img/btn_rwzb.png">
        <img data-title="学习计划" data-url="/admin/party/front_admin/party_study?company_id={$cinfo.id}" class="btnimg" src="/assets/img/btn_xxbj.png">
        <img data-title="党员建设" data-url="/admin/party/front_admin/business_list/type/1/company_id/{$cinfo.id}" class="btnimg" src="/assets/img/btn_dyjs.png">
        <img data-title="任务预计" data-url="/admin/party/front_admin/kpi_warning?company_id={$cinfo.id}" class="btnimg" src="/assets/img/btn_rwyj.png">
    </div>

</div>
