<style type="text/css">
	body{
		background-image: url({$bgimg});
		background-size: 100% 100%;
	}
    .menudiv{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow:row wrap;
        align-content: flex-start;
        padding-top: 100px;
      }

    .btnimg{
        width: 150px;
        height: 150px;
        cursor: pointer;
        margin-top: 20px;
    }
    .btnimg_no{
        width: 150px;
        height: 150px;
        cursor: pointer;
        margin-top: 20px;
    }
</style>
<div id="content-container" class="container">
    {if condition="$type eq 1"}
    <div class="menudiv">
    	{if condition="$numinfo.union_changeapply_num gt 0"}
        <img data-title="换届申请" data-url="/admin/party/front_admin/party_changeapply?company_id={$company_id}" class="btnimg" src="/assets/img/btn_hjsq.png">
        {else/}
        <img data-title="换届申请"  class="btnimg_no" src="/assets/img/btn_hjsq_no.png">
        {/if}
        <img data-title="改选申请" data-url="/admin/party/front_admin/party_updateapply?company_id={$company_id}" class="btnimg" src="/assets/img/btn_gxsq.png">
        <img data-title="成立申请" data-url="/admin/party/front_admin/party_apply?company_id={$company_id}" class="btnimg" src="/assets/img/btn_clsq.png">
    </div>
    {elseif condition="$type eq 2"}
    <div class="menudiv">
        <img data-title="创新工作室申报" data-url="/admin/front_admin/model_craftsman?company_id={$company_id}" class="btnimg" src="/assets/img/btn_cxgzs.png">
        <img data-title="职工技能竞赛" data-url="/admin/front_admin/skill_competition?company_id={$company_id}" class="btnimg" src="/assets/img/btn_zgjnjs.png">
        <img data-title="技能和学历培训" data-url="/admin/front_admin/skill_education?company_id={$company_id}" class="btnimg" src="/assets/img/btn_jnpx.png">
    </div>
    {elseif condition="$type eq 3"}
    <div class="menudiv">
    	{if condition="$numinfo.weiquan_num gt 0"}
        <img data-title="劳资纠纷调解" data-url="/admin/front_admin/weiquan?company_id={$company_id}" class="btnimg" src="/assets/img/btn_lzjf.png">
        {else/}
        <img data-title="劳资纠纷调解"  class="btnimg_no" src="/assets/img/btn_lzjf_no.png">
        {/if}

        <img data-title="困难职工帮扶" data-url="/admin/front_admin/kunnan?company_id={$company_id}" class="btnimg" src="/assets/img/btn_knzg.png">

        {if condition="$numinfo.arrears_help_num gt 0"}
        <img data-title="欠薪求助" data-url="/admin/front_admin/arrears_help?company_id={$company_id}" class="btnimg" src="/assets/img/btn_qxqz.png">
        {else/}
        <img data-title="欠薪求助"  class="btnimg_no" src="/assets/img/btn_qxqz_no.png">
        {/if}

        <img data-title="互助保障" data-url="/admin/front_admin/employees_assistance?company_id={$company_id}" class="btnimg" src="/assets/img/btn_hzbz.png">
    </div>
    {/if}
</div>
