<style type="text/css">
    .btop{
        /*height: 110px;*/
        background: #2197ef;
        border-radius: 10px;
        margin: 0 15px;
        overflow: hidden;
        color: #fff;
        margin-bottom: -20px;
    }
    .binfo{
        float: left;
        width: 46%;
        text-align: center;
    }
    .cname{
        font-size: 14px;
        padding: 10px;
        font-weight: bold;
        text-align: left;
    }
    .score{
        background: #fff;
        color: #2197ef;
        width: 200px;
        padding: 5px  10px;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        margin: auto;
        clear: both;
        margin-bottom: 10px;
    }
    th{
        background: #f67c27;
        color: #fff;
    }
</style>
<div class="panel panel-default panel-intro">
    <div class="btop">
        <div class="cname">{$info.short_name}</div>
        <div class="binfo">积分：<font size="100">{$info.score}</font></div>
        <div class="binfo" style="text-align: right;">评分：<font size="100">{$info.type}</font></div>
        <a href="/admin/party/party_score_log/list?company_id={$info.id}"><div class="score">查看积分详情</div></a>
    </div>

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        <!-- <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a> -->


                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
