<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <input id="c-id" type="hidden" name="id" value="{$id}">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">审批意见:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-result" data-rule="" class="form-control " rows="8" name="result" cols="50"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">受理结果:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="pass" type="radio" name="status" value="3" checked=""><label for="pass">情况已核实，给予受理</label>
            <input id="nopass" type="radio" name="status" value="2" style="margin-left: 10px"><label for="nopass">情况不属实，不受理</label>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
