<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                        <a href="javascript:;" class="btn btn-success btn-add {:$auth->check('union_changeapply/add')?'':'hide'}" title="{:__('Add')}" ><i class="fa fa-plus"></i> {:__('Add')}</a>
                        <a href="javascript:;" class="btn btn-success btn-edit btn-disabled disabled {:$auth->check('union_changeapply/edit')?'':'hide'}" title="{:__('Edit')}" ><i class="fa fa-pencil"></i> {:__('Edit')}</a>
                        <a href="javascript:;" class="btn btn-danger btn-del btn-disabled disabled {:$auth->check('union_changeapply/del')?'':'hide'}" title="{:__('Delete')}" ><i class="fa fa-trash"></i> {:__('Delete')}</a>
                        <!-- <a href="javascript:;" class="btn btn-danger btn-import {:$auth->check('union_changeapply/import')?'':'hide'}" title="{:__('Import')}" id="btn-import-file" data-url="ajax/upload" data-mimetype="csv,xls,xlsx" data-multiple="false"><i class="fa fa-upload"></i> {:__('Import')}</a>-->

                        <!-- <div class="dropdown btn-group">
                            <a class="btn btn-primary btn-more dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i> {:__('状态')}</a>
                            <ul class="dropdown-menu text-left" role="menu">
                                <li><a class="btn btn-link btn-search" href="javascript:;" data-params="status=0">{:__('待审核')}</a></li>
                                <li><a class="btn btn-link btn-search" href="javascript:;" data-params="status=1">{:__('审核通过')}</a></li>
                            </ul>
                        </div>  -->

                        
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                           data-operate-edit="{:$auth->check('union_changeapply/edit')}" 
                           data-operate-del="{:$auth->check('union_changeapply/del')}" 
                           data-operate-accept="{:$auth->check('union_changeapply/accept')}" 
                           data-operate-check="{:$auth->check('union_changeapply/check')}" 
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
