<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Topic_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-topic_id" data-rule="required" data-source="topic/index" class="form-control selectpage" name="row[topic_id]" type="text" value="{$row.topic_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('考核类型')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-type" class="form-control selectpicker" name="row[type]">
                {foreach name="getTypeList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.type"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="{$row.name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Requirement')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-requirement" data-rule="required" class="form-control" name="row[requirement]" type="text" value="{$row.requirement|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Grade')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[grade]', ['index'=>__('普通'), 'hot'=>__('重要')] , $row.grade)}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('排序')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-weigh" data-rule="required" class="form-control" name="row[weigh]" type="number" value="{$row.weigh}">
            <p style="color: red;font-size: 12px;margin-top:5px;">数字大的排在前面</p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Submit_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select('row[submit_type]', $submitTypeData, $row.submit_type, ['class'=>'form-control selectpicker', 'data-rule'=>'required'])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('上报次数')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-submit_num" data-rule="required" class="form-control" name="row[submit_num]" type="number" value="{$row.submit_num|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Score_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-score_type" data-rule="required" class="form-control" name="row[score_type]" type="text" value="{$row.score_type|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Score')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-score" data-rule="required" class="form-control" name="row[score]" type="number" value="{$row.score|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('End_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-end_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[end_time]" type="text" value="{$row.end_time}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Warning_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select('warning_type[]', $warningdata, $row.warning_type, ['class'=>'form-control selectpicker', 'multiple'=>'', 'data-rule'=>'required'])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">操作说明:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-intro" data-rule="" class="form-control editor" rows="5" name="row[intro]" cols="50">{$row.intro}</textarea>
        </div>
    </div>
    <input id="c_save_new" type="hidden" name="row[save_new]" value="0">
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
            <button type="button" id="saveNew" class="btn btn-warning btn-embossed">另存为新指标</button>
        </div>
    </div>
</form>
