<style>
    .btn{
       width: 100%;
       font-size: 18px;
    }
    .tmenudiv{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow:row wrap;
        align-content: flex-start;
    }
    .imenu{
       height: 45px;
       width: 45%;
       line-height: 45px;
       background: #18BC9C;
       color: #fff;
       font-size: 18px;
       text-align: center;
    }
    .imenu a{
       color: #fff;
    }
    tr{
      line-height: 35px;
      cursor: pointer;
   }
   th{
      font-weight: bold;
      text-align: center;
      font-size: 16px;
      color: #9A9A9A;
      border-bottom: 1px #eee solid;
   }
   td{
      text-align: center;
      line-height: 50px;
      border-bottom: 1px #eee solid;
   }
   .sp_results > li{
     font-size: 16px;
   }
   .panel-body{
     padding : 0px;
     margin-left: -15px;
     margin-right: -15px;
   }
</style>
<div id="content-container" class="container">
    <div class="row" style="border-bottom: 1px solid #999;padding-bottom: 30px;">
      <div class="col-md-12 tmenudiv">
         <!--<div class="imenu"><a href="/admin/front_admin/dinfo/id/1">全区党组织信息</a></div>-->
         <div class="imenu"><a href="/admin/front_admin/dinfo/id/2">全区工会组织信息</a></div>
         <!-- <a href="/admin/front_admin/score_top"><div class="imenu">积分排行榜</div></a> -->
      </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#one" data-toggle="tab">企业排行</a></li>
            <li><a href="#two" data-toggle="tab">网格员</a></li>
        </ul>
    </div>
    <div class="row" style="overflow: hidden;text-align: center;margin-top: 20px;">
        <p style="font-size: 16px;color: #18BC9C">想查看企业数据情况！请根据企业名称下拉搜索！</p>
        <div>
        	  <form id="user-form" class="form-horizontal tmenudiv" role="form" data-toggle="validator" method="POST" action="">
            <div style="width: 70%;"><input style="height: 40px;font-size: 16px;" id="company_id" data-source="/admin/company/index" data-primary-key="id"
                               data-field="name" class="form-control selectpage" name="company_id" type="text"
                               value="" placeholder="输入企业名称搜索"></div>
            <div style="width: 30%"><button class="btn btn-success btn-embossed" type="button">搜索查看></button></div>
            </form>
        </div>
    </div>
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one" style="background: #fff;border-radius: 5px;padding-top: 10px;margin-top: 20px;">
              <p style="font-size: 21px;text-align: center;">企业排行榜</p>
              <table width="100%">
                <tr>
                  <th>排名</th>
                  <th>公司简称</th>
                  <th>等级</th>
                  <th>积分</th>
                </tr>
                {foreach name="list" key="key" item="vo"}
                  <tr class="openInfo" data-id="{$vo.id}">
                    <td style="width: 50px;">
                        {if condition="$key eq 0"}
                          <img src="/assets/img/score_top_guanjun.png" style="width: 30px;">
                        {elseif condition="$key eq 1"}
                          <img src="/assets/img/score_top_yajun.png" style="width: 30px;">
                        {elseif condition="$key eq 2"}
                          <img src="/assets/img/score_top_jijun.png" style="width: 30px;">
                        {else/}
                          {$key+1}
                        {/if}
                    </td>
                    <td style="text-align: left;color: #000;font-size: 16px;">{$vo.short_name}</td>
                    <td style="color: #4E9EE5;font-size: 16px;width: 40px;">{$vo.type}</td>
                    <td style="color: #4E9EE5;font-size: 16px;width:50px;">{$vo.score}</td>
                  </tr>
                {/foreach}
              </table>
            </div>
            <div class="tab-pane fade" id="two" style="background: #fff;border-radius: 5px;padding-top: 10px;margin-top: 20px;">
              <p style="font-size: 21px;text-align: center;">网格员</p>
              <table width="100%">
                <tr>
                  <th>网格员</th>
                  <th>待审批事项</th>
                  <th>绑定企业数</th>
                </tr>
                {foreach name="alist" key="key" item="vo"}
                  <tr class="openInfo2" data-id="{$vo.id}">
                    <td style="text-align: left;color: #000;font-size: 16px;padding-left: 10px;">{$vo.username}</td>
                    <td style="color: #4E9EE5;font-size: 16px;">{$vo.ntodo_num}</td>
                    <td style="color: #4E9EE5;font-size: 16px;">{$vo.company_num}&emsp;>></td>
                  </tr>
                {/foreach}
              </table>
            </div>
        </div>
    </div>
    
</div>
