 <style>
 .name{
   line-height: 35px;
   font-size: 14px;
   overflow: hidden;
 }
.info{
   line-height: 35px;
   font-size: 12px;
}
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="tab-pane fade active in" id="one">
                    <h2 class="page-header" style="text-align: center;">我的申请事项</h2>  
                    {notempty name="list"}
                      {foreach name="list" id="vo"}
                      <div class="row" style="border-bottom: 1px #eee solid;margin-bottom: 10px;">
                          <!-- <div class="name"><span style="float: right;">{$vo.add_time|date="Y-m-d",###}</span></div> -->
                          <div class="info">{$vo.notice}</div>
                          <div style="margin: 5px">
                            <span>{$vo.add_time|date="Y-m-d",###}</span>
                            {if condition="$vo.status==0"}
                              <span style="float: right;color: blue">待受理</span>
                            {elseif condition="$vo.status==1"}
                              <span style="float: right;color: green">审核通过</span>
                            {elseif condition="$vo.status==3"}
                              <span style="float: right;color: #FF9800">已受理，待审核</span>
                            {else/}
                              <span style="float: right;color: red">拒绝通过</span>
                            {/if}
                            {if condition="$vo.url neq ''"}  
                              <a href="{$vo.url}" style="float: right;margin-right: 20px;">查看申请进度>></a>
                            {/if}
                          </div>
                      </div>
                      {/foreach}
                    {else/}
                     <div style="text-align: center;font-size: 16px;margin-top: 50px;">暂无信息</div>
                    {/notempty}
                </div>
            </div>
        </div>
    </div>
</div> 
