<style>
.title{
    width: 30%;
    height: 100px;
    border-radius: 5px;
    margin:5px;
    text-align: center;
    line-height: 100px;
    float: left;
}
.panel-body{
    padding: 0px;
}
</style>
<link href="__CDN__/assets/css/backend{$Think.config.app_debug?'':'.min'}.css?v={$Think.config.site.version}" rel="stylesheet">
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9" style="overflow: hidden;">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="myTabContent" class="tab-content">
                        {if condition="$step eq 1"}
                            <h2 class="page-header">选择绑定类型</h2>
                            <a href="{:url('bindcompany',['step'=>2,'style'=>'企业'])}"><div class="title" style="background: #68c9f3;">企业</div></a>
                            <a href="{:url('bindcompany',['step'=>2,'style'=>'单位'])}"><div class="title" style="background: #bedb85;">单位</div></a>
                            <a href="{:url('bindcompany',['step'=>2,'style'=>'其他'])}"><div class="title" style="background: #ff9800;">其他</div></a>
                        {else/}
                        <h2 class="page-header">先绑定所属{$styleName}</h2>
                        <form id="user-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                          
                            <div class="form-group" style="text-align: center;margin-top: 100px;" >
                                <label class="control-label col-xs-12 col-sm-2">选择您所在的{$styleName}<span class="red">*</span>:</label>
                                <div class="col-xs-12 col-sm-4" style="padding-top: 80px;">
                                    <!-- <select id="company_id" name="company_id" style="height: 35px" class="selectpicker" data-live-search="true">
                                      <option value="0" address="">请选择</option>
                                      {foreach name="companyList" id="vo"}
                                          <option value="{$vo.id}">{$vo.name}</option>
                                      {/foreach}
                                    </select> -->
                                    <input id="company_id" data-source="/admin/company/index?style={$style}" data-primary-key="id"
                               data-field="name" class="form-control selectpage" name="company_id" type="text"
                               value="">
                                </div>
                            </div>
                            <br/><br/><br/>
                            <div class="form-group normal-footer">
                                <label class="control-label col-xs-12 col-sm-2"></label>
                                <div class="col-xs-12 col-sm-8">
                                    <button type="submit" id="submit" disabled class="btn btn-success btn-embossed disabled">确认绑定</button>
                                </div>
                            </div>
                        </form> 
                        {/if}
                    </div>
                </div>
                    
              </div>
        </div> 
    </div>
</div>
