<style>
   .red{
     color: red;
   }
   h3{
     color: green;
   }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="one">
                            <h2 class="page-header" style="text-align: center;">圆梦助学申请</h2>
                            <!-- <div style="margin-bottom: 10px;margin-top: -10px;">
                                <a href="{:url('index/article/index',['type'=>6])}">
                                    <img style="width: 100%" src="__CDN__/assets/img/kunnan.png">
                                </a>
                            </div> -->
                            {notempty name="cacheData"}
                                <span id="delCache" data-type="kunnan" style="font-size: 12px;color: red;line-height: 30px;">删除草稿</span>
                            {/notempty}
                            <form id="user-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                                {:token()}
                                <h3>学生信息</h3>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">姓名<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="s_name" name="s_name" value="{$cacheData.s_name}" data-rule="required" placeholder="本人姓名" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">性别:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <select  id="c-s_sex" class="form-control" name="s_sex">
                                            <option value="男">男</option>
                                            <option value="女">女</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">年龄<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="s_age" name="s_age" value="{$cacheData.s_age}" data-rule="required" placeholder="本人年龄" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">手机<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="s_phone" name="s_phone" value="{$cacheData.s_phone}" data-rule="required" placeholder="手机号码" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">身份证号码<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="s_idcard" name="s_idcard" value="{$cacheData.s_idcard}" data-rule="required" placeholder="身份证号码" >
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">就读学校<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="s_company" name="s_company" value="{$cacheData.s_company}" data-rule="required" placeholder="就读学校">
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">年收入<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="s_income" name="s_income" value="" data-rule="required" placeholder="本人年收入" >
                                    </div>
                                </div> -->
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">家庭人数<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="user_num" name="user_num" value="{$cacheData.user_num}" data-rule="required" placeholder="家庭人数">
                                    </div>
                                </div>
                                <!-- <h3>配偶信息</h3>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">姓名<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="w_name" name="w_name" value="" data-rule="required" placeholder="配偶姓名" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">年龄<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="w_age" name="w_age" value="" data-rule="required" placeholder="配偶年龄" >
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">单位<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="w_company" name="w_company" value="" data-rule="required" placeholder="配偶单位">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">年收入<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="w_income" name="w_income" value="" data-rule="required" placeholder="配偶年收入" >
                                    </div>
                                </div> -->
                                <h3>常住地住房情况</h3>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">面积<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="live_squer" name="live_squer" value="{$cacheData.live_squer}" data-rule="required" placeholder="" >
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">是否独生子女<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                       <input id='dszv1' type="radio" name="is_signle" value="是" checked="checked"><label for="dszv1">&nbsp;是</label>
                                       <input id='dszv2' type="radio" name="is_signle" value="否" style="margin-left: 10px;"><label for="dszv2">&nbsp;否</label><br/>
                                    </div>
								</div> -->

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">住房类型<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                       <select name="live_type" style="height: 35px;width: 150px;">
                                           <option value="福利房">福利房</option>
                                           <option value="单位宿舍">单位宿舍</option>
                                           <option value="经济适用房">经济适用房</option>
                                           <option value="廉租房">廉租房</option>
                                           <option value="商品房">商品房</option>
                                       </select>
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">是否福利房<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                       <input id='fl1' type="radio" name="is_welfare" value="是" checked="checked"><label for="fl1">&nbsp;是</label>
                                       <input id='fl2' type="radio" name="is_welfare" value="否" style="margin-left: 10px;"><label for="fl2">&nbsp;否</label><br/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">是否单位宿舍<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                       <input id='dwss1' type="radio" name="is_company" value="是" checked="checked"><label for="dwss1">&nbsp;是</label>
                                       <input id='dwss2' type="radio" name="is_company" value="否" style="margin-left: 10px;"><label for="dwss2">&nbsp;否</label><br/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">是否经济适用房<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                       <input id='jjsyf1' type="radio" name="is_economy" value="是" checked="checked"><label for="jjsyf1">&nbsp;是</label>
                                       <input id='jjsyf2' type="radio" name="is_economy" value="否" style="margin-left: 10px;"><label for="jjsyf2">&nbsp;否</label><br/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">是否廉租房<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                       <input id='lzf1' type="radio" name="is_lowrent" value="是" checked="checked"><label for="lzf1">&nbsp;是</label>
                                       <input id='lzf2' type="radio" name="is_lowrent" value="否" style="margin-left: 10px;"><label for="lzf2">&nbsp;否</label><br/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">是否商品房<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                       <input id='spf1' type="radio" name="is_mark" value="是" checked="checked"><label for="spf1">&nbsp;是</label>
                                       <input id='spf2' type="radio" name="is_mark" value="否" style="margin-left: 10px;"><label for="spf2">&nbsp;否</label><br/>
                                    </div>
                                </div> -->
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">供房起始日期<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input style="width: 45%" type="text" class="form-control datetimepicker" data-date-format="YYYY-MM" data-use-current="true" id="live_start_date" name="live_start_date" value="{$cacheData.live_start_date}" data-rule="required" placeholder="开始日期" > 至
                                        <input style="width: 45%" type="text" class="form-control datetimepicker" data-date-format="YYYY-MM" data-use-current="true" id="live_end_date" name="live_end_date" value="{$cacheData.live_end_date}" data-rule="required" placeholder="结束日期" >
                                    </div>
                                </div>
                                <h3>农村宅基地情况</h3>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">面积<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="village_squer" name="village_squer" value="{$cacheData.village_squer}" data-rule="required" placeholder="" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">是否私有<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                       <input id='sy1' type="radio" name="is_private" value="是" checked="checked"><label for="sy1">&nbsp;是</label>
                                       <input id='sy2' type="radio" name="is_private" value="否" style="margin-left: 10px;"><label for="sy2">&nbsp;否</label><br/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">备注<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="privete_remark" name="privete_remark" value="{$cacheData.privete_remark}" data-rule="required" placeholder="" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">是否共有<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                       <input id='pub1' type="radio" name="is_public" value="是" checked="checked"><label for="pub1">&nbsp;是</label>
                                       <input id='pub2' type="radio" name="is_public" value="否" style="margin-left: 10px;"><label for="pub2">&nbsp;否</label><br/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">备注<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="public_remark" name="public_remark" value="{$cacheData.public_remark}" data-rule="required" placeholder="" >
                                    </div>
                                </div>

                                <h3>主要家庭成员</h3>
                                <div class="form-group">
                                    <label for="c-business_scope" class="control-label col-xs-12 col-sm-2">主要家庭成员:</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <textarea id="c-info" name="family_info" class="form-control" placeholder="主要家庭成员" data-rule="required" style="height: 80px">{$cacheData.family_info}</textarea>
                                    </div>
                                </div>

                                <h3>家庭年收入</h3>
                                <p>需了解情况：包括家庭成员在内的工资收入、政府救助补贴、农村分红、投资收入（股票、证券、基金……）、其它额外收入等</p>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">工资性质收入<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="gz_income" name="gz_income" value="{$cacheData.gz_income}" data-rule="required" placeholder="" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">政府性补贴（注明：哪个政府部门、何种补贴）<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="zf_income" name="zf_income" value="{$cacheData.zf_income}" data-rule="required" placeholder="" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">农村分红<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="village_income" name="village_income" value="{$cacheData.village_income}" data-rule="required" placeholder="" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">投资性收入<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="tz_income" name="tz_income" value="{$cacheData.tz_income}" data-rule="required" placeholder="" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">其它收入（请注明）:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="else_income" name="else_income" value="{$cacheData.else_income}" data-rule="required" placeholder="" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">收入合计<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="total_income" name="total_income" value="{$cacheData.total_income}" data-rule="required" placeholder="" >
                                    </div>
                                </div>

                                <h3>家庭年支出</h3>
                                <p>需了解情况：以刚性支出为主，包括看病、学费及生活费、离婚的子女抚养费、其它支出等</p>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">医疗费<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control charge" id="medical_charge" name="medical_charge" value="{$cacheData.medical_charge}" data-rule="required" placeholder="" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">学费（年）<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control charge" id="school_charge" name="school_charge" value="{$cacheData.school_charge}" data-rule="required" placeholder="" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">学生生活费（年）<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control charge" id="living_charge" name="living_charge" value="{$cacheData.living_charge}" data-rule="required" placeholder="" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">子女抚养费<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control charge" id="child_charge" name="child_charge" value="{$cacheData.child_charge}" data-rule="required" placeholder="" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">其它支出（请注明）:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control charge" id="else_charge" name="else_charge" value="{$cacheData.else_charge}" data-rule="required" placeholder="" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">房租水电费<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control charge" id="rent_charge" name="rent_charge" value="{$cacheData.rent_charge}" data-rule="required" placeholder="" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">房贷<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control charge" id="house_charge" name="house_charge" value="{$cacheData.house_charge}" data-rule="required" placeholder="" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">支出合计<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" disabled id="total_charge" name="total_charge" value="{$cacheData.total_charge}" data-rule="required" placeholder="" >
                                        <input type="hidden" id="total_charge2" name="total_charge" value="{$cacheData.total_charge}">
                                    </div>
                                </div>


                                <h3>困难情况描述</h3>
                                <div class="form-group">
                                    <label for="c-business_scope" class="control-label col-xs-12 col-sm-2">困难情况描述:</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <textarea id="c-intro" name="intro" class="form-control" placeholder="需了解的情况：何人、是否患病、何时患病、何疾病、医药费支出；子女上学情况、费用等" data-rule="required" style="height: 80px">{$cacheData.intro}</textarea>
                                    </div>
                                </div>
                                <!-- <h3>该职工需要何种帮扶</h3>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">该职工需要何种帮扶<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                       <input id='fc1' type="checkbox" name="needinfo[]" value="1"><label for="fc1">纳入大病保险和医疗互助保险保障（医疗救助、临时救助、慈善救助、职工互助保障计划覆盖</label>
                                       <input id='fc2' type="checkbox" name="needinfo[]" value="2"><label for="fc2">子女助学（助学救助、助学贷款、生活费补助等）</label><br/>
                                       <input id='fc3' type="checkbox" name="needinfo[]" value="3"><label for="fc3">社会救助兜底（纳入低保）</label><br/>
                                       <input id='fc4' type="checkbox" name="needinfo[]" value="4"><label for="fc4">就业创业发展（技能培训、创业培训、创业援助、推荐就业等）</label><br/>
                                       <input id='fc5' type="checkbox" name="needinfo[]" value="5"><label for="fc5">住房保障</label><br/>
                                       <input id='fc6' type="checkbox" name="needinfo[]" value="6"><label for="fc6">节日慰问</label><br/>
                                       <input id='fc7' type="checkbox" name="needinfo[]" value="7"><label for="fc7">纳入社保制度覆盖</label><br/>
                                       <input id='fc8' type="checkbox" name="needinfo[]" value="8"><label for="fc8">其他（注明）</label><br/>
                                    </div>
                                </div> -->
                                <h3>上传资料</h3>
                                <div class="form-group">
                                    <label for="c-avatar" class="control-label col-xs-12 col-sm-2">上传收入证明:</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <div class="input-group">
                                            <input id="c-avatar" type="hidden" data-rule="" class="form-control" size="50" name="image1" type="text" value="{$cacheData.image1}">
                                            <div class="input-group-addon no-border no-padding upimg">
                                                <button type="button" data-url="{:url('index/ajax/upload')}" id="plupload-avatar" class="btn plupload" data-input-id="c-avatar" data-mimetype="*" data-multiple="true" data-preview-id="p-avatar"><i class="fa fa-upload"></i> 上传收入证明</button>
                                            </div>
                                            <span class="msg-box n-right" for="c-avatar"></span>
                                        </div>
                                        <ul class="row list-inline plupload-preview" id="p-avatar"></ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="c-avatar2" class="control-label col-xs-12 col-sm-2">上传申请书图片:</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <div class="input-group">
                                            <input id="c-avatar2" type="hidden" data-rule="" class="form-control" size="50" name="image2" type="text" value="{$cacheData.image2}">
                                            <div class="input-group-addon no-border no-padding upimg">
                                                <button type="button" data-url="{:url('index/ajax/upload')}" id="plupload-avatar2" class="btn plupload" data-input-id="c-avatar2" data-mimetype="*" data-multiple="true" data-preview-id="p-avatar2"><i class="fa fa-upload"></i> 上传申请书图片</button>
                                            </div>
                                            <span class="msg-box n-right" for="c-avatar2"></span>
                                        </div>
                                        <ul class="row list-inline plupload-preview" id="p-avatar2"></ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-8">
                                        <a href="{:url('send_file',['type'=>14])}">点击此处下载文件模版</a>
                                    </div>
                                </div>
                                
                                <div class="form-group normal-footer">
                                    <label class="control-label col-xs-12 col-sm-2"></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <button type="submit" id="submit" disabled="disabled" class="btn btn-success btn-embossed disabled">{:__('Ok')}</button>

                                    </div>
                                </div>
                            </form> 
                        </div>

      
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
