<style>
    td{
        line-height: 25px;
        font-size: 14px;
        vertical-align: top;
    }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="tab-pane fade active in" id="one">
                    <h2 class="page-header" style="text-align: center;">{$title}</h2>
                    {notempty name="mylist"}
                    <div style="border: 1px solid red;padding: 10px;">
                        <h4 style="text-align: center;font-size: 18px;">我的申请记录</h4>
                        {foreach name="mylist" id="vo"}
                        <div class="row" style="border-bottom: 1px #redd solid;margin-bottom: 10px;padding-bottom: 10px">
                            <table width="100%">
                                <tr><td>姓名：</td><td>{$vo.name}</td><td style="padding-left: 10px;">身份证：</td><td>{$vo.idcard|substr=0,4}*************</td></tr>
                                <tr><td>排名</td><td>{$vo.num}</td><td style="padding-left: 10px;">报名时间：</td><td>{$vo.add_time|date="Y-m-d H:i:s",###}</td></tr>
                            </table>
                        </div>
                        {/foreach}
                    </div>
                    {else/}
                    
                    {/notempty}

                    <h4 style="text-align: center;font-size: 18px;">报名排名</h4>
                    {notempty name="list"}
                    {foreach name="list" id="vo"}
                    <div class="row" style="border-bottom: 1px #eee solid;margin-bottom: 10px;padding-bottom: 10px">
                        <table width="100%">
                            <tr><td>姓名：</td><td>{$vo.name}</td><td style="padding-left: 10px;">身份证：</td><td>{$vo.idcard|substr=0,4}*************</td></tr>
                            <tr><td>排名</td><td>{$key+1}</td><td style="padding-left: 10px;">报名时间：</td><td>{$vo.add_time|date="Y-m-d H:i:s",###}</td></tr>
                        </table>
                    </div>
                    {/foreach}
                    {else/}
                    <div style="text-align: center;font-size: 16px;margin-top: 50px;">暂无申请记录</div>
                    {/notempty}
                </div>
            </div>
        </div>
    </div>
</div>
