 <style>
 .name{
   line-height: 35px;
   font-size: 18px;
   overflow: hidden;
 }
.info{
   font-size: 14px;
   text-align: right;
}
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="tab-pane fade active in" id="one">
                    <h2 class="page-header" style="text-align: center;">{$info.title}</h2>  
                    <div class="info">{$info.add_time|date="Y年m月d日",###}</div>
                    <div style="padding: 10px;">{$info.content}</div>
                </div>
            </div>
        </div>
    </div>
</div> 
