 <style>
 .name{
   line-height: 35px;
   font-size: 12px;
   overflow: hidden;
 }
.info{
   font-size: 16px;
}
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="tab-pane fade active in" id="one">
                    <h2 class="page-header" style="text-align: center;">意见反馈</h2>  
                    {notempty name="list"}
                      {foreach name="list" id="vo"}
                      <div class="row" style="border-bottom: 1px #eee solid;margin-bottom: 10px;">
                          <div class="info">{$vo.content}</div>
                          <div class="name"><span style="float: right;">{$vo.add_time|date="Y-m-d H:i:s",###}</span></div>
                          {if condition="$vo.rely_content"}
                            <div style="color: blue">反馈回复：</div>
                            <div style="font-size: 12px;color: blue">{$vo.rely_content}</div>
                            <div class="name"><span style="float: right;color: blue">{$vo.rely_time|date="Y-m-d H:i:s",###}</span></div>
                          {/if}
                      </div>
                      {/foreach}
                    {else/}
                     <div style="text-align: center;font-size: 16px;margin-top: 50px;height: 500px;">暂无反馈</div>
                    {/notempty}
                </div>
            </div>
        </div>
    </div>
    <a href="feedback_add"><img id="feedback" style="width:35px;height:35px;position: fixed;bottom: 100px;right: 10px;" src="__CDN__/assets/img/feedback.png"></a>
</div> 
