 <style>
 .name{
   line-height: 35px;
   font-size: 14px;
   overflow: hidden;
 }
.info{
   line-height: 35px;
   font-size: 12px;
}
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="tab-pane fade active in" id="one">
                    <h2 class="page-header" style="text-align: center;">意见反馈</h2>  
                    <form id="user-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                        {:token()}
                        <div class="form-group">
                            <label for="c-business_scope" class="control-label col-xs-12 col-sm-2">反馈信息:</label>
                            <div class="col-xs-12 col-sm-8">
                                <textarea id="c-content" name="content" class="form-control" placeholder="输入您要反馈的信息" data-rule="required" style="height: 250px"></textarea>
                            </div>
                        </div>
                        <div class="form-group normal-footer">
                            <label class="control-label col-xs-12 col-sm-2"></label>
                            <div class="col-xs-12 col-sm-8">
                                <button type="submit" id="submit" disabled="disabled" class="btn btn-success btn-embossed disabled">{:__('确认提交')}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> 
