<style>
    body{

    }
    .container{
      padding: 0px;
      margin-top: -10px;
    }
   .title{
      position: relative;
      width: 40%;
      background: #fff;
      border-radius: 10px;
      padding: 10px;
      text-align: center;
      margin: 15px;
   }
   .title img{
      width: 55%;
      height: 75px;
      display: block;
      margin: auto;
      margin-bottom: 15px;
   }
   .title p{
      font-size: 14px;
      font-weight: bold;
   }
   .left{
      float: left;
   }
   .right{
      float: right;
   }
   .menu{
      position: fixed;
      bottom: 0px;
      height: 60px;
      width: 100%;
      overflow: hidden;
      background: #fff;
      padding:10px;
      color: #ccc;
      border-top: 1px #ccc solid;
   }
   .menu .submenu{
      text-align: center;
      width: 50%;
   }
   .menu .submenu img {
      width: 25px;
      height: 25px;
      margin-bottom: 5px;
   }
   .notice{
      background: red;
      width: 20px;
      height: 20px;
      border-radius: 20px;
      text-align: center;
      line-height: 20px;
      color: #fff;
      position: absolute;
      right: 10px
   }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9" style="overflow: hidden;height: 100%;">
            <!--<a href="{:url('unindex')}">
            <div class="title left">
                <img src="__CDN__/assets/img/01.png">
                <p>大旺工人</p>
            </div></a> -->
            
             <a href="{:url('zgbf')}">
            <div class="title left">
                <img src="__CDN__/assets/img/22.png">
                <p>职工帮扶</p>
            </div></a>
            
             <a href="{:url('qyrcfw')}">
            <div class="title left">
                <img src="__CDN__/assets/img/23.png">
                <p>人才服务</p>
            </div></a>

            <!-- <a href="{:url('party/index')}">
            <div class="title left">
                <img src="__CDN__/assets/img/d4.png">
                <p>智慧党建</p>
            </div></a> -->


       

            <a href="{:url('zgyhzc')}">
            <div class="title left">
                <img src="__CDN__/assets/img/25.png">
                <p>普惠职工</p>
            </div></a>
            
             <a href="{:url('index/shopcard_list')}">
            <div class="title left">
                <img src="__CDN__/assets/img/xfqcard.png">
                <p>购物折扣卡</p>
            </div></a>

            <!-- <a href="{$sw_url}">
            <div class="title left">
                <img src="__CDN__/assets/img/dzsw.png">
                <p>职工电子书屋</p>
            </div></a> -->

            <a class="gotothird" href="javascript:void(0);" data-url="{$shop_url}">
            <div class="title left">
                <img src="__CDN__/assets/img/xfqcard.png">
                <p>工会会员福利仓</p>
            </div></a>

            <a href="{:url('lianyi_select')}">
            <div class="title left">
                <img src="__CDN__/assets/img/lianyi.png">
                <p>单身职工交友</p>
            </div></a>

            <a href="{:url('mzgl')}">
            <div class="title left">
                <img src="__CDN__/assets/img/mzgl.png">
                <p>民主管理</p>
            </div></a>
            
             <a href="https://wxcs.gdzyz.cn/citiesService.do?cityid=441200">
            <div class="title left">
                <img src="__CDN__/assets/img/26.png">
                <p>志愿服务</p>
            </div></a>
            
            <a href="{:url('score_top')}">
            <div class="title left">
                <img src="__CDN__/assets/img/qyphb.png">
                <p>企业排行</p>
            </div></a>
            
             <a href="{:url('/index/admin')}">
            <div class="title left" style="background-color: #1885e2;color: #fff"><!--  -->
                <img src="__CDN__/assets/img/21.png">
                <p>企业工会管理 ></p>
            </div></a>
            
        </div>
    </div>
    <div style="height:50px;"></div>

    <div class="menu">
        <div class="submenu left">
            <img src="__CDN__/assets/img/home.png">
            <p style="color:#1296DB">首页</p>
        </div>

        <a href="{:url('userinfo')}">
        <div class="submenu left">
            <img src="__CDN__/assets/img/user2.png">
            <p style="color:#999">我的</p>
        </div></a>
    </div>
</div>
