<style>
  body{
    
  }
  .container{
    padding: 0px;
    margin-top: -10px;
  }

  .info{
     line-height: 35px;
     background: #fff;
     margin-bottom: 1px;
     padding: 10px;
     font-size: 14px;
  }
  .info label{
     width: 100px;
  }
   .left{
      float: left;
   }
   .right{
      float: right;
   }
   .menu{
      position: fixed;
      bottom: 0px;
      height: 60px;
      width: 100%;
      overflow: hidden;
      background: #fff;
      padding:10px;
      color: #ccc;
      border-top: 1px #ccc solid;
   }
   .menu .submenu{
      text-align: center;
      width: 50%;
   }
   .menu .submenu img {
      width: 25px;
      height: 25px;
      margin-bottom: 5px;
   }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
           <div class="info"><label>姓&emsp;&emsp;名：</label>{$info.username}</div>
           <div class="info"><label>身份证号：</label>{$info.idcard}</div>
           <div class="info"><label>电&emsp;&emsp;话：</label>{$info.mobile}</div>
           <div class="info"><label>绑定企业：</label>{$info.company_name}&emsp;<a class="unband" href="javascript:void(0)">[解绑]</a></div>
           <div class="info"><label>积&emsp;&emsp;分：</label>{$info.score}</div>
        </div>
    </div>

    <div class="menu">
        <a href="{:url('index')}">
        <div class="submenu left">
            <img src="__CDN__/assets/img/home2.png">
            <p style="color:#999">首页</p>
        </div></a>

        <div class="submenu left">
            <img src="__CDN__/assets/img/user.png">
            <p style="color:#1296DB">我的</p>
        </div>
    </div>
</div>
