<style>
    .container{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 16px;
    }
    .totalInfo{
        border: 1px black solid;
        line-height: 50px;
        margin-top: 10px;
        text-align: center;
        background: #56B4DC;
        color: #FFFFFF;
    }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="tab-pane fade active in" id="one">
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-2">1、总体工作满意度评议({$total}条)</label>
                        <div class="col-xs-12 col-sm-4" style="padding-left: 40px;">
                            <div class="progress">
                                <div class="progress-bar bg-blue" style="width: {$rate1}%">{$rate1}%</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-2">2、文体活动满意度评议({$total}条)</label>
                        <div class="col-xs-12 col-sm-4" style="padding-left: 40px;">
                            <div class="progress">
                                <div class="progress-bar bg-blue" style="width: {$rate2}%">{$rate2}%</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-2">3、职工帮扶满意度评议({$total}条)</label>
                        <div class="col-xs-12 col-sm-4" style="padding-left: 40px;">
                            <div class="progress">
                                <div class="progress-bar bg-blue" style="width: {$rate3}%">{$rate3}%</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-2">4、民主工作满意度评议({$total}条)</label>
                        <div class="col-xs-12 col-sm-4" style="padding-left: 40px;">
                            <div class="progress">
                                <div class="progress-bar bg-blue" style="width: {$rate4}%">{$rate4}%</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-2">5、劳动关系满意度评议({$total}条)</label>
                        <div class="col-xs-12 col-sm-4" style="padding-left: 40px;">
                            <div class="progress">
                                <div class="progress-bar bg-blue" style="width: {$rate5}%">{$rate5}%</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-2">6、工会组织满意度评议({$total}条)</label>
                        <div class="col-xs-12 col-sm-4" style="padding-left: 40px;">
                            <div class="progress">
                                <div class="progress-bar bg-blue" style="width: {$rate6}%">{$rate6}%</div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
