<style>
    .container{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 16px;
    }
    .totalInfo{
        border: 1px black solid;
        line-height: 50px;
        margin-top: 10px;
        text-align: center;
        background: #56B4DC;
        color: #FFFFFF;
    }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="tab-pane fade active in" id="one">
                <div class="col-xs-3 col-sm-3">
                    <div col-xs-12 col-sm-12>评议总数</div>
                    <div class="totalInfo">{$total}</div>
                </div>
                <div class="col-xs-5 col-sm-5">
                    <div col-xs-12 col-sm-12>总体工作满意度</div>
                    <div class="totalInfo" style="background:#098ddf">{$rate}%</div>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <div col-xs-12 col-sm-12>其他满意度</div>
                    <div class="totalInfo"><a href="{:url('jspyinfo')}" style="color: #FFFFFF">查看</a></div>
                </div>

                <div class="col-xs-12 col-sm-12">
                    <hr/>
                    参与评议：
                </div>
                <form id="user-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                    {:token()}
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-2">1、总体工作满意度评议</label>
                        <div class="col-xs-12 col-sm-4" style="padding-left: 40px;">
                            <label id="status1-1"><input for="status1-1" type="radio" name="ztgz" value="1" {if condition="$pyInfo.ztgz eq '1'"}checked="checked"{/if} />满意</label>&emsp;&emsp;&emsp;&emsp;
                            <label id="status1-2"><input for="status1-2" type="radio" name="ztgz" value="2" {if condition="$pyInfo.ztgz eq '2'"}checked="checked"{/if} />不满意</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-2">2、文体活动满意度评议</label>
                        <div class="col-xs-12 col-sm-4" style="padding-left: 40px;">
                            <label id="status2-1"><input for="status2-1" type="radio" name="wthd" value="1" {if condition="$pyInfo.wthd eq '1'"}checked="checked"{/if} />满意</label>&emsp;&emsp;&emsp;&emsp;
                            <label id="status2-2"><input for="status2-2" type="radio" name="wthd" value="2" {if condition="$pyInfo.wthd eq '2'"}checked="checked"{/if}/>不满意</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-2">3、职工帮扶满意度评议</label>
                        <div class="col-xs-12 col-sm-4" style="padding-left: 40px;">
                            <label id="status3-1"><input for="status3-1" type="radio" name="zgbf" value="1" {if condition="$pyInfo.zgbf eq '1'"}checked="checked"{/if}/>满意</label>&emsp;&emsp;&emsp;&emsp;
                            <label id="status3-2"><input for="status3-2" type="radio" name="zgbf" value="2" {if condition="$pyInfo.zgbf eq '2'"}checked="checked"{/if}/>不满意</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-2">4、民主工作满意度评议</label>
                        <div class="col-xs-12 col-sm-4" style="padding-left: 40px;">
                            <label id="status4-1"><input for="status4-1" type="radio" name="mzgz" value="1" {if condition="$pyInfo.mzgz eq '1'"}checked="checked"{/if}/>满意</label>&emsp;&emsp;&emsp;&emsp;
                            <label id="status4-2"><input for="status4-2" type="radio" name="mzgz" value="2" {if condition="$pyInfo.mzgz eq '2'"}checked="checked"{/if}/>不满意</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-2">5、劳动关系满意度评议</label>
                        <div class="col-xs-12 col-sm-4" style="padding-left: 40px;">
                            <label id="status5-1"><input for="status5-1" type="radio" name="ldgx" value="1" {if condition="$pyInfo.ldgx eq '1'"}checked="checked"{/if}/>满意</label>&emsp;&emsp;&emsp;&emsp;
                            <label id="status5-2"><input for="status5-2" type="radio" name="ldgx" value="2" {if condition="$pyInfo.ldgx eq '2'"}checked="checked"{/if}/>不满意</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-2">6、工会组织满意度评议</label>
                        <div class="col-xs-12 col-sm-4" style="padding-left: 40px;">
                            <label id="status6-1"><input for="status6-1" type="radio" name="ghzz" value="1" {if condition="$pyInfo.ghzz eq '1'"}checked="checked"{/if}/>满意</label>&emsp;&emsp;&emsp;&emsp;
                            <label id="status6-2"><input for="status6-2" type="radio" name="ghzz" value="2" {if condition="$pyInfo.ghzz eq '2'"}checked="checked"{/if}/>不满意</label>
                        </div>
                    </div>
                    {empty name="$pyInfo"}
                    <div class="form-group normal-footer">
                        <label class="control-label col-xs-12 col-sm-2"></label>
                        <div class="col-xs-12 col-sm-8">
                            <button type="submit" class="btn btn-success ">提交</button>
                        </div>
                    </div>
                    {else/}
                    <div class="form-group normal-footer">
                        <label class="control-label col-xs-12 col-sm-2"></label>
                        <div class="col-xs-12 col-sm-8" style="text-align: center">
                           您已评议
                        </div>
                    </div>
                    {/empty}
                </form>
            </div>
        </div>
    </div>
</div>
