 <style>

.content img{
   max-width: 100%;
}
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="tab-pane fade active in" id="one">
                    <h2 style="text-align: center;">操作说明</h2>  
                
                    <div class="content">
                      {$intro}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
