<style>
   .red{
     color: red;
   }
   h3{
     color: green;
   }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="one">
                            <h2 class="page-header" style="text-align: center;">单身职工交友报名修改</h2>
                
                            <form id="user-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                                {:token()}
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">所属单位<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" value="{$company_name}" data-rule="required" placeholder="" disabled="disabled">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">姓名<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="name" name="name" value="{$info.name}" data-rule="required" placeholder="姓名" disabled="disabled">
                                        
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">电话<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="phone" name="phone" value="{$info.phone}" data-rule="required" placeholder="电话" disabled="disabled">
                                       
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">出生日期<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="idcard" name="birthday" value="{$info.birthday}" data-rule="required" placeholder="出生日期" disabled="disabled">
                                        
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">年龄<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="age" name="age" value="{$info.age}" data-rule="required" placeholder="年龄" disabled="disabled">
                                        
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">性别<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        {$info.sex}
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">身高<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="height" name="height" value="{$info.height}" data-rule="required" placeholder="175CM">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">籍贯<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="native_place" name="native_place" value="{$info.native_place}" data-rule="required" placeholder="广州">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">学历<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <!-- <input type="text" class="form-control" id="education2" name="education" value="" data-rule="required" placeholder="学历" > -->
                                        <select name="education" style="height: 35px;">
                                            <option value="无">请选择学历</option>
                                            <option value="初中及以下" {if condition="$info.education eq '初中及以下'"}selected="selected"{/if}>初中及以下</option>
                                            <option value="中专" {if condition="$info.education eq '中专'"}selected="selected"{/if}>中专</option>
                                            <option value="高中" {if condition="$info.education eq '高中'"}selected="selected"{/if}>高中</option>
                                            <option value="大专" {if condition="$info.education eq '大专'"}selected="selected"{/if}>大专</option>
                                            <option value="本科" {if condition="$info.education eq '本科'"}selected="selected"{/if}>本科</option>
                                            <option value="研究生" {if condition="$info.education eq '研究生'"}selected="selected"{/if}>研究生</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">月收入<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <select name="income" style="height: 35px;">
                                            <option value="无">请选择收入</option>
                                            <option value="3000至5000" {if condition="$info.income eq '3000至5000'"}selected="selected"{/if}>3000至5000</option>
                                            <option value="5000至8000" {if condition="$info.income eq '5000至8000'"}selected="selected"{/if}>5000至8000</option>
                                            <option value="8000至10000" {if condition="$info.income eq '8000至10000'"}selected="selected"{/if}>8000至10000</option>
                                            <option value="10000以上" {if condition="$info.income eq '10000以上'"}selected="selected"{/if}>10000以上</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">职业<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="job" name="job" value="{$info.job}" data-rule="required" placeholder="软件工程师">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">兴趣爱好:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="hobby" name="hobby" value="{$info.hobby}" data-rule="" placeholder="跑步，游泳，打球">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">才艺:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="skills" name="skills" value="{$info.skills}" data-rule="" placeholder="钢琴，书法，舞蹈">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">是否有住房:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input id='house1' type="radio" name="house" value="有" {if condition="$info.house eq '有'"}checked="checked"{/if}><label for="house1">&nbsp;有</label>
                                       <input id='house2' type="radio" name="house" value="无" {if condition="$info.house eq '无'"}checked="checked"{/if} style="margin-left: 10px;"><label for="house2">&nbsp;无</label><br/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="c-avatar" class="control-label col-xs-12 col-sm-2">生活照:</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <div class="input-group">
                                            <input id="c-avatar" type="hidden" data-rule="" class="form-control" size="50" name="images" type="text" value="{$info.images}">
                                            <div class="input-group-addon no-border no-padding upimg">
                                                <button type="button" data-url="{:url('index/ajax/upload')}" id="plupload-avatar" class="btn plupload" data-input-id="c-avatar" data-mimetype="*" data-multiple="true" data-preview-id="p-avatar"><i class="fa fa-upload"></i> 上传生活照</button>
                                            </div>
                                            <span class="msg-box n-right" for="c-avatar"></span>
                                        </div>
                                        <ul class="row list-inline plupload-preview" id="p-avatar"></ul>
                                    </div>
                                </div>
                                <h3 style="color: green;text-align: center;">交友要求</h3>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">性格要求:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="f_character" name="f_character" value="{$info.f_character}" data-rule="" placeholder="活泼，开朗">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">职业要求:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="f_job" name="f_job" value="{$info.f_job}" data-rule="" placeholder="财务">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">月收入要求:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <select name="f_income" style="height: 35px;">
                                            <option value="无">请选择月收入要求</option>
                                            <option value="3000至5000" {if condition="$info.f_income eq '3000至5000'"}selected="selected"{/if}>3000至5000</option>
                                            <option value="5000至8000" {if condition="$info.f_income eq '5000至8000'"}selected="selected"{/if}>5000至8000</option>
                                            <option value="8000至10000" {if condition="$info.f_income eq '8000至10000'"}selected="selected"{/if}>8000至10000</option>
                                            <option value="10000以上" {if condition="$info.f_income eq '10000以上'"}selected="selected"{/if}>10000以上</option>
                                        </select>
                                        <!-- <input type="text" class="form-control" id="f_income" name="f_income" value="" data-rule="" placeholder="5000以上"> -->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">身高要求:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="f_height" name="f_height" value="{$info.f_height}" data-rule="" placeholder="160以上">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">年龄要求:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <!-- <input type="text" class="form-control" id="s_age" name="s_age" value="" data-rule="" placeholder="25以上"> -->
                                        <select name="s_age" style="height: 35px;">
                                            <option value="无">请选年龄要求</option>
                                            <option value="20岁至25岁" {if condition="$info.s_age eq '20岁至25岁'"}selected="selected"{/if}>20岁至25岁</option>
                                            <option value="25岁至30岁" {if condition="$info.s_age eq '25岁至30岁'"}selected="selected"{/if}>25岁至30岁</option>
                                            <option value="30岁至35岁" {if condition="$info.s_age eq '30岁至35岁'"}selected="selected"{/if}>30岁至35岁</option>
                                            <option value="35岁至40岁" {if condition="$info.s_age eq '35岁至40岁'"}selected="selected"{/if}>35岁至40岁</option>
                                            <option value="40岁至45岁" {if condition="$info.s_age eq '40岁至45岁'"}selected="selected"{/if}>40岁至45岁</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">地区要求:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="s_city" name="s_city" value="{$info.s_city}" data-rule="" placeholder="广州">
                                    </div>
                                </div>
                
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">住房要求:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input id='house11' type="radio" name="f_house" value="有" {if condition="$info.f_house eq '有'"}checked="checked"{/if}><label for="house11">&nbsp;有</label>
                                       <input id='house22' type="radio" name="f_house" value="无" {if condition="$info.f_house eq '无'"}checked="checked"{/if} style="margin-left: 10px;"><label for="house22">&nbsp;无</label><br/>
                                    </div>
                                </div>
                                <div class="form-group normal-footer">
                                    <label class="control-label col-xs-12 col-sm-2"></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <button type="submit" id="submit" disabled="disabled" class="btn btn-success btn-embossed disabled">{:__('确认修改')}</button>
                                    </div>
                                </div>
                            </form> 
                        </div>

      
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
