
<style>
   body{padding-top: 0px}
   h2{
    text-align: center;
   }
   .atitle{
     width: 60;
     height: 55px;
     text-align: center;
     line-height: 55px;
     margin: auto;
     color: #fff;
     font-size: 18px;
   }
</style>

<div id="content-container" class="container">
    <div id="forminfo" class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="myTabContent" class="tab-content">
                            <h2 class="page-header">性别选择</h2>
                            <p style="text-align: center;margin-bottom: 20px;">请选择您的性别</p>
                            <div style="text-align: center;">
                               <a href="{:url('lianyi',['type'=>1])}"><div class="atitle" style="background: #227BD5">单身男性</div></a>
                               <a href="{:url('lianyi',['type'=>2])}"><div class="atitle" style="background: #A82121;margin-top: 50px;">单身女性</div></a>
                              
                            </div>
                           
                      </div>
                  </div>
              </div>
          </div>
      </div>
</div>
