<style>
   .red{
     color: red;
   }
   h3{
     color: green;
   }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="one">
                            <h2 class="page-header" style="text-align: center;">劳模和工匠人才创新工作室申报</h2>
                            <div style="margin-bottom: 10px;margin-top: -10px;">
                                <a href="{:url('index/article/index',['type'=>9])}">
                                    <img style="width: 100%" src="__CDN__/assets/img/model_craftsman.png">
                                </a>
                            </div>
                            <form id="user-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                                <p style="text-align: center;color: red;">劳模和工匠人才创新工作室申请及材料请于6月15日前提交，具体事宜可咨询：3643033  高新区总工会民经宣教部</p>
                                {:token()}
                                <!--<h3>工作室信息</h3>-->
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">{:__('Union_company_name')}<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="name" name="name" value="{$company_name}" data-rule="required" placeholder="" disabled="disabled">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">工作室名称<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="studio_name" name="studio_name" value="" data-rule="required" placeholder="工作室名称" >
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">创建日期<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" id="createdate" name="createdate" value="" data-rule="required" placeholder="创建日期" >
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">所在单位<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="company" name="company" value="" data-rule="required" placeholder="所在单位">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">命名单位<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="named_unit" name="named_unit" value="" data-rule="required" placeholder="命名单位" >
                                    </div>
                                </div> -->

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">所属行业<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="professional_field" name="professional_field" value="" data-rule="required" placeholder="所属行业" >
                                    </div>
                                </div>

                                <!-- <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">命名日期<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" id="nameddate" name="nameddate" value="" data-rule="required" placeholder="命名日期" >
                                    </div>
                                </div> -->
                                 <!--<div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">工作室类型<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="studio_type" name="studio_type" value="" data-rule="required" placeholder="工作室类型" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">成员总数<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="user_num" name="user_num" value="" data-rule="required" placeholder="成员总数" >
                                    </div>
                                </div>-->
                                <!--<h3>工作室领衔人情况</h3>-->
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">工作室联系人<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="leader_name" name="leader_name" value="" data-rule="required" placeholder="工作室联系人" >
                                    </div>
                                </div>
                                <!--<div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">性别<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input id='dwss1' type="radio" name="sex" value="男" checked="checked"><label for="dwss1">&nbsp;男</label>
                                       <input id='dwss2' type="radio" name="sex" value="女" style="margin-left: 10px;"><label for="dwss2">&nbsp;女</label><br/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">出生年月<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" id="birthday" name="birthday" value="" data-rule="required" placeholder="出生年月" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">学历<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="education" name="education" value="" data-rule="required" placeholder="学历" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">民族<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="mingzu" name="mingzu" value="" data-rule="required" placeholder="民族" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">政治面貌<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="political_outlook" name="political_outlook" value="" data-rule="required" placeholder="政治面貌" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">专业<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="major" name="major" value="" data-rule="required" placeholder="专业" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">技术职称<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="technical_title" name="technical_title" value="" data-rule="required" placeholder="技术职称" >
                                    </div>
                                </div>-->
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">联系电话<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="phone" name="phone" value="" data-rule="required" placeholder="联系电话" >
                                    </div>
                                </div>

                                <!--<div class="form-group">
                                    <label for="c-avatar" class="control-label col-xs-12 col-sm-2">上传申请文件:</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <div class="input-group">
                                            <input id="c-avatar" type="hidden" data-rule="" class="form-control" size="50" name="file" type="text" value="">
                                            <div class="input-group-addon no-border no-padding">
                                                <button type="button" data-url="{:url('index/ajax/upload')}" id="plupload-avatar" class="btn plupload" data-input-id="c-avatar" data-mimetype="doc,docx" data-multiple="false" data-preview-id="p-avatar"><i class="fa fa-upload"></i> 上传申请文件</button>
                                            </div>
                                            <span class="msg-box n-right" for="c-avatar"></span>
                                        </div>
                                        <ul class="row list-inline plupload-preview" id="p-avatar"></ul>
                                    </div>
                                </div>-->
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-8">
                                        <a href="{:url('send_file',['type'=>1])}">点击此处下载文件模版</a>
                                    </div>
                                </div>


                                <div class="form-group normal-footer">
                                    <label class="control-label col-xs-12 col-sm-2"></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <button type="submit" id="submit" disabled="disabled" class="btn btn-success btn-embossed disabled">{:__('Ok')}</button>
                                    </div>
                                </div>
                            </form>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
