<style>
    .container{
        padding-left: 5px;
        padding-right: 5px;
    }
    .panel-default{
        padding: 0 5px;
    }
    .name{
        line-height: 35px;
        font-size: 14px;
        overflow: hidden;
    }
    .info{
        font-size: 16px;
        font-weight: bold;
    }
    .tp{
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        color: #fff;
        border-radius: 60px;
        margin: auto;
        cursor: pointer;
    }
    a{
        text-decoration: underline;
    }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="tab-pane fade active in" id="one">
                {notempty name="pyList"}
                {foreach name="pyList" id="vo"}
                <div class="col-xs-12 col-sm-12" style="background: #FFFFFF;padding: 10px;margin-top: 2px;">
                    <div class="info col-xs-6 col-sm-6">{$vo.username}</div>
                    <div class="col-xs-6 col-sm-6" style="text-align: right;color: #999;">{$vo.add_time|date="Y年m月d日H:i",###}</div>
                    <div class="name col-xs-12 col-sm-12">{$vo.content}</div>
                    <div class="name col-xs-12 col-sm-12" style="text-align: right">
                        {if condition="$vo.status eq 1"}
                        <font color="green">满意</font>
                        {else/}
                        <font color="red">不满意</font>
                        {/if}
                    </div>
                </div>
                {/foreach}
                <div class="col-xs-12 col-sm-12" style="height: 100px;"></div>
                {else/}
                <div style="text-align: center;font-size: 12px;margin-top: 50px;height: 100px;">暂无评议</div>
                {/notempty}
            </div>
        </div>
    </div>
</div>
