<style>
    body{

    }
    .container{
      padding: 0px;
      margin-top: -10px;
    }
   .title{
      position: relative;
      width: 40%;
      background: #fff;
      border-radius: 10px;
      padding: 10px;
      text-align: center;
      margin: 15px;
   }
   .title img{
      width: 55%;
      height: 75px;
      display: block;
      margin: auto;
      margin-bottom: 15px;
   }
   .title p{
      font-size: 14px;
      font-weight: bold;
   }
   .left{
      float: left;
   }
   .right{
      float: right;
   }
   .menu{
      position: fixed;
      bottom: 0px;
      height: 60px;
      width: 100%;
      overflow: hidden;
      background: #fff;
      padding:10px;
      color: #ccc;
      border-top: 1px #ccc solid;
   }
   .menu .submenu{
      text-align: center;
      width: 50%;
   }
   .menu .submenu img {
      width: 25px;
      height: 25px;
      margin-bottom: 5px;
   }
   .notice{
      background: red;
      width: 20px;
      height: 20px;
      border-radius: 20px;
      text-align: center;
      line-height: 20px;
      color: #fff;
      position: absolute;
      right: 10px
   }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9" style="overflow: hidden;height: 100%;">
	         <a href="{:url('factory_information_list')}">
            <div class="title left">
                <img src="__CDN__/assets/img/gwxx.png">
                <p>厂务信息公开</p>
            </div></a>

            <a href="{:url('index/article/index',['type'=>16])}">
            <div class="title left">
                <img src="__CDN__/assets/img/mzcyzy.png">
                <p>民主参与指引</p>
            </div></a>
            
            <a href="{:url('proposal_add')}">
            <div class="title left">
                <img src="__CDN__/assets/img/ytzj.png">
                <p>职工提案征集</p>
            </div></a>

            <a href="{:url('proposal_list')}">
            <div class="title left">
                <img src="__CDN__/assets/img/tylb.png">
                <p>线上职工大会</p>
            </div></a>

            <a href="{:url('mzpy')}">
                <div class="title left">
                    <img src="__CDN__/assets/img/mzpy.png">
                    <p>民主评议</p>
                </div></a>
          
        </div>
    </div>
    <div style="height:50px;"></div>

    <div class="menu">
        <a href="{:url('index')}">
        <div class="submenu left">
            <img src="__CDN__/assets/img/home2.png">
            <p style="color:#999">首页</p>
        </div></a>

        <a href="{:url('userinfo')}">
        <div class="submenu left">
            <img src="__CDN__/assets/img/user2.png">
            <p style="color:#999">我的</p>
        </div></a>
    </div>
</div>
