<style>
.list{
    height: 80px;
    line-height: 80px;
    margin-top: 20px;
}
.list img{
    width: 50px;
    height: 50px;
}
.list .title{
    font-size: 16px;
    font-weight: bold;
}
.list a{
    color: #FFFFFF;
    background:#0f4bac;
    padding: 10px;
    font-weight: bold;
}
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-24">
            <div class="panel panel-default">
                <div class="tab-pane fade active in" id="one" style="min-height: 500px;">
                    <div class="list" style="background: #d58512">
                        <div class="col-md-2 col-xs-2 col-sm-2"><img src="__CDN__/assets/img/zxpy.png"></div>
                        <div class="col-md-6 col-xs-6 col-sm-6 title">本届工会主席评议</div>
                        <div class="col-md-4 col-xs-4 col-sm-4"><a href="{:url('zxpy')}">去评议</a></div>
                    </div>

                    <div class="list" style="background: #0d95e8">
                        <div class="col-md-2 col-xs-2 col-sm-2"><img src="__CDN__/assets/img/jspy.png"></div>
                        <div class="col-md-6 col-xs-6 col-sm-6 title">本届工会建设评议</div>
                        <div class="col-md-4 col-xs-4 col-sm-4"><a href="{:url('jspy')}">去评议</a></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
