 <style>
 .name{
   line-height: 35px;
   font-size: 14px;
   overflow: hidden;
 }
.info{
   line-height: 35px;
   font-size: 12px;
}
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="tab-pane fade active in" id="one">
                    <h2 class="page-header" style="text-align: center;">我的消息</h2>  
                    {notempty name="list"}
                      {foreach name="list" id="vo"}
                      <div class="row" style="border-bottom: 1px #eee solid;margin-bottom: 10px;">
                          <!-- <div class="name"><span style="float: right;">{$vo.add_time|date="Y-m-d",###}</span></div> -->
                          <div class="info">{$vo.notice}</div>
                          <div style="text-align: right;margin: 5px">
                            <span style="float: left;">{$vo.add_time|date="Y-m-d",###}</span>
                            {if condition="$vo.read_time eq 0"}
                            <!-- <button class="btn-success read" data-id={$vo.id}>确认已读</button> -->
                            <font color="red">未读</font>
                            {else/}
                            <font color="blue">已读</font>
                            {/if}
                          </div>
                      </div>
                      {/foreach}
                    {else/}
                     <div style="text-align: center;font-size: 16px;margin-top: 50px;">暂无信息</div>
                    {/notempty}
                </div>
            </div>
        </div>
    </div>
</div> 
