 <style>
 .name{
   line-height: 35px;
   font-size: 14px;
   overflow: hidden;
 }
.info{
   font-size: 16px;
   font-weight: bold;
}
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="tab-pane fade active in" id="one">
                    <h2 class="page-header" style="text-align: center;">投票列表</h2>  
                    {notempty name="list"}
                      {foreach name="list" id="vo"}
                      <div style="border-bottom: 1px solid #ccc;overflow: hidden;padding: 10px 0px;">
                        <div class="col-xs-2 col-sm-2">
                          <img src="__CDN__/assets/img/01.png" style="width: 35px;height: 35px;border-radius: 35px;">
                        </div>
                        <div class="col-xs-8 col-sm-8">
                            <div class="info">{$vo.username}</div>
                            <div style="font-size: 12px;color: #999;">{$vo.add_time|date="Y年m月d日H:i",###}</div>
                            <div class="name">{$vo.content}</div>
                        </div>
                        <div class="col-xs-2 col-sm-2" style="line-height: 60px;">
                           {if condition="$vo.status eq 0"}
                             <span>弃权</span>
                           {elseif condition="$vo.status eq 1"}
                            <span style="color: green;">同意</span>
                           {else}
                            <span style="color: red;">不同意</span>
                           {/if}
                        </div>
                      {/foreach}
                    {else/}
                     <div style="text-align: center;font-size: 16px;margin-top: 50px;height: 500px;">暂无相关记录</div>
                    {/notempty}
                </div>
            </div>
        </div>
    </div>
</div> 
