 <style>
 .container{
   padding-left: 5px;
   padding-right: 5px;
 }
 .panel-default{
   padding: 0 5px;
 }
 .name{
   line-height: 35px;
   font-size: 14px;
   overflow: hidden;
 }
.info{
   font-size: 16px;
   font-weight: bold;
}
.tp{
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  border-radius: 60px;
  margin: auto;
  cursor: pointer;
}
a{
  text-decoration: underline;
}
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="tab-pane fade active in" id="one" style="height: 900px;">
                    <h2 class="page-header" style="text-align: center;">提案讨论</h2> 
                    <div style="background: #eee;padding: 10px;overflow: hidden;">
                      <div class="col-xs-6 col-sm-6">提案人：{$info.username}</div>
                      <div class="col-xs-6 col-sm-6">{$info.add_time|date="Y年m月d日H:i",###}</div>
                      <div class="col-xs-12 col-sm-12" style="background: #fff;margin-top: 10px;padding-top: 10px;">
                         <div style="font-size: 16px;font-weight: bold;">{$info.title}</div>
                         <hr />
                         <div style="font-size: 14px;padding-bottom: 10px;">{$info.content}</div>
                      </div>
                    </div> 
                    <div class="col-xs-12 col-sm-12" style="padding: 10px;text-align: center;background: #eee;">
                      <div class="col-xs-4 col-sm-4"><div class="tp" status="1" style="background: green;">同意</div></div>
                      <div class="col-xs-4 col-sm-4"><div class="tp" status="0" style="background: #ccc;">弃权</div></div>
                      <div class="col-xs-4 col-sm-4"><div class="tp" status="2" style="background: red;">不同意</div></div>
                    </div>
                    <div class="col-xs-12 col-sm-12" style="padding: 5px;text-align: center;background: #eee;">
                      <div class="col-xs-4 col-sm-4"><a style="color: green;" href="{:url('proposal_tplist',['status'=>1,'id'=>$info.id])}">已同意{$info.agree_num}人</a></div>
                      <div class="col-xs-4 col-sm-4"><a style="color: #ccc;" href="{:url('proposal_tplist',['status'=>0,'id'=>$info.id])}">弃权{$info.qq_num}人</a></div>
                      <div class="col-xs-4 col-sm-4"><a style="color: red;" href="{:url('proposal_tplist',['status'=>2,'id'=>$info.id])}">不同意{$info.noagree_num}人</a></div>
                    </div>
                    <div class="col-xs-12 col-sm-12" style="padding-top:20px;background: #eee;margin-bottom: 20px;">
                      <div class="col-xs-8 col-sm-8" style="font-size: 16px;">热评论&nbsp;<span style="font-size: 12px;color: red;">截至讨论时间:{$info.vote_end_time|date="Y年m月d日",###}</span></div>
                        <div class="col-xs-4 col-sm-4"><button id="cjtl" style="border-radius: 10px;background: yellow">参加讨论</button></div>
                    </div>

                    {notempty name="info.vote_list"}
                      {foreach name="info.vote_list" id="vo"}
                      <div style="border-bottom: 1px solid #ccc;padding: 10px 0px;">
                        <div class="col-xs-2 col-sm-2">
                          <img src="__CDN__/assets/img/01.png" style="width: 35px;height: 35px;border-radius: 35px;">
                        </div>
                        <div class="col-xs-10 col-sm-10">
                            <div class="info">{$vo.username}</div>
                            <div style="font-size: 12px;color: #999;">{$vo.add_time|date="Y年m月d日H:i",###}</div>
                            <div class="name">{$vo.content}</div>
                        </div>
                      </div>
                      {/foreach}
                    {else/}
                     <div style="text-align: center;font-size: 12px;margin-top: 50px;height: 100px;">暂无评论</div>
                    {/notempty}
                </div>
            </div>
            <div id="tpdiao" style="display: none;padding: 10px;">
              <form id="user-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                  {:token()}
                  <input type="hidden" name="status" id="status" value="0">
                  <input type="hidden" name="type" value="1">
                  <div class="form-group">
                      <label class="control-label col-xs-12 col-sm-2">输入理由(选填):</label>
                      <div class="col-xs-12 col-sm-4">
                          <textarea class="form-control" data-rule="" id="content" name="content" placeholder="输入理由(选填)" rows="5"></textarea>
                      </div>
                  </div>

                  <div class="form-group normal-footer">
                      <label class="control-label col-xs-12 col-sm-2"></label>
                      <div class="col-xs-12 col-sm-8">
                          <button type="submit" id="submit0" style="display: none;" class="btn btn-qq btn-embossed">弃权</button>
                          <button type="submit" id="submit1" style="display: none;" class="btn btn-success btn-embossed">同意</button>
                          <button type="submit" id="submit2" style="display: none;" class="btn btn-danger btn-embossed">不同意</button>
                      </div>
                  </div>
              </form>
            </div>
            <div id="tl" style="display: none;padding: 10px;">
              <form id="user-form2" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                  {:token()}
                  <input type="hidden" name="status" value="0">
                  <input type="hidden" name="type" value="2">
                  <div class="form-group">
                      <label class="control-label col-xs-12 col-sm-2">输入评论内容:</label>
                      <div class="col-xs-12 col-sm-4">
                          <textarea class="form-control" data-rule="required" id="content2" name="content" placeholder="输入评论内容" rows="5"></textarea>
                      </div>
                  </div>

                  <div class="form-group normal-footer">
                      <label class="control-label col-xs-12 col-sm-2"></label>
                      <div class="col-xs-12 col-sm-8">
                          <button type="submit" id="submit" class="btn btn-success btn-embossed">发布</button>
                      </div>
                  </div>
              </form>
            </div>
        </div>
    </div>
</div> 
