 <style>
 .name{
   line-height: 35px;
   font-size: 14px;
   overflow: hidden;
 }
.info{
   font-size: 16px;
   font-weight: bold;
}
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="tab-pane fade active in" id="one">
                    <h2 class="page-header" style="text-align: center;">提案列表</h2>  
                    {notempty name="list"}
                      {foreach name="list" id="vo"}
                      <div style="border-bottom: 1px solid #ccc;overflow: hidden;padding: 10px 0px;">
                        <div class="col-xs-9 col-sm-9">
                            <div class="info">{$vo.title}</div>
                            <div class="name">截至讨论：{$vo.vote_end_time|date="Y年m月d日",###}<span style="color: green;">&nbsp;已有{$vo.plnum}条评论</span></div>
                        </div>
                        <div class="col-xs-3 col-sm-3">
                          {if condition="$vo.vote_status eq 1"}
                            <a href="{:url('proposal_info',['id'=>$vo.id])}" style="line-height: 60px;">去讨论</a>
                          {else/}
                            <a href="{:url('proposal_info',['id'=>$vo.id])}" style="line-height: 60px;color: #999">已结束</a>
                          {/if}
                        </div>
                      </div>
                      {/foreach}
                    {else/}
                     <div style="text-align: center;font-size: 16px;margin-top: 50px;height: 500px;">暂无提案</div>
                    {/notempty}
                </div>
            </div>
        </div>
    </div>
</div> 
