<style>
    body{
     
    }
    .container{
      padding: 0px;
      margin-top: -10px;
    }
   .title{
      width: 40%;
      background: #fff;
      border-radius: 10px;
      padding: 10px;
      text-align: center;
      margin: 15px;
      height: 150px;
   }
   .title img{
      width: 55%;
      height: 75px;
      display: block;
      margin: auto;
      margin-bottom: 15px;
   }
   .title p{
      font-size: 14px;
      font-weight: bold;
   }
   .left{
      float: left;
   }
   .right{
      float: right;
   }
   .menu{
      position: fixed;
      bottom: 0px;
      height: 60px;
      width: 100%;
      overflow: hidden;
      background: #fff;
      padding:10px;
      color: #ccc;
      border-top: 1px #ccc solid;
   }
   .menu .submenu{
      text-align: center;
      width: 50%;
   }
   .menu .submenu img {
      width: 25px;
      height: 25px;
      margin-bottom: 5px;
   }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9" style="overflow: hidden;">
        	<a href="{:url('model_craftsman')}">
            <div class="title left">
                <img src="__CDN__/assets/img/qyrcfw1.png">
                <p>创新工作室申报</p>
            </div></a>

            <a href="{:url('skills_competition')}">
            <div class="title right">
                <img src="__CDN__/assets/img/qyrcfw2.png">
                <p>技能竞赛信息上报</p>
            </div></a>

            <!-- <a href="https://job.zqgx.gov.cn/linkLogin/userGuest">
            <div class="title left">
                <img src="__CDN__/assets/img/qyrcfw3.png">
                <p>企业招聘信息</p>
            </div></a> -->

            <a href="{:url('skills_education')}">
            <div class="title left">
                <img src="__CDN__/assets/img/qyrcfw4.png">
                <p>技能和学历提升</p>
            </div></a>    

        </div>
    </div>

    <div class="menu">
        <a href="{:url('index')}">
        <div class="submenu left">
            <img src="__CDN__/assets/img/home2.png">
            <p style="color:#999">首页</p>
        </div></a>

        <a href="{:url('userinfo')}">
        <div class="submenu left">
            <img src="__CDN__/assets/img/user2.png">
            <p style="color:#999">我的</p>
        </div></a>
    </div>
</div>
