<style>
   .red{
     color: red;
   }
   h3{
     color: green;
   }
   .atitle{
     width: 60;
     height: 55px;
     text-align: center;
     line-height: 55px;
     margin: auto;
     color: #fff;
     font-size: 18px;
   }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div id="myTabContent" class="tab-content">
                        {if condition="$Request.param.type eq 0"}
                        <h2 class="page-header" style="text-align: center;">学校学费优惠申请</h2>
                        <p style="text-align: center;margin-bottom: 20px;font-size: 16px">请选择您要申报的学校</p>
                        <div style="text-align: center;">
                           <a href="{:url('school_discount',['type'=>4])}"><img style="width: 100%;height: 85px;" src="/assets/img/gdxx.png"></a> 
                           <a href="{:url('school_discount',['type'=>1])}"><img style="width: 100%;height: 85px;margin-top: 50px;" src="/assets/img/hf.png"></a>
                           <a href="{:url('school_discount',['type'=>2])}"><img style="width: 100%;height: 85px;margin-top: 50px;" src="/assets/img/gw.png"></a> 
                           <a href="{:url('school_discount',['type'=>3])}"><img style="width: 100%;height: 85px;margin-top: 50px;" src="/assets/img/hcl.jpg"></a>
                           <a href="{:url('school_discount',['type'=>5])}"><img style="width: 100%;height: 85px;margin-top: 50px;" src="/assets/img/msb.png"></a> 
                           <a href="{:url('school_discount',['type'=>6])}"><img style="width: 100%;height: 85px;margin-top: 50px;" src="/assets/img/mn.png"></a>                       
                        </div>
                        {else/}
                        
                        <div class="tab-pane fade active in" id="one">
                            <h2 class="page-header" style="text-align: center;">学校学费优惠申请</h2>
                            <div style="margin-bottom: 10px;margin-top: -10px;">
                                {if condition="$Request.param.type eq 1"}
                                    <a href="{:url('index/article/info',['id'=>25])}">
                                        <img style="width: 100%" src="__CDN__/assets/img/school_discount.png">
                                    </a>
                                {elseif condition="$Request.param.type eq 2"}
                                    <a href="{:url('index/article/info',['id'=>30])}">
                                        <img style="width: 100%" src="__CDN__/assets/img/school_discount.png">
                                    </a>
                                {elseif condition="$Request.param.type eq 3"}
                                    <a href="{:url('index/article/info',['id'=>31])}">
                                        <img style="width: 100%" src="__CDN__/assets/img/school_discount.png">
                                    </a>
                                {elseif condition="$Request.param.type eq 4"}
                                    <a href="{:url('index/article/info',['id'=>32])}">
                                        <img style="width: 100%" src="__CDN__/assets/img/school_discount.png">
                                    </a>
                                {elseif condition="$Request.param.type eq 5"}
                                    <a href="{:url('index/article/info',['id'=>33])}">
                                        <img style="width: 100%" src="__CDN__/assets/img/school_discount.png">
                                    </a>
                                {elseif condition="$Request.param.type eq 6"}
                                    <a href="{:url('index/article/info',['id'=>34])}">
                                        <img style="width: 100%" src="__CDN__/assets/img/school_discount.png">
                                    </a>
                                {/if}
                                <!-- <a href="{:url('index/article/index',['type'=>13])}">
                                    <img style="width: 100%" src="__CDN__/assets/img/school_discount.png">
                                </a> -->
                            </div>
                            <form id="user-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                                {:token()}
                                <div class="form-group">
                                    <span style="float: right;padding-right: 20px;"><a href="{:url('school_discount_list')}">我的申请记录>></a> </span>
                                    <label class="control-label col-xs-12 col-sm-2">{:__('Union_company_name')}<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="name" name="name" value="{$company_name}" data-rule="required" placeholder="" disabled="disabled">
                                    </div>
                                </div>

                                <h3>职工信息</h3>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">家长姓名<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="f_name" name="f_name" value="" data-rule="required" placeholder="家长姓名" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">家长年龄<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="f_age" name="f_age" value="" data-rule="required" placeholder="家长年龄" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">家长证件类型<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                       <select name="f_idcard_type" style="height: 35px;width: 150px;">
                                           <option value="身份证">身份证</option>
                                           <option value="护照">护照</option>
                                       </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">家长证件号码<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="f_idcard" name="f_idcard" value="" data-rule="required" placeholder="家长证件号码" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">与学生关系<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="f_relation" name="f_relation" value="" data-rule="required" placeholder="与学生关系" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">户籍<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="f_lacation" name="f_lacation" value="" data-rule="required" placeholder="户籍" >
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">工作单位<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="f_company" name="f_company" value="" data-rule="required" placeholder="工作单位" >
                                    </div>
                                </div> -->
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">职务<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="f_job" name="f_job" value="" data-rule="required" placeholder="职务" >
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">联系电话<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="phone" name="phone" value="" data-rule="required" placeholder="联系电话" >
                                    </div>
                                </div>
                                <h3>子女信息</h3>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">学生姓名<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="s_name" name="s_name" value="" data-rule="required" placeholder="学生姓名" >
                                    </div>
                                </div>
                                {if condition="$Request.param.type eq 4"}
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">报考类型:</label>
                                    <div class="col-xs-12 col-sm-4">
                                       <select name="s_baokao_type" style="height: 35px;width: 150px;">
                                           <option value="成人高考">成人高考</option>
                                           <option value="中职">中职</option>
                                       </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">目前学历:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="s_xueli" name="s_xueli" value="" data-rule="" placeholder="目前学历" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">毕业学校:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="s_xuexiao" name="s_xuexiao" value="" data-rule="" placeholder="毕业学校" >
                                    </div>
                                </div>
                                {/if}
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">学生性别<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input id='dwss1' type="radio" name="s_sex" value="男" checked="checked"><label for="dwss1">&nbsp;男</label>
                                       <input id='dwss2' type="radio" name="s_sex" value="女" style="margin-left: 10px;"><label for="dwss2">&nbsp;女</label><br/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">学生年龄<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="s_age" name="s_age" value="" data-rule="required" placeholder="学生年龄" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">学生证件类型<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                       <select name="s_idcard_type" style="height: 35px;width: 150px;">
                                           <option value="身份证">身份证</option>
                                           <option value="护照">护照</option>
                                       </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">学生证件号码<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="s_idcard" name="s_idcard" value="" data-rule="required" placeholder="学生证件号码" >
                                    </div>
                                </div>
                                {if condition="$Request.param.type eq 1"}
                                    <input type="hidden" name="s_school_name" value="华附">
                                {elseif condition="$Request.param.type eq 2"}
                                    <input type="hidden" name="s_school_name" value="广外">
                                {elseif condition="$Request.param.type eq 3"}
                                    <input type="hidden" name="s_school_name" value="红黄蓝亲子园">
                                {elseif condition="$Request.param.type eq 4"}
                                    <input type="hidden" name="s_school_name" value="广东信息工程职业学院">
                                {elseif condition="$Request.param.type eq 5"}
                                    <input type="hidden" name="s_school_name" value="牧思托育服务">
                                {elseif condition="$Request.param.type eq 6"}
                                    <input type="hidden" name="s_school_name" value="牧恩托育服务">
                                {/if}
                                <!-- <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">申报学校<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <select name="s_school_name" style="height: 35px;width: 150px;">
                                            <option value="华附">华附</option>
                                            <option value="广外">广外</option>
                                        </select>
                                    </div>
                                </div> -->
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">拟入年级<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="s_class" name="s_class" value="" data-rule="required" placeholder="拟入年级" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">特长<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="s_techang" name="s_techang" value="" data-rule="required" placeholder="特长" >
                                    </div>
                                </div>
                                
                                <!-- <div class="form-group">
                                    <label for="c-avatar" class="control-label col-xs-12 col-sm-2">社保缴费状态截图:</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <div class="input-group">
                                            <input id="c-avatar" type="hidden" data-rule="required" class="form-control" size="50" name="image" type="text" value="">
                                            <div class="input-group-addon no-border no-padding upimg">
                                                <button type="button" data-url="{:url('index/ajax/upload')}" id="plupload-avatar" class="btn plupload" data-input-id="c-avatar" data-mimetype="*" data-multiple="false" data-preview-id="p-avatar"><i class="fa fa-upload"></i> 社保缴费状态截图</button>
                                            </div>
                                            <span class="msg-box n-right" for="c-avatar"></span>
                                        </div>
                                        <ul class="row list-inline plupload-preview" id="p-avatar"></ul>
                                    </div>
                                </div> -->
                                <div class="form-group">
                                    <label for="c-avatar2" class="control-label col-xs-12 col-sm-2">单位证明（盖章）照片:</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <div class="input-group">
                                            <input id="c-avatar2" type="hidden" data-rule="required" class="form-control" size="50" name="image2" type="text" value="">
                                            <div class="input-group-addon no-border no-padding upimg">
                                                <button type="button" data-url="{:url('index/ajax/upload')}" id="plupload-avatar2" class="btn plupload" data-input-id="c-avatar2" data-mimetype="*" data-multiple="false" data-preview-id="p-avatar2"><i class="fa fa-upload"></i> 单位证明（盖章）照片</button>
                                            </div>
                                            <span class="msg-box n-right" for="c-avatar2"></span>
                                        </div>
                                        <ul class="row list-inline plupload-preview" id="p-avatar2"></ul>
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <div class="col-xs-12 col-sm-8">
                                        <a href="{:url('send_file',['type'=>5])}">点击此处下载文件模版</a>
                                    </div>
                                </div> -->


                                <div class="form-group normal-footer">
                                    <label class="control-label col-xs-12 col-sm-2"></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <button type="submit" id="submit" disabled="disabled" class="btn btn-success btn-embossed disabled">{:__('Ok')}</button>
                                    </div>
                                </div>

                                <!-- <div class="form-group">
                                <div class="col-xs-12 col-sm-8">
                                    华南师范大学附属肇庆学校（以下简称：肇庆华附）是由华南师范大学、肇庆高新技术产业开发区管委会和广东东颢教育投资有限公司联合创办的一所高起点、高平台、高品质的全日制现代化民办寄宿制学校，学校位于肇庆高新区大旺大道北，占地300亩，建筑面积23.3万平方米，总投资约13.5亿元，由广东东颢教育投资有限公司投资建设。肇庆华附的育人目标是培养为民族复兴而努力学习的时代新人，办学理念是滋养天分，赋美赋能。
为进一步关爱区内职工，解决职工子女入学难问题，肇庆高新区总工会与肇庆华附就工会会员子女入学事宜达成深度合作。由区总工会推荐的高新区企业主管以上管理人员和高新区工会会员的子女达到肇庆华附招生条件的，同等条件下，凭单位证明和高新区总工会推荐书，优先安排入读。肇庆华附在对外公布原价基础上，给予符合上述条件入读的每名学生一次性减免4000元学费的优惠，并赠送价值3000元的校服、床上用品、拖箱、书包等用品
。
                                </div>
                            </div> -->
                            </form>
                        </div>
                        {/if}

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
