<style>
   .red{
     color: red;
   }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="one">
                            <h2 class="page-header" style="text-align: center;">模版文件下载</h2>
                            <form id="user-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                                {:token()}
                                <input type="hidden" name="type" value="{$type}">
                                <div class="form-group" style="text-align: center;margin-bottom: 50px">
                                    <img src="https://tool.fastadmin.net/icon/docx.png" height="100px" alt="">
                                </div>
                                <div class="form-group" style="font-size: 16px;">
                                    <label class="control-label col-xs-12 col-sm-2">输入您的邮箱<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="email" name="email" value="" data-rule="required" placeholder="">
                                    </div>
                                    <div class="col-xs-12 col-sm-4" style="color: red;font-size: 12px;margin-top: 30px;">
                                        <p>为了确保您能准确的接受到此文件，请输入正确的邮箱帐号！</p>
                                        <p>系统将会把该文件自动发送到您的邮箱中，在电脑上可以在您的邮箱中下载此文件。</p>
                                    </div>
                                </div>
                                
                                
                                
                                
                                <div class="form-group normal-footer" style="margin-top: 50px;">
                                    <label class="control-label col-xs-12 col-sm-2"></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <button type="submit" id="submit" disabled="disabled" class="btn btn-success btn-embossed disabled">确定发送</button>
                                    </div>
                                </div>
                            </form> 
                        </div>

      
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
