<style>
   body{padding-top: 0px}
   .msg-box{
      display: block;
   }
   .user_type{
     overflow: hidden;
     margin-top: 5px;

   }
   .left{
     /*float: left;*/
     padding-right: 5px;
     vertical-align: top;
   }

   .tip{
    color: #ccc;
   }
   .btn{
     display: block;
     width: 100%;
     height: 50px;
     font-size: 18px;
   }
   .red{
     color: red;
   }
   h2{
      text-align: center;
   }
   
</style>

<div id="content-container" class="container">
    <div id="yyxz" style="margin-bottom: 10px;font-size: 14px;">
        <!-- <h2>报名需知</h2>
		    <h3 style="color:red">摇号模式,不分先后,无需争抢,人人平等！</h3>
        <p>1、报名时间：11月1日开始。</p>
        <p>2、报名规则 ：每人每次报名一次。报名时间结束后随机摇号。摇号结果可以在‘电子购物折扣卡’中查询。</p>
        <p style="text-align: right;">肇庆高新区总工会</p>
        <p style="text-align: right;">2020年11月</p> -->
        {$intro}
        <hr/>
        <input type="checkbox" id='agree' name="agree" value="1" onclick="agree()"><label for="agree"><font color="blue">我已阅读预约须知</font></label><br/><br/>
        <input type="button" class="btn btn-success" id="agreebutton" name="agreebutton" value="我要报名" disabled onclick="checkAgree()">
    </div>
    <div id="forminfo" style="display: none;" class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="myTabContent" class="tab-content">
                            <h2 class="page-header">报名确认</h2>
                            {if condition="$info.active_status==0"}
                              <p style="text-align:center;color:red;font-size: 18px">暂无活动</p>
                            {elseif condition="$info.active_status==1"}
                              <p style="text-align:center;color:red;font-size: 18px">报名活动暂未开始</p>
                              <p style="text-align:center;color:red;font-size: 16px">开始时间：{$info.starttime|date="Y-m-d H:i:s",###}</p>
                            {elseif condition="$info.active_status==2"}
							                <p style="text-align:center;color:red;font-size: 18px">报名活动已结束</p>
                            {else/}
                              <div style="text-align:center;color:blue;font-size: 16px;">{$info.name}</div>
                              <h5 style="text-align:center;color:red">报名活动进行中</h5>
                            <form id="user-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                                {:token()}
                                <input type="hidden" name="active_id" value="{$info.id}">
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">报名人姓名<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" disabled="disabled" id="uname" name="uname" value="{$userinfo.username}" data-rule="required" placeholder="">
                                    </div>
                                </div>
                                
                                
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">报名人身份证号码<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="idcard" disabled="disabled" name="idcard" value="{$userinfo.idcard}" data-rule="required;length(18)"  placeholder="">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">报名人电话号码<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" disabled="disabled" id="mobile" name="mobile" value="{$userinfo.mobile}" data-rule="required;length(11)"  placeholder="">
                                    </div>
                                </div>
                                
                                
                                
                                <div class="form-group normal-footer">
                                    <label class="control-label col-xs-12 col-sm-2"></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <button type="submit" id="submit" disabled class="btn btn-danger btn-embossed disabled">确认报名<span class="glyphicon glyphicon-hand-right"></span></button>
                                    </div>
                                </div>
                            </form> 
                            {/if}
                      </div>
                  </div>
              </div>
          </div>
      </div>
</div>
<script type="text/javascript">
  function agree(){
      var check_type = $("input[name='agree']:checked").val();
      if (check_type==1) {
          $("#agreebutton").attr('disabled',false);
      }else {
         $("#agreebutton").attr('disabled',true);
      }
  }
  function checkAgree(){
    var check_type = $("input[name='agree']:checked").val();
    //alert(check_type)
    if (check_type==1) {
        $("#yyxz").hide();
        $("#forminfo").show();
    }else {
        alert('必须勾选报名须知');
    }
  }

</script>
