<style>
   body{padding:0px;}
   main.content {
      width: 100%;
      overflow: auto;
      padding: 0px;
      padding-top: 0px;
      min-height: calc(100vh - 125px);
      margin-top: -20px;
    }
   .container{
      padding-left: 0px;
      padding-right: 0px;
   }
   .msg-box{
      display: block;
   }
   .title{
     /*border-radius: 15px;*/
     border-top-left-radius:15px;
     border-top-right-radius:15px;
     margin: 10px 15px;
     /*padding: 15px 10px;*/
     background-color: #fff;
     overflow: hidden;
     height: 160px;
   }
   .row{
     margin-left: 0px;
     margin-right: 0px;
   }
   .top{
     height: 75%;
     background-color: blue;
     padding: 10px;
     color: #fff;
     font-size: 14px;
     text-align: center;
     padding-top: 40px;
   }
   .img img{
      height: 35px;
   }

   .info{
     height: 25%;
   }
   .info img{
      height: 20px;
      float: right;
      margin-right: 10px;
   }
   p{
     padding-top: 10px;
     padding-left: 10px;
     padding-right: 20px;
     color: #999;
   }
   
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9" style="padding: 0px;margin-top: 30px;">
			     {notempty name="list"}
           {foreach name="list" id="vo"}
           <a href="{:url('shopcard_info',['id'=>$vo.id])}">
            <div class="title">
                <div class="top" style="background-image: url({$vo.imagebg});background-size: 100% 100%;">
                      <img style="height: 40px;" src="{$vo.logo}">
                </div>
                <div class="info">
                  <p>折扣卡号：{$vo.card_no}
                    <img src="{$vo.logo}">
                    <!-- <span style="float: right;">{$vo.cardshop_name}</span> -->
                  </p>
                  
                </div>
            </div>
          </a>
          {/foreach}
          {else/}
           <div style="text-align: center;font-size: 16px;margin-top: 50px;">暂无购物折扣卡</div>
          {/notempty}  
        </div>
    </div>
</div>
