<style>
   body{padding:0px;}
   main.content {
      width: 100%;
      overflow: auto;
      padding: 0px;
      padding-top: 0px;
      min-height: calc(100vh - 125px);
      margin-top: -20px;
    }
   .container{
      padding-left: 0px;
      padding-right: 0px;
   }
   .msg-box{
      display: block;
   }
   
   .row{
     margin-left: 0px;
     margin-right: 0px;
   }
   .info{
      margin: 0px 15px;
      padding: 15px 10px;
      height: 600px;
   }
   .ctop{
     overflow: hidden;
     height: 230px;
   }
   .cbottom{
     overflow: hidden;
     height: 230px;
     margin-top: 0px;
   }
  .img{
    color: red;
   }
  .img img{
      height: 35px;
   }
   .code{
     text-align: center;
     margin-top: 60px;
   }
   .code img{
      width: 250px;
      height: 80px;
   }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9" style="padding: 0px;margin-top: 40px;">

            <div class="info" style="background-image: url(__CDN__/assets/img/xfqcardinfobg.png);background-size: 100% 100%">
              <div class="ctop">
                  <div class="img">
                      <img src="__CDN__/assets/img/21.png">&nbsp;&nbsp;工会会员折扣卡
                  </div>
                  <div style="text-align: center;">
                     <!-- <img style="height: 200px;" src="__CDN__/assets/img/ywj.jpg">  -->        
                     <img style="width: 50%;margin-top: 50px;" src="{$info.logo}">    
                  </div>
              </div>

              <div class="cbottom">
                <hr align="center" style="width: 80%;border:1px dashed #ccc" />
                <div class="code">
                    <img src="{$barcode}">
                    <p style="font-size: 16px;line-height: 35px;letter-spacing:5px;">{$info.card_no}</p>
                    <p style="font-size: 18px;line-height: 30px;color: #999;">使用时请向售货员出示此条形码</p>
                </div>
                  
              </div>
            </div>
		
            
        </div>
    </div>
</div>
