<style>
   body{padding:0px;}
   main.content {
      width: 100%;
      overflow: auto;
      padding: 0px;
      padding-top: 0px;
      min-height: calc(100vh - 125px);
      margin-top: -20px;
    }
   .container{
      padding-left: 0px;
      padding-right: 0px;
   }
   .msg-box{
      display: block;
   }
   .title{
     border-radius: 15px;
     margin: 10px 15px;
     padding: 15px 10px;
     background-color: #fff;
     overflow: hidden;
     height: 130px;
   }
   h3{
     font-weight: bold;
     color: #f17c28;
   }
   .img{
     float: left;
     width: 30%;
   }
   .img img{
      width: 70%;
      margin-top: 20px;
      margin-left: 10px;
   }
   .info{
     float: left;
     width: 70%;
   }
   a{
     color: #000;
   }
   .row{
     margin-left: 0px;
     margin-right: 0px;
   }
   p{
     padding-top: 10px;
   }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9" style="padding: 0px">
            <div>
              <img src="__CDN__/assets/img/xfqbg2.jpg" style="width: 100%;margin-bottom: 10px;">
            </div>
           {foreach name="list" id="vo"}
           <a href="{:url('shopcard_baoming',['active_id'=>$vo.id])}"><div class="title">
                <div class="img"><img src="__CDN__/assets/img/xfqbm.png"></div>
                <div class="info">
                  <h3>{$vo.shopname}折扣卡领取</h3>
                  <p>市民预约并获取指定商家购物折扣卡</p>
                </div>
            </div></a>
            {/foreach}

            <a href="{:url('shopcard_list')}"><div class="title" style="margin-top: 0px;background:url(__CDN__/assets/img/shopcard_bg.png); background-size: 100% 100%;">
                <div class="img"><img src="__CDN__/assets/img/xfqcard.png"></div>
                <div class="info">
                  <h3>电子购物折扣卡</h3>
                  <p>查看所有的电子购物折扣卡<br/></p>
                </div>
            </div></a>

        </div>
    </div>
</div>
