<style>
    td{
        line-height: 25px;
        font-size: 14px;
        vertical-align: top;
    }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="tab-pane fade active in" id="one">
                    <h2 class="page-header" style="text-align: center;">活动场地优惠申请记录</h2>
                    {notempty name="list"}
                    {foreach name="list" id="vo"}
                    <div class="row" style="border-bottom: 1px #eee solid;margin-bottom: 10px;padding-bottom: 10px">
                        <table width="100%">
                            <tr><td width="80px;">所属企业：</td><td>{$vo.company_name}</td></tr>
                            <tr><td>联系电话：</td><td>{$vo.phone}</td></tr>
                            <tr><td>使用时间：</td><td>{$vo.use_time}</td></tr>
                            <tr><td>场地类型：</td><td>{$vo.site_type}</td></tr>
                            <tr><td>参与人数：</td><td>{$vo.user_num}</td></tr>
                            <tr><td>活动内容：</td><td>{$vo.intro}</td></tr>
                            <tr><td>申请时间：</td><td>{$vo.add_time|date="Y-m-d H:i:s",###}</td></tr>
                            <tr><td colspan="2" style="font-size: 21px;line-height: 35px;text-align: right">
                                {if condition="$vo.status eq 0"}
                                <span style="color: blue">待审核</span>
                                {elseif condition="$vo.status eq 1"}
                                <span style="color: green">审核通过</span>
                                {else/}
                                <span style="color: red">审核未通过</span>
                                {/if}
                            </td></tr>
                        </table>
                    </div>
                    {/foreach}
                    {else/}
                    <div style="text-align: center;font-size: 16px;margin-top: 50px;">暂无申请记录</div>
                    {/notempty}
                </div>
            </div>
        </div>
    </div>
</div>
