<style>
   .red{
     color: red;
   }
   h3{
     color: green;
   }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="one">
                            <h2 class="page-header" style="text-align: center;">活动场地优惠申请</h2>

                            <div style="margin-bottom: 10px;margin-top: -10px;">
                                <a href="{:url('index/article/index',['type'=>12])}">
                                    <img style="width: 100%" src="__CDN__/assets/img/site_discount.png">
                                </a>
                            </div>
                            <!-- <div class="form-group">
                                <div class="col-xs-12 col-sm-8">

                                </div>
                            </div> -->
                            <form id="user-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                                {:token()}
                                <div class="form-group">
                                    <span style="float: right;padding-right: 20px;"><a href="{:url('site_discount_list')}">我的申请记录>></a> </span>
                                    <label class="control-label col-xs-12 col-sm-2">{:__('Union_company_name')}<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="name" name="name" value="{$company_name}" data-rule="required" placeholder="" disabled="disabled">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">使用时间<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="use_time" name="use_time" value="" data-rule="required" placeholder="使用时间">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">开展活动内容<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <textarea class="form-control" data-rule="required" id="intro" name="intro" placeholder="开展活动内容" rows="5"></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">参与人数<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="user_num" name="user_num" value="" data-rule="required" placeholder="参与人数">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">联系电话<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="phone" name="phone" value="" data-rule="required" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">场地类型<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                       <select name="site_type" style="height: 35px;width: 150px;">
                                           <option value="篮球场">篮球场</option>
                                           <option value="足球场">足球场</option>
                                           <option value="会议室">会议室</option>
                                       </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="c-avatar" class="control-label col-xs-12 col-sm-2">上传申请文件:</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <div class="input-group">
                                            <input id="c-avatar" type="hidden" data-rule="" class="form-control" size="50" name="image" type="text" value="">
                                            <div class="input-group-addon no-border no-padding">
                                                <button type="button" data-url="{:url('index/ajax/upload')}" id="plupload-avatar" class="btn plupload" data-input-id="c-avatar" data-mimetype="doc,docx" data-multiple="false" data-preview-id="p-avatar"><i class="fa fa-upload"></i> 上传申请文件</button>
                                            </div>
                                            <span class="msg-box n-right" for="c-avatar"></span>
                                        </div>
                                        <ul class="row list-inline plupload-preview" id="p-avatar"></ul>
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <div class="col-xs-12 col-sm-8">
                                        <a href="{:url('send_file',['type'=>4])}">点击此处下载文件模版</a>
                                    </div>
                                </div> -->


                                <div class="form-group normal-footer">
                                    <label class="control-label col-xs-12 col-sm-2"></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <button type="submit" id="submit" disabled="disabled" class="btn btn-success btn-embossed disabled">{:__('Ok')}</button>
                                    </div>
                                </div>
                            </form>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
