
<link href="__CDN__/assets/css/backend{$Think.config.app_debug?'':'.min'}.css?v={$Think.config.site.version}" rel="stylesheet">
<style>
   .red{
     color: red;
   }
   h3{
     color: green;
   }
   .atitle{
     width: 60;
     height: 55px;
     text-align: center;
     line-height: 55px;
     margin: auto;
     color: #fff;
     font-size: 18px;
   }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
            	<!-- <div class="panel-heading" style="background-color: #fff;border-color:#fff;">
			        <ul class="nav nav-tabs">
                        <li class="active"><a href="#two" data-toggle="tab">学历提升</a></li>
			            <li><a href="#one" data-toggle="tab">技能培训</a></li>     
			        </ul>
			    </div> -->

                <div class="panel-body">
                    <div id="myTabContent" class="tab-content">
                        {if condition="$Request.param.type eq 0"}
                            <p style="text-align: center;margin-bottom: 20px;font-size: 16px">请选择类型</p>
                            <div style="text-align: center;">
                               <a href="{:url('skills_education',['type'=>2])}"><div class="atitle" style="background: #227BD5">学历提升</div></a>
                               <a href="{:url('skills_education',['type'=>1])}"><div class="atitle" style="background: #A82121;margin-top: 50px;">技能提升</div></a>                        
                            </div>
                        {elseif condition="$Request.param.type eq 1"}
                        <div class="tab-pane fade active in" id="one">
                            <h2 class="page-header" style="text-align: center;">技能提升</h2>
                            <form class="form-horizontal user-form" role="form" data-toggle="validator" method="POST" action="">
                                {:token()}
                                <input type="hidden" name="type" value="1">
                                <div class="form-group">
                                    <span style="float: right;padding-right: 20px;"><a href="{:url('education_list',['type'=>1])}">报名排行>></a> </span>
                                    <label class="control-label col-xs-12 col-sm-2">{:__('基层工会名称')}<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="name" name="name" value="{$company_name}" data-rule="required" placeholder="" disabled="disabled">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">姓名<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="name" name="name" value="" data-rule="required" placeholder="姓名" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">性别<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input id='dwss1' type="radio" name="sex" value="男" checked="checked"><label for="dwss1">&nbsp;男</label>
                                       <input id='dwss2' type="radio" name="sex" value="女" style="margin-left: 10px;"><label for="dwss2">&nbsp;女</label><br/>
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">年龄<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="age" name="age" value="" data-rule="required" placeholder="年龄" >
                                    </div>
                                </div> -->
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">身份证号码<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="idcard" name="idcard" value="" data-rule="required" placeholder="身份证号码" >
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">联系电话<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="phone" name="phone" value="" data-rule="required" placeholder="联系电话" >
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">学历<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="education" name="education" value="" data-rule="required" placeholder="学历" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">民族<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="mingzu" name="mingzu" value="" data-rule="required" placeholder="民族" >
                                    </div>
                                </div>
                                
                                <!-- <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">户口所在地<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="hk_location" name="hk_location" value="" data-rule="required" placeholder="户口所在地" >
                                    </div>
                                </div> -->
                                
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">入职时间<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" id="work_time" name="work_time" value="" data-rule="required" placeholder="入职时间" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">所在岗位<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="work_station" name="work_station" value="" data-rule="required" placeholder="所在岗位" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">现有职业资格工种<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="n_cccupation" name="n_cccupation" value="" data-rule="required" placeholder="现有职业资格工种" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">现有职业资格工种等级<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="n_cccupation_level" name="n_cccupation_level" value="" data-rule="required" placeholder="现有职业资格工种等级" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">拟报职业资格工种<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="b_cccupation" name="b_cccupation" value="" data-rule="required" placeholder="拟报职业资格工种" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">拟报职业资格工种等级<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="b_cccupation_level" name="b_cccupation_level" value="" data-rule="required" placeholder="拟报职业资格工种等级" >
                                    </div>
                                </div>
                                
                                <!-- <div class="form-group">
                                    <label for="c-avatar" class="control-label col-xs-12 col-sm-2">上传申请文件:</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <div class="input-group">
                                            <input id="c-avatar" type="hidden" data-rule="" class="form-control" size="50" name="image" type="text" value="">
                                            <div class="input-group-addon no-border no-padding">
                                                <button type="button" data-url="{:url('index/ajax/upload')}" id="plupload-avatar" class="btn plupload" data-input-id="c-avatar" data-mimetype="*" data-multiple="false" data-preview-id="p-avatar"><i class="fa fa-upload"></i> 上传申请文件</button>
                                            </div>
                                            <span class="msg-box n-right" for="c-avatar"></span>
                                        </div>
                                        <ul class="row list-inline plupload-preview" id="p-avatar"></ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-8">
                                        <a href="{:url('send_file',['type'=>6])}">点击此处下载文件模版</a>
                                    </div>
                                </div> -->

                                
                                <div class="form-group normal-footer">
                                    <label class="control-label col-xs-12 col-sm-2"></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <button type="submit" disabled="disabled" class="btn btn-success btn-embossed disabled submit">{:__('Ok')}</button>
                                    </div>
                                </div>
                            </form> 
                        </div>
                        {elseif condition="$Request.param.type eq 2"}
                        <div class="tab-pane fade active in" id="two">
                            <h2 class="page-header" style="text-align: center;">学历提升</h2>
                            <div style="margin-bottom: 10px;margin-top: -10px;">
                                <a href="{:url('index/article/index',['type'=>11])}">
                                    <img style="width: 100%" src="__CDN__/assets/img/skills_education.jpg">
                                </a>
                            </div>
                            <form class="form-horizontal user-form" role="form" data-toggle="validator" method="POST" action="">
                                {:token()}
                                <input type="hidden" name="type" value="2">
                                <div class="form-group">
                                    <span style="float: right;padding-right: 20px;"><a href="{:url('education_list')}">报名排行>></a> </span>
                                    <label class="control-label col-xs-12 col-sm-2">{:__('基层工会名称')}<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="name" name="name" value="{$company_name}" data-rule="required" placeholder="" disabled="disabled">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">姓名<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="name" name="name" value="{$name}" data-rule="required" placeholder="姓名" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">性别<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input id='dwss1' type="radio" name="sex" value="男" checked="checked"><label for="dwss1">&nbsp;男</label>
                                       <input id='dwss2' type="radio" name="sex" value="女" style="margin-left: 10px;"><label for="dwss2">&nbsp;女</label><br/>
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">年龄<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="age" name="age" value="" data-rule="required" placeholder="年龄" >
                                    </div>
                                </div> -->
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">身份证号码<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="idcard" name="idcard" value="{$idcard}" data-rule="required" placeholder="身份证号码" >
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">联系电话<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="phone" name="phone" value="{$mobile}" data-rule="required" placeholder="联系电话" >
                                    </div>
                                </div>

                                
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">民族<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="mingzu" name="mingzu" value="" data-rule="required" placeholder="民族" >
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">政治面貌:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <!-- <input type="text" class="form-control" id="zzmm" name="zzmm" value="" data-rule="required" placeholder="政治面貌" > -->
                                        <select id="zzmm" name="zzmm" style="height: 35px;">
                                            <option value="中共党员">中共党员</option>
                                            <option value="共青团员">共青团员</option>
                                            <option value="群众">群众</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">出生年月<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" id="borthday" name="borthday" value="" data-rule="required" placeholder="出生年月" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">微信号:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="weixin" name="weixin" value="" data-rule="required" placeholder="微信号" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">率取通知书寄往地点:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="notice_address" name="notice_address" value="" data-rule="required" placeholder="率取通知书寄往地点" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">邮编:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="youbian" name="youbian" value="" data-rule="required" placeholder="邮编" >
                                    </div>
                                </div> -->
                                                            
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">入职时间<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" id="work_time" name="work_time" value="" data-rule="required" placeholder="入职时间" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">所在岗位<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="work_station" name="work_station" value="" data-rule="required" placeholder="所在岗位" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">户口所在地<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="hk_location" name="hk_location" value="" data-rule="required" placeholder="户口所在地" >
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">现有学历<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <!-- <input type="text" class="form-control" id="education2" name="education" value="" data-rule="required" placeholder="学历" > -->
                                        <select id="education2" name="education" style="height: 35px;">
                                            <option value="中专">中专</option>
                                            <option value="高中">高中</option>
                                            <option value="大专">大专</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">毕业学校<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="school_name" name="school_name" value="" data-rule="required" placeholder="毕业学校" >
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">毕业时间<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" id="biye_time" name="biye_time" value="" data-rule="required" placeholder="毕业时间" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">拟报学校<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input id="nb_school_name" data-source="/admin/school_major/index" data-primary-key="id" data-order-by="id"
                               data-field="name" class="form-control selectpage" name="nb_school_name" type="text"
                               value="" style="width: 100%" data-rule="required">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">拟报专业<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input id="nb_major_name" data-source="/admin/school_major/index" data-primary-key="id" data-order-by="id"
                               data-field="name" class="form-control selectpage" name="major" type="text"
                               value="" style="width: 100%" data-rule="required">
                                    </div>
                                </div>

                                
                               
                                
                                <!-- <div class="form-group">
                                    <label for="c-avatar" class="control-label col-xs-12 col-sm-2">上传申请文件:</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <div class="input-group">
                                            <input id="c-avatar" type="hidden" data-rule="" class="form-control" size="50" name="image" type="text" value="">
                                            <div class="input-group-addon no-border no-padding">
                                                <button type="button" data-url="{:url('index/ajax/upload')}" id="plupload-avatar" class="btn plupload" data-input-id="c-avatar" data-mimetype="doc,docx" data-multiple="false" data-preview-id="p-avatar"><i class="fa fa-upload"></i> 上传申请文件</button>
                                            </div>
                                            <span class="msg-box n-right" for="c-avatar"></span>
                                        </div>
                                        <ul class="row list-inline plupload-preview" id="p-avatar"></ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-8">
                                        <a href="{:url('send_file',['type'=>3])}">点击此处下载文件模版</a>
                                    </div>
                                </div> -->

                                
                                <div class="form-group normal-footer">
                                    <label class="control-label col-xs-12 col-sm-2"></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <button type="submit" disabled="disabled" class="btn btn-success btn-embossed disabled submit">{:__('提交报名')}</button>
                                    </div>
                                </div>
                            </form> 
                        </div>
                        {/if}
      
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
