<style>
    body{
     
    }
    .container{
      padding: 0px;
      margin-top: -10px;
    }
   .title{
      position: relative;
      width: 40%;
      background: #fff;
      border-radius: 10px;
      padding: 10px;
      text-align: center;
      margin: 15px;
   }
   .title img{
      width: 55%;
      height: 75px;
      display: block;
      margin: auto;
      margin-bottom: 15px;
   }
   .title p{
      font-size: 14px;
      font-weight: bold;
   }
   .left{
      float: left;
   }
   .right{
      float: right;
   }
   .menu{
      position: fixed;
      bottom: 0px;
      height: 60px;
      width: 100%;
      overflow: hidden;
      background: #fff;
      padding:10px;
      color: #ccc;
      border-top: 1px #ccc solid;
   }
   .menu .submenu{
      text-align: center;
      width: 50%;
   }
   .menu .submenu img {
      width: 25px;
      height: 25px;
      margin-bottom: 5px;
   }
    .notice{
        background: red;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        text-align: center;
        line-height: 20px;
        color: #fff;
        position: absolute;
        right: 10px
    }
</style>
<div id="content-container" class="container">
    <div class="row" style="padding-bottom: 60px;">
        <div class="col-md-9" style="overflow: hidden;">
        	  <!-- <a href="{:url('unindex2')}">
            <div class="title left">
                <img src="__CDN__/assets/img/21.png">
                <p>工会建设服务</p>
            </div></a> -->

            <a href="{:url('zgbf')}">
            <div class="title left">
                <img src="__CDN__/assets/img/22.png">
                <p>职工帮扶</p>
            </div></a>

            <a href="{:url('qyrcfw')}">
            <div class="title right">
                <img src="__CDN__/assets/img/23.png">
                <p>人才服务</p>
            </div></a>

            <!-- <a href="{:url('unionactive')}">
            <div class="title right">
                <img src="__CDN__/assets/img/24.png">
                <p>文体活动上报</p>
            </div></a> -->

            <a href="https://wxcs.gdzyz.cn/citiesService.do?cityid=441200">
            <div class="title left">
                <img src="__CDN__/assets/img/26.png">
                <p>志愿服务</p>
            </div></a>

            <a href="{:url('zgyhzc')}">
            <div class="title right">
                <img src="__CDN__/assets/img/25.png">
                <p>普惠职工</p>
            </div></a>

            <a href="{:url('score_top')}">
            <div class="title left">
                <img src="__CDN__/assets/img/qyphb.png">
                <p>企业排行</p>
            </div></a>

            <a href="{:url('/index/admin')}">
            <div class="title right" style="background-color: #1885e2;color: #fff"><!--  -->
                <img src="__CDN__/assets/img/21.png">
                <p>企业工会管理 ></p>
            </div></a>
            <!--{if condition="$is_admin eq 1"}
            <a href="{:url('/index/admin/unindex2')}">
                <div class="title left">
                    <img src="__CDN__/assets/img/21.png">
                    <p>工会组织建设</p>
                </div></a>

            <a href="{:url('/index/admin/unionactive')}">
                <div class="title right">
                    <img src="__CDN__/assets/img/24.png">
                    <p>文体活动上报</p>
                </div></a>

            <a href="{:url('/index/admin/capital')}">
                <div class="title left">
                    <img src="__CDN__/assets/img/zjsb.png">
                    <p>经费使用上报</p>
                </div></a>

            <a href="{:url('/index/admin/kpilist')}">
                <div class="title right">
                    <img src="__CDN__/assets/img/rwzb.png">
                    <p>量化任务指标</p>
                </div></a>

            <a href="{:url('/index/admin/warninglist')}">
                <div class="title left">
                    {if condition="$warning_num gt 0"}
                    <div class="notice">{$warning_num}</div>
                    {/if}
                    <img src="__CDN__/assets/img/yjxx.png">
                    <p>任务预警信息</p>
                </div></a>

            <a href="{:url('/index/admin/company_info')}">
                <div class="title right">
                    <img src="__CDN__/assets/img/qyxx.png">
                    <p>企业信息完善</p>
                </div></a>

            {/if}-->
        </div>
    </div>
    <!-- <div class="row" style="text-align: center;font-size: 21px;margin-top: 50px;">
      <a href="{:url('/index/admin')}"><span style="color: red">在此进入管理员端>></span></a>
    </div> -->

    <div class="menu">
        <a href="{:url('index')}">
        <div class="submenu left">
            <img src="__CDN__/assets/img/home2.png">
            <p style="color:#999">首页</p>
        </div></a>

        <a href="{:url('userinfo')}">
        <div class="submenu left">
            <img src="__CDN__/assets/img/user2.png">
            <p style="color:#999">我的</p>
        </div></a>
    </div>
</div>
