<style>
   .red{
     color: red;
   }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="one">
                            <h2 class="page-header" style="text-align: center;">文体活动上报</h2>
                            <form id="user-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                                {:token()}
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">{:__('Union_company_name')}<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="name" name="name" value="{$company_name}" data-rule="required" placeholder="" disabled="disabled">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">活动类型:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <select  id="c-type" class="form-control" name="type">
                                            <option value="">选择活动类型</option>
                                            {foreach name="typeList" item="vo"}
                                                <option value="{$key}">{$vo}</option>
                                            {/foreach}
                                        </select>

                                    </div>
                                </div>

                                 <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">活动名称<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="name" name="name" value="" data-rule="required" placeholder="请输入活动名称">
                                    </div>
                                </div>

								
                                <div class="form-group">
                                    <label for="c-business_scope" class="control-label col-xs-12 col-sm-2">活动简介:</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <textarea id="c-intro" name="intro" class="form-control" placeholder="输入活动简介" data-rule="required" style="height: 80px"></textarea>
                                    </div>
                                </div>
								
                                <div class="form-group">
                                    <label for="c-avatar" class="control-label col-xs-12 col-sm-2">活动图片:</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <div class="input-group">
                                            <input id="c-avatar" type="hidden" data-rule="" class="form-control" size="50" name="images" type="text" value="">
                                            <div class="input-group-addon no-border no-padding upimg">
                                                <button type="button" data-url="{:url('index/ajax/upload')}" id="plupload-avatar" class="btn plupload" data-input-id="c-avatar" data-mimetype="*" data-multiple="true" data-preview-id="p-avatar"><i class="fa fa-upload"></i> 上传活动图片</button>
                                            </div>
                                            <span class="msg-box n-right" for="c-avatar"></span>
                                        </div>
                                        <ul class="row list-inline plupload-preview" id="p-avatar"></ul>
                                    </div>
                                </div>
                                
                                
                                
                                <div class="form-group normal-footer">
                                    <label class="control-label col-xs-12 col-sm-2"></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <button type="submit" id="submit" disabled="disabled" class="btn btn-success btn-embossed disabled">{:__('Ok')}</button>
                                    </div>
                                </div>
                            </form> 
                        </div>

      
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
