<style>
  body{
    
  }
  .container{
    padding: 0px;
    margin-top: -10px;
  }
   .title{
      position: relative;
      width: 43%;
      background: #fff;
      border-radius: 10px;
      padding: 10px;
      text-align: center;
      margin: 10px;
   }
   .title img{
      width: 55%;
      height: 75px;
      display: block;
      margin: auto;
      margin-bottom: 15px;
   }
   .title p{
      font-size: 14px;
      color: #000;
      margin: 0px;
   }
   .left{
      float: left;
   }
   .right{
      float: right;
   }
   .menu{
      position: fixed;
      bottom: 0px;
      height: 60px;
      width: 100%;
      overflow: hidden;
      background: #fff;
      padding:10px;
      color: #ccc;
      border-top: 1px #ccc solid;
   }
   .menu .submenu{
      text-align: center;
      width: 50%;
   }
   .menu .submenu img {
      width: 25px;
      height: 25px;
      margin-bottom: 5px;
   }
   .notice{
      background: red;
      width: 20px;
      height: 20px;
      border-radius: 20px;
      text-align: center;
      line-height: 20px;
      color: #fff;
      position: absolute;
      right: 10px
   }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9" style="overflow: hidden;">
           <div style="height: 150px;background: #78B3FF;text-align: center;color: #fff">
             <div style="padding-top: 30px;font-size: 18px;">{$info.username}</div>
             <div style="line-height: 30px;">{$info.idcard}</div>
             <div style="line-height: 30px;">电话：{$info.mobile} &emsp;&emsp;&emsp;&emsp;积分：{$info.score} </div>
           </div>

            <a href="{:url('information')}">
            <div class="title left">
                <img src="__CDN__/assets/img/01.png">
                <p>个人信息</p>
                <p style="color: #ccc;font-size: 12px;padding-top: 5px;height:40px;">查看你的个人信息</p>
            </div></a>

            <a href="{:url('apply_list')}">
            <div class="title left">
                {if condition="$dnum gt 0"}
                  <div class="notice">{$dnum}</div>
                {/if}
                <img src="__CDN__/assets/img/todo.png">
                <p>申请事项</p>
                <p style="color: #ccc;font-size: 12px;padding-top: 5px;height:40px;">待审核:{$dnum}  已完结:{$ynum}</p>
            </div></a>

            <a href="{:url('notice_list')}">
            <div class="title left">
                {if condition="$noread_num gt 0"}
                  <div class="notice">{$noread_num}</div>
                {/if}
                <img src="__CDN__/assets/img/message.png">
                <p>我的消息</p>
                <p style="color: #ccc;font-size: 12px;padding-top: 5px;height:40px;">已读:{$read_num} 未读:{$noread_num}</p>
            </div></a>

            <a href="{:url('feedback')}">
            <div class="title left">
                <img src="__CDN__/assets/img/feedback.png">
                <p>意见反馈</p>
                <p style="color: #ccc;font-size: 12px;padding-top: 5px;height:40px;">请提出您的意见</p>
            </div></a>

        </div>
    </div>

    <div class="menu">
        <a href="{:url('index')}">
        <div class="submenu left">
            <img src="__CDN__/assets/img/home2.png">
            <p style="color:#999">首页</p>
        </div></a>

        <div class="submenu left">
            <img src="__CDN__/assets/img/user.png">
            <p style="color:#1296DB">我的</p>
        </div>
    </div>
</div>
