<style>
   .red{
     color: red;
   }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#one" data-toggle="tab">职工个人申请</a></li>
                        <li><a href="#two" data-toggle="tab">工会申请</a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="one">
                            <h2 class="page-header" style="text-align: center;">职工个人申请</h2>
                            <!-- <div style="margin-bottom: 10px;margin-top: -10px;">
                                <a href="{:url('index/article/index',['type'=>5])}">
                                    <img style="width: 100%" src="__CDN__/assets/img/weiquan.png">
                                </a>
                            </div> -->
                            <form class="form-horizontal user-form" role="form" data-toggle="validator" method="POST" action="">
                                {:token()}
                                <input type="hidden" name="type" value="1">
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">姓名<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="name" name="name" value="" data-rule="required" placeholder="" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">性别:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <select  id="c-sex" class="form-control" name="sex">
                                            <option value="男">男</option>
                                            <option value="女">女</option>
                                        </select>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">单位/住址<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="address" name="address" value="" data-rule="required" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">身份证<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="idcard" name="idcard" value="" data-rule="required" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">联系电话<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="phone" name="phone" value="" data-rule="required" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">涉及人数<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="num" name="num" value="" data-rule="required" placeholder="">
                                    </div>
                                </div>
								
                                <div class="form-group">
                                    <label for="c-business_scope" class="control-label col-xs-12 col-sm-2">反映的内容事项:</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <textarea id="c-info" name="info" class="form-control" placeholder="反映的内容事项" data-rule="required" style="height: 80px"></textarea>
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <label for="c-business_scope" class="control-label col-xs-12 col-sm-2">申请人要求解决的事项:</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <textarea id="c-intro" name="intro" class="form-control" placeholder="申请人要求解决的事项" data-rule="required" style="height: 80px"></textarea>
                                    </div>
                                </div> -->
                                <div class="form-group">
                                    <label for="c-business_scope" class="control-label col-xs-12 col-sm-2">申请人诉求:</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <textarea id="c-shuqiu" name="shuqiu" class="form-control" placeholder="申请人诉求" data-rule="required" style="height: 80px"></textarea>
                                    </div>
                                </div>
								
                                
                                
                                
                                <div class="form-group normal-footer">
                                    <label class="control-label col-xs-12 col-sm-2"></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <button type="submit" disabled="disabled" class="btn btn-success btn-embossed disabled submit">{:__('Ok')}</button>
                                    </div>
                                </div>
                            </form> 
                        </div>

                        <div class="tab-pane fade" id="two">
                            <h2 class="page-header" style="text-align: center;">工会申请</h2>
                            <!-- <div style="margin-bottom: 10px;margin-top: -10px;">
                                <a href="{:url('index/article/index',['type'=>5])}">
                                    <img style="width: 100%" src="__CDN__/assets/img/weiquan.png">
                                </a>
                            </div> -->
                            <form class="form-horizontal user-form" role="form" data-toggle="validator" method="POST" action="">
                                {:token()}
                                <input type="hidden" name="type" value="2">
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">企业工会名称<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="name" name="name" value="" data-rule="required" placeholder="" >
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">涉及人数<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="num" name="num" value="" data-rule="required" placeholder="">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="c-business_scope" class="control-label col-xs-12 col-sm-2">纠纷内容:</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <textarea id="c-info" name="info" class="form-control" placeholder="纠纷内容" data-rule="required" style="height: 80px"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="c-business_scope" class="control-label col-xs-12 col-sm-2">需要调解事项:</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <textarea id="c-intro" name="intro" class="form-control" placeholder="需要调解事项" data-rule="required" style="height: 80px"></textarea>
                                    </div>
                                </div>
                                
                                
                                
                                
                                <div class="form-group normal-footer">
                                    <label class="control-label col-xs-12 col-sm-2"></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <button type="submit" disabled="disabled" class="btn btn-success btn-embossed disabled submit">{:__('Ok')}</button>
                                    </div>
                                </div>
                            </form> 
                        </div>

      
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
