<style>
    body{
     
    }
    .container{
      padding: 0px;
      margin-top: -10px;
    }
   .title{
      width: 40%;
      background: #fff;
      border-radius: 10px;
      padding: 10px;
      text-align: center;
      margin: 15px;
   }
   .title img{
      width: 55%;
      height: 75px;
      display: block;
      margin: auto;
      margin-bottom: 15px;
   }
   .title p{
      font-size: 14px;
      font-weight: bold;
   }
   .left{
      float: left;
   }
   .right{
      float: right;
   }
   .menu{
      position: fixed;
      bottom: 0px;
      height: 60px;
      width: 100%;
      overflow: hidden;
      background: #fff;
      padding:10px;
      color: #ccc;
      border-top: 1px #ccc solid;
   }
   .menu .submenu{
      text-align: center;
      width: 50%;
   }
   .menu .submenu img {
      width: 25px;
      height: 25px;
      margin-bottom: 5px;
   }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9" style="overflow: hidden;">
        	<a href="{:url('site_discount')}">
            <div class="title left">
                <img src="__CDN__/assets/img/zgyh1.png">
                <p>活动场地优惠申请</p>
            </div></a>

            <a href="{:url('shopcard_discount')}">
            <div class="title right">
                <img src="__CDN__/assets/img/zgyh2.png">
                <p>工会会员购物优惠</p>
            </div></a>

            <a href="{:url('school_discount')}">
            <div class="title left">
                <img src="__CDN__/assets/img/zgyh3.png">
                <p>合作学校学费优惠</p>
            </div></a>

            <a class="gotothird" href="https://mall.joywon.cn/app/index.php?i=3&c=entry&m=ewei_shopv2&do=mobile&mid=1&ml=236">
            <div class="title right">
                <img src="__CDN__/assets/img/zgyhsj2.png">
                <p>电子数码产品优惠</p>
            </div></a>

            <!-- <a href="{:url('noservice')}">
            <div class="title left">
                <img src="__CDN__/assets/img/zgyh6.png">
                <p>本地产品团购优惠</p>
            </div></a>  -->   

            <!-- <a href="{:url('noservice')}">
            <div class="title right">
                <img src="__CDN__/assets/img/zgyh4.png">
                <p>电影票赠送</p>
            </div></a> -->

        </div>
    </div>

    <div class="menu">
        <a href="{:url('index')}">
        <div class="submenu left">
            <img src="__CDN__/assets/img/home2.png">
            <p style="color:#999">首页</p>
        </div></a>

        <a href="{:url('userinfo')}">
        <div class="submenu left">
            <img src="__CDN__/assets/img/user2.png">
            <p style="color:#999">我的</p>
        </div></a>
    </div>
</div>
