<style>
    .container{
        padding-left: 5px;
        padding-right: 5px;
    }
    .panel-default{
        padding: 0 5px;
    }
    .name{
        line-height: 35px;
        font-size: 14px;
        overflow: hidden;
    }
    .info{
        font-size: 16px;
        font-weight: bold;
    }
    .tp{
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        color: #fff;
        border-radius: 60px;
        margin: auto;
        cursor: pointer;
    }
    a{
        text-decoration: underline;
    }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="tab-pane fade active in" id="one">
                    <div>
                        <div class="col-xs-12 col-sm-12" style="background: #fff;margin-top: 10px;padding-top: 10px;">
                            <div style="font-weight: bold;font-size:18px;margin-bottom: 20px;">{:__('Union_company_name')}：{$company_name}</div>
                            <img src="{$pyInfo.pingyi_image}" style="width: 100%">
                            <hr />
                            <div style="font-size: 14px;padding-bottom: 10px;">{$pyInfo.pingyi_intro}</div>
                        </div>
                    </div>
                    {if condition="$isPy eq 0"}
                    <div class="col-xs-12 col-sm-12" style="text-align: center;margin-bottom: 20px;">
                        <button id="py" style="border-radius: 10px;background: cadetblue;font-size: 18px;padding: 10px;margin: auto;">参加评议</button>
                    </div>
                    {/if}
                    <div class="col-xs-12 col-sm-12" style="background: #FFFFFF;margin-top:10px;font-size: 16px;border-radius: 20px;border: 1px red solid">
                      <div style="line-height: 50px;"> <font color="green">评议结果：</font><font color="red">共{$total}条评议结果，{$rate}%满意！</font></div>
                    </div>
                    <div class="col-xs-12 col-sm-12" style="text-align: right;line-height: 35px;"><a href="{:url('myzxpy')}">我的评议>></a></div>
                    {notempty name="pyList"}
                    {foreach name="pyList" id="vo"}
                    <div class="col-xs-12 col-sm-12" style="background: #FFFFFF;padding: 10px;margin-top: 2px;">
                        <div class="info col-xs-6 col-sm-6">{$vo.username}</div>
                        <div class="col-xs-6 col-sm-6" style="text-align: right;color: #999;">{$vo.add_time|date="Y年m月d日H:i",###}</div>
                        <div class="name col-xs-12 col-sm-12">{$vo.content}</div>
                        <div class="name col-xs-12 col-sm-12" style="text-align: right">
                            {if condition="$vo.status eq 1"}
                            <font color="green">满意</font>
                            {else/}
                            <font color="red">不满意</font>
                            {/if}
                        </div>
                    </div>
                    {/foreach}
                    <div class="col-xs-12 col-sm-12" style="height: 100px;"></div>
                    {else/}
                    <div style="text-align: center;font-size: 12px;margin-top: 50px;height: 100px;">暂无评议</div>
                    {/notempty}
                </div>

            <div id="pydiv" style="display: none;padding: 10px;">
                <form id="user-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                    {:token()}
                    <input type="hidden" id="status" name="status" value="0">
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-2">输入评议内容:</label>
                        <div class="col-xs-12 col-sm-4">
                            <textarea class="form-control" data-rule="required" id="content2" name="content" placeholder="输入评议内容" rows="5"></textarea>
                        </div>
                    </div>

                    <div class="form-group normal-footer">
                        <label class="control-label col-xs-12 col-sm-2"></label>
                        <div class="col-xs-12 col-sm-8">
                            <div class="col-xs-6 col-sm-4"><button type="button" status="1" class="btn btn-success submit">满意</button></div>
                            <div class="col-xs-6 col-sm-4"><button type="button" status="2" class="btn btn-danger submit">不满意</button></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
