<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">userId:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-userId" data-rule="required" class="form-control" name="row[userId]" type="text" value="{$row.userId|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('ssecurity')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ssecurity" data-rule="required" class="form-control" name="row[ssecurity]" type="text" value="{$row.ssecurity|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">deviceId:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-deviceId" data-rule="required" class="form-control" name="row[deviceId]" type="text" value="{$row.deviceId|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">serviceToken:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-serviceToken" data-rule="required" class="form-control" name="row[serviceToken]" type="text" value="{$row.serviceToken|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
