<div class="row">
    <div class="col-lg-12">
        <div class="box-header"><h3 class="box-title" style="color: #000">支出占比：本期经费支出（{$row.total_money}）,上期经费结余：{$row.lastyear_balance}，本期经费收入：{$row.thisyear_income}</h3></div>
        <div id="echart" style="height:400px;width:100%;"></div>
    </div>
</div>

<script>
    var data = {:json_encode($data)};
</script>