<style type="text/css">
	.content{
		padding-top: 0px;
	}
	.item img{
		margin: auto;
	}
</style>
<div class="row">
    <div id="myCarousel" class="carousel slide">
	    <!-- 轮播（Carousel）指标 -->
	    <ol class="carousel-indicators">
	    	{foreach name="img" key="key" id="item"}
	        	<li data-target="#myCarousel" data-slide-to="{$key}" {if condition='$key eq 0'}class="active"{/if}></li>
	        {/foreach}
	    </ol>   
	    <!-- 轮播（Carousel）项目 -->
	    <div class="carousel-inner">
	    	{foreach name="img" key="key" id="item"}
	        <div class="item {if condition='$key eq 0'}active{/if}">
	            <img src="{$item}">
	        </div>
	        {/foreach}
	    </div>
	    <!-- 轮播（Carousel）导航 -->
	    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
	<div style="padding: 20px;margin-top: 20px;text-align: center;font-weight: bold;font-size: 21px;">
	  {$intro}
	</div>
</div>
