 <style>

.info{
   line-height: 25px;
   font-size: 12px;
   overflow: hidden;
}
.info img{
    height: 50px;
    margin-right: 10px;
    float: left;
    width: 20%;
}
.title{
   float: left;
   width: 75%;
}
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="tab-pane fade active in" id="one">
                    <!-- <h2 class="page-header" style="text-align: center;">说明列表</h2>   -->
                    {notempty name="list"}
                      {foreach name="list" id="vo"}
                      <div class="row" style="border-bottom: 1px #eee solid;margin-bottom: 10px;">
                          <a href="{:url('info',['id'=>$vo.id])}">
                          <div class="info">
                            <img src="{$vo.image}">
                            <div class="title">{$vo.title}</div>
                          </div></a>
                          <div style="margin: 5px;text-align: right;">
                            <span>{$vo.add_time}</span>
                          </div>
                      </div>
                      {/foreach}
                    {else/}
                     <div style="text-align: center;font-size: 16px;margin-top: 50px;">暂无信息</div>
                    {/notempty}
                </div>
            </div>
        </div>
    </div>
</div> 
