<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" data-rule="required" data-source="user/user/index" data-field="nickname" class="form-control selectpage" name="row[user_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Company_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-company_id" data-rule="required" data-source="company/index" class="form-control selectpage" name="row[company_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('S_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-s_name" data-rule="required" class="form-control" name="row[s_name]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('S_age')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-s_age" data-rule="required" class="form-control" name="row[s_age]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('S_company')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-s_company" data-rule="required" class="form-control" name="row[s_company]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('S_income')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-s_income" data-rule="required" class="form-control" name="row[s_income]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('W_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-w_name" data-rule="required" class="form-control" name="row[w_name]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('W_age')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-w_age" data-rule="required" class="form-control" name="row[w_age]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('W_company')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-w_company" data-rule="required" class="form-control" name="row[w_company]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('W_income')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-w_income" data-rule="required" class="form-control" name="row[w_income]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Live_squer')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-live_squer" data-rule="required" class="form-control" name="row[live_squer]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_signle')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-is_signle" class="form-control selectpicker" name="row[is_signle]">
                {foreach name="isSignleList" item="vo"}
                    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_welfare')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-is_welfare" class="form-control selectpicker" name="row[is_welfare]">
                {foreach name="isWelfareList" item="vo"}
                    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_company')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-is_company" class="form-control selectpicker" name="row[is_company]">
                {foreach name="isCompanyList" item="vo"}
                    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_economy')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-is_economy" class="form-control selectpicker" name="row[is_economy]">
                {foreach name="isEconomyList" item="vo"}
                    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_lowrent')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-is_lowrent" class="form-control selectpicker" name="row[is_lowrent]">
                {foreach name="isLowrentList" item="vo"}
                    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_mark')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-is_mark" class="form-control selectpicker" name="row[is_mark]">
                {foreach name="isMarkList" item="vo"}
                    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Live_start_date')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-live_start_date" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[live_start_date]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Live_end_date')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-live_end_date" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[live_end_date]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Village_squer')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-village_squer" data-rule="required" class="form-control" name="row[village_squer]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_private')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-is_private" class="form-control selectpicker" name="row[is_private]">
                {foreach name="isPrivateList" item="vo"}
                    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Privete_remark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-privete_remark" data-rule="required" class="form-control" name="row[privete_remark]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_public')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-is_public" class="form-control selectpicker" name="row[is_public]">
                {foreach name="isPublicList" item="vo"}
                    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Public_remark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-public_remark" data-rule="required" class="form-control" name="row[public_remark]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Family_info')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-family_info" data-rule="required" class="form-control" name="row[family_info]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Gz_income')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-gz_income" data-rule="required" class="form-control" name="row[gz_income]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zf_income')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zf_income" data-rule="required" class="form-control" name="row[zf_income]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Village_income')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-village_income" data-rule="required" class="form-control" name="row[village_income]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Tz_income')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-tz_income" data-rule="required" class="form-control" name="row[tz_income]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Else_income')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-else_income" data-rule="required" class="form-control" name="row[else_income]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Total_income')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-total_income" data-rule="required" class="form-control" name="row[total_income]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Medical_charge')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-medical_charge" data-rule="required" class="form-control" name="row[medical_charge]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('School_charge')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-school_charge" data-rule="required" class="form-control" name="row[school_charge]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Living_charge')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-living_charge" data-rule="required" class="form-control" name="row[living_charge]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Child_charge')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-child_charge" data-rule="required" class="form-control" name="row[child_charge]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Else_charge')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-else_charge" data-rule="required" class="form-control" name="row[else_charge]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Rent_charge')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-rent_charge" data-rule="required" class="form-control" name="row[rent_charge]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('House_charge')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-house_charge" data-rule="required" class="form-control" name="row[house_charge]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Total_charge')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-total_charge" data-rule="required" class="form-control" name="row[total_charge]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Intro')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-intro" data-rule="required" class="form-control" name="row[intro]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Needinfo')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-needinfo" data-rule="required" class="form-control" name="row[needinfo]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Image1')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-image1" data-rule="required" class="form-control" size="50" name="row[image1]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-image1" class="btn btn-danger plupload" data-input-id="c-image1" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-image1"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-image1" class="btn btn-primary fachoose" data-input-id="c-image1" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-image1"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-image1"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Image2')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-image2" data-rule="required" class="form-control" size="50" name="row[image2]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-image2" class="btn btn-danger plupload" data-input-id="c-image2" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-image2"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-image2" class="btn btn-primary fachoose" data-input-id="c-image2" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-image2"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-image2"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Add_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-add_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[add_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
