<style>
   .red{
     color: red;
   }
   h3{
     color: green;
   }
   .line{
        text-align: center;
        color: #999;
        line-height: 35px;
   }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="one">
                            <h2 class="page-header" style="text-align: center;">工会经费收入支出情况上报（{$jdname}）
                                <p style="font-size: 12px;color: red;">每季度结束后15日内完成上报</p></h2>
                                <p style="font-size: 12px;text-align: right;"><a href="{:url('capital_list')}">查看上报记录>></a></p>
                                {notempty name="cacheData"}
                                <span id="delCache" data-type="capital" style="font-size: 12px;color: red;line-height: 30px;">删除草稿</span>
                                {/notempty}
                            <form id="user-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                                {:token()}
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">企业名称<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="name" name="name" value="{$company_name}" data-rule="required" placeholder="" disabled="disabled">
                                    </div>
                                </div>
                                

                                <!-- <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">总资金<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="total_money" name="total_money" value="" data-rule="required" placeholder="请输入总资金">
                                    </div>
                                </div> -->
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">上期经费结余<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="lastyear_balance" name="lastyear_balance" value="{$cacheData.lastyear_balance}" data-rule="required" placeholder="请输入上期经费结余">
                                    </div>
                                </div>
                                <h3>本期收入</h3>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">会费收入<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="huifei_income" name="huifei_income" value="{$cacheData.huifei_income}" data-rule="required" placeholder="会费收入">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">拨缴经费收入<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="bokuan_income" name="bokuan_income" value="{$cacheData.bokuan_income}" data-rule="required" placeholder="拨缴经费收入">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">行政补助收入<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="administration_help_income" name="administration_help_income" value="{$cacheData.administration_help_income}" data-rule="required" placeholder="行政补助收入">
                                    </div>
                                </div>
                                <div class="line">--------------上级补助收入--------------</div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">回拨补助<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="huibo_help_income" name="huibo_help_income" value="{$cacheData.huibo_help_income}" data-rule="required" placeholder="回拨补助">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">专项补助<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="zhuanxiang_help_income" name="zhuanxiang_help_income" value="{$cacheData.zhuanxiang_help_income}" data-rule="required" placeholder="专项补助">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">其他补助<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="other_help_income" name="other_help_income" value="{$cacheData.other_help_income}" data-rule="required" placeholder="其他补助">
                                    </div>
                                </div>
                                <div class="line">--------------其他收入--------------</div>
                                
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">其他收入<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="other_income" name="other_income" value="{$cacheData.other_income}" data-rule="required" placeholder="其他收入">
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">本期收入合计<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="thisyear_income" name="thisyear_income" value="" data-rule="" disabled placeholder="本期收入合计">
                                    </div>
                                </div> -->

                                <h3>本期支出</h3>
                                <!-- <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">职工活动支出<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="staff_activities_money" name="staff_activities_money" value="" disabled data-rule="" placeholder="请输入员工活动支出">
                                    </div>
                                </div> -->
                                <div class="line">--------------职工活动支出--------------</div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">职工教育费<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="staff_activities_education_money" name="staff_activities_education_money" value="{$cacheData.staff_activities_education_money}" data-rule="required" placeholder="职工教育费">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">文体活动费<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="staff_activities_wtactive_money" name="staff_activities_wtactive_money" value="{$cacheData.staff_activities_wtactive_money}" data-rule="required" placeholder="文体活动费">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">宣传活动费<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="staff_activities_xcactive_money" name="staff_activities_xcactive_money" value="{$cacheData.staff_activities_xcactive_money}" data-rule="required" placeholder="宣传活动费">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">其他活动费<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="staff_activities_other_money" name="staff_activities_other_money" value="{$cacheData.staff_activities_other_money}" data-rule="required" placeholder="其他活动费">
                                    </div>
                                </div>


                                <!-- <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">维权支出<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="safeguard_rights_money" name="safeguard_rights_money" value="" data-rule="" disabled placeholder="请输入维权支出">
                                    </div>
                                </div> -->
                                <div class="line">--------------维权支出--------------</div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">劳动关系协调费<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="safeguard_rights_xietiao_money" name="safeguard_rights_xietiao_money" value="{$cacheData.safeguard_rights_xietiao_money}" data-rule="required" placeholder="劳动关系协调费">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">劳动保护费<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="safeguard_rights_baohu_money" name="safeguard_rights_baohu_money" value="{$cacheData.safeguard_rights_baohu_money}" data-rule="required" placeholder="劳动保护费">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">法律援助费<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="safeguard_rights_falv_money" name="safeguard_rights_falv_money" value="{$cacheData.safeguard_rights_falv_money}" data-rule="required" placeholder="法律援助费">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">困难职工帮扶费<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="safeguard_rights_kunnan_money" name="safeguard_rights_kunnan_money" value="{$cacheData.safeguard_rights_kunnan_money}" data-rule="required" placeholder="困难职工帮扶费">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">送温暖费<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="safeguard_rights_wenruan_money" name="safeguard_rights_wenruan_money" value="{$cacheData.safeguard_rights_wenruan_money}" data-rule="required" placeholder="送温暖费">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">其他维权支出<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="safeguard_rights_other_money" name="safeguard_rights_other_money" value="{$cacheData.safeguard_rights_other_money}" data-rule="required" placeholder="其他维权支出">
                                    </div>
                                </div>


                                <div class="line">--------------业务支出--------------</div>
                                <!-- <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">业务支出<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="business_money" name="business_money" value="" data-rule="" disabled placeholder="请输入业务支出">
                                    </div>
                                </div> -->
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2"> 培训费<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="business_peixun_money" name="business_peixun_money" value="{$cacheData.business_peixun_money}" data-rule="required" placeholder=" 培训费">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2"> 会议费<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="business_meeting_money" name="business_meeting_money" value="{$cacheData.business_meeting_money}" data-rule="required" placeholder=" 会议费">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">外事费<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="business_waishi_money" name="business_waishi_money" value="{$cacheData.business_waishi_money}" data-rule="required" placeholder="外事费">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">专项业务费<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="business_zhuanxiang_money" name="business_zhuanxiang_money" value="{$cacheData.business_zhuanxiang_money}" data-rule="required" placeholder="专项业务费">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">其他业务支出<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="business_other_money" name="business_other_money" value="{$cacheData.business_other_money}" data-rule="required" placeholder="其他业务支出">
                                    </div>
                                </div>
                                
                                

                                <div class="line">--------------资本性支出--------------</div>
                                <!-- <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">资本性支出<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="capital_money" name="capital_money" value="" data-rule="" disabled placeholder="请输入资本性支出">
                                    </div>
                                </div> -->
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">办公设备购置<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="capital_work_money" name="capital_work_money" value="{$cacheData.capital_work_money}" data-rule="required" placeholder="办公设备购置">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2"> 专用设备购置<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="capital_zhuanxiang_money" name="capital_zhuanxiang_money" value="{$cacheData.capital_zhuanxiang_money}" data-rule="required" placeholder=" 专用设备购置">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">交通工具购置<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="capital_jiaotong_money" name="capital_jiaotong_money" value="{$cacheData.capital_jiaotong_money}" data-rule="required" placeholder="交通工具购置">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">大型修缮<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="capital_xiushang_money" name="capital_xiushang_money" value="{$cacheData.capital_xiushang_money}" data-rule="required" placeholder="大型修缮">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">信息网络购建<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="capital_internate_money" name="capital_internate_money" value="{$cacheData.capital_internate_money}" data-rule="required" placeholder="信息网络购建">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">其他资本性支出<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="capital_other_money" name="capital_other_money" value="{$cacheData.capital_other_money}" data-rule="required" placeholder="其他资本性支出">
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">行政支出<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="administration_money" name="administration_money" value="" data-rule="required" placeholder="请输入行政支出">
                                    </div>
                                </div> -->
                                <!-- <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">补助下级支出<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="subsidy_money" name="subsidy_money" value="" data-rule="required" placeholder="请输入补助下级支出">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">事业支出<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="cause_money" name="cause_money" value="" data-rule="required" placeholder="请输入事业支出">
                                    </div>
                                </div> -->
                                <div class="line">--------------其他支出--------------</div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">其他支出<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="other_money" name="other_money" value="{$cacheData.other_money}" data-rule="required" placeholder="请输入其他支出">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-8">
                                        <a href="{:url('/index/index/send_file',['type'=>9])}">工会会计科目使用说明下载>></a>
                                    </div>
                                </div>
                                
                                <div class="form-group normal-footer">
                                    <label class="control-label col-xs-12 col-sm-2"></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <button type="submit" id="submit" disabled="disabled" class="btn btn-success btn-embossed disabled">确定上报</button>

                                        <button style="margin-top: 10px;" type="button" id="savecg" data-type="capital" class="btn btn-info btn-embossed disabled">保存草稿</button>
                                    </div>
                                </div>
                            </form> 
                        </div>

      
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var kpiInfo = {:json_encode($kpiInfo)};
</script>