<style>
   .red{
     color: red;
   }
   h3{
     color: green;
   }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="one">
                            <h2 class="page-header" style="text-align: center;">企业信息</h2>
                            <form id="user-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                                {:token()}
                                <h3>企业信息</h3>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">企业名称<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="name" name="name" value="{$company_name}" data-rule="required" placeholder="" disabled="disabled">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">企业性质:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="c_nature" name="c_nature" value="{$info.c_nature}" data-rule="" placeholder="企业性质" >
                                    </div>
                                </div>
                                

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">企业类型:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="c_style" name="c_style" value="{$info.c_style}" data-rule="" placeholder="企业类型">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">主营业务:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="c_business" name="c_business" value="{$info.c_business}" data-rule="" placeholder="主营业务" >
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">年产值:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="c_annual_value" name="c_annual_value" value="{$info.c_annual_value}" data-rule="" placeholder="年产值" >
                                    </div>
                                </div>
                               <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">成立日期:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" id="c_build_time" name="c_build_time" value="{$info.c_build_time|date='Y-m-d',###}" data-rule="" placeholder="成立日期" >
                                    </div>
                                </div>
                                 <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">员工人数:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="c_user_num" name="c_user_num" value="{$info.c_user_num}" data-rule="" placeholder="员工人数" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">男员工数:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="c_man_num" name="c_man_num" value="{$info.c_man_num}" data-rule="" placeholder="男员工数" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">女员工数:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="c_women_num" name="c_women_num" value="{$info.c_women_num}" data-rule="" placeholder="女员工数" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">外省人数:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="c_outprovince_user_num" name="c_outprovince_user_num" value="{$info.c_outprovince_user_num}" data-rule="" placeholder="外省人数" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">本省外市人数:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="c_province_outcity_user_num" name="c_province_outcity_user_num" value="{$info.c_province_outcity_user_num}" data-rule="" placeholder="本省外市人数" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">本市人数:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="c_city_user_num" name="c_city_user_num" value="{$info.c_city_user_num}" data-rule="" placeholder="本市人数" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">研究生及以上学历人数:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="c_yjs_user_num" name="c_yjs_user_num" value="{$info.c_yjs_user_num}" data-rule="" placeholder="研究生及以上学历人数" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">本科人数:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="c_benke_user_num" name="c_benke_user_num" value="{$info.c_benke_user_num}" data-rule="" placeholder="本科人数" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">大专人数:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="c_dazhuan_user_num" name="c_dazhuan_user_num" value="{$info.c_dazhuan_user_num}" data-rule="" placeholder="大专人数" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">中专及高中人数:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="c_zhongzhuan_user_num" name="c_zhongzhuan_user_num" value="{$info.c_zhongzhuan_user_num}" data-rule="" placeholder="中专及高中人数" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">初中及以下人数:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="c_chuzhong_user_num" name="c_chuzhong_user_num" value="{$info.c_chuzhong_user_num}" data-rule="" placeholder="初中及以下人数" >
                                    </div>
                                </div>
                                <h3>工会信息</h3>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">工会成立时间:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" id="u_build_time" name="u_build_time" value="{$info.u_build_time|date='Y-m-d',###}" data-rule="" placeholder="成立日期" >
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">工会主席:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="u_chairman" name="u_chairman" value="{$info.u_chairman}" data-rule="" placeholder="工会主席" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">工会主席邮箱:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="u_chairman_email" name="u_chairman_email" value="{$info.u_chairman_email}" data-rule="" placeholder="工会主席邮箱" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">工会会员人数:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="u_user_num" name="u_user_num" value="{$info.u_user_num}" data-rule="" placeholder="工会会员人数" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">工会会员构成:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="u_user_info" name="u_user_info" value="{$info.u_user_info}" data-rule="" placeholder="工会会员构成" >
                                    </div>
                                </div>
                                
                           
                               <h3>党员信息</h3>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">党支部成立时间:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" id="d_build_time" name="d_build_time" value="{$info.d_build_time|date='Y-m-d',###}" data-rule="" placeholder="党支部成立时间" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">党支部书记:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="d_secretary" name="d_secretary" value="{$info.d_secretary}" data-rule="" placeholder="党支部书记" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">党员人数:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="d_user_num" name="d_user_num" value="{$info.d_user_num}" data-rule="" placeholder="党员人数" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">入党积极分子人数:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="d_nosuser_num" name="d_nosuser_num" value="{$info.d_nosuser_num}" data-rule="" placeholder="入党积极分子人数" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">党员特点:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="d_characteristic" name="d_characteristic" value="{$info.d_characteristic}" data-rule="" placeholder="党员特点" >
                                    </div>
                                </div>
                                
                                <div class="form-group normal-footer">
                                    <label class="control-label col-xs-12 col-sm-2"></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <button type="submit" id="submit" disabled="disabled" class="btn btn-success btn-embossed disabled">{:__('Ok')}</button>
                                    </div>
                                </div>
                            </form> 
                        </div>

      
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var kpiInfo = {:json_encode($kpiInfo)};
</script>