<style>
   .red{
     color: red;
   }
   h3{
     color: green;
   }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="one">
                            <h2 class="page-header" style="text-align: center;">厂务公开发布</h2>

                            <!-- <div style="margin-bottom: 10px;margin-top: -10px;">
                                <a href="{:url('index/article/index',['type'=>12])}">
                                    <img style="width: 100%" src="__CDN__/assets/img/site_discount.png">
                                </a>
                            </div> -->
                        
                            <form id="user-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                                {:token()}
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">{:__('Union_company_name')}<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="name" name="name" value="{$company_name}" data-rule="required" placeholder="" disabled="disabled">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">信息标题<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="title" name="title" value="" data-rule="required" placeholder="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">主要内容<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <textarea class="form-control" data-rule="required" id="content" name="content" placeholder="提案主要内容" rows="10"></textarea>
                                    </div>
                                </div>

                                
                                <div class="form-group">
                                    <div style="text-align: center;font-weight: bold;font-size: 18px;">{$datetime}</div>
                                </div>

                                <div class="form-group normal-footer">
                                    <label class="control-label col-xs-12 col-sm-2"></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <button type="submit" id="submit" disabled="disabled" class="btn btn-success btn-embossed disabled">确认发布</button>
                                    </div>
                                </div>
                            </form>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
