<style>
    body{
     
    }
    .container{
      padding: 0px;
      margin-top: -10px;
    }
   .title{
      position: relative;
      width: 40%;
      background: #fff;
      border-radius: 10px;
      padding: 10px;
      text-align: center;
      margin: 15px;
   }
   .title img{
      width: 55%;
      height: 75px;
      display: block;
      margin: auto;
      margin-bottom: 15px;
   }
   .title p{
      font-size: 14px;
      font-weight: bold;
   }
   .left{
      float: left;
   }
   .right{
      float: right;
   }
   .menu{
      position: fixed;
      bottom: 0px;
      height: 60px;
      width: 100%;
      overflow: hidden;
      background: #fff;
      padding:10px;
      color: #ccc;
      border-top: 1px #ccc solid;
   }
   .menu .submenu{
      text-align: center;
      width: 50%;
   }
   .menu .submenu img {
      width: 25px;
      height: 25px;
      margin-bottom: 5px;
   }
   .notice{
      background: red;
      width: 20px;
      height: 20px;
      border-radius: 20px;
      text-align: center;
      line-height: 20px;
      color: #fff;
      position: absolute;
      right: 10px
   }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9" style="overflow: hidden;">
        	  <a href="{:url('unindex2')}">
            <div class="title left">
                <img src="__CDN__/assets/img/21.png">
                <p>工会组织建设</p>
            </div></a>

            <a href="{:url('unionactive')}">
            <div class="title right">
                <img src="__CDN__/assets/img/24.png">
                <p>文体活动上报</p>
            </div></a>

            <a href="{:url('/index/admin/warninglist')}">
            <div class="title left">
                {if condition="$warning_num gt 0"}
                <div class="notice">{$warning_num}</div>
                {/if}
                <img src="__CDN__/assets/img/yjxx.png">
                <p>任务预警信息</p>
            </div></a>


            <a href="{:url('/index/admin/kpilist')}">
            <div class="title right">
                <img src="__CDN__/assets/img/rwzb.png">
                <p>量化任务指标</p>
            </div></a>

            <a href="{:url('/index/admin/capital')}">
            <div class="title left">
                <img src="__CDN__/assets/img/zjsb.png">
                <p>经费使用上报</p>
            </div></a>

            <a href="{:url('/index/admin/company_info')}">
            <div class="title right">
                <img src="__CDN__/assets/img/qyxx.png">
                <p>企业信息完善</p>
            </div></a>

            <a href="{:url('index/admin/mzgl')}">
            <div class="title left">
                <img src="__CDN__/assets/img/mzgl.png">
                <p>民主管理</p>
            </div></a>

        </div>
    </div>

    <div class="menu">
        <a href="{:url('/index')}">
        <div class="submenu left">
            <img src="__CDN__/assets/img/home2.png">
            <p style="color:#999">首页</p>
        </div></a>

        <a href="{:url('/index/index/userinfo')}">
        <div class="submenu left">
            <img src="__CDN__/assets/img/user2.png">
            <p style="color:#999">我的</p>
        </div></a>
    </div>
</div>
