 <style>
 .name{
   line-height: 35px;
   font-size: 14px;
   overflow: hidden;
 }
.info{
   font-size: 16px;
   font-weight: bold;
}
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="tab-pane fade active in" id="one">
                    <h2 class="page-header" style="text-align: center;">提案处理</h2>  
                    {notempty name="list"}
                      {foreach name="list" id="vo"}
                      <div style="border-bottom: 1px solid #ccc;overflow: hidden;padding: 10px 0px;">
                        <div class="col-xs-9 col-sm-9">
                            <div class="info">{$vo.title}</div>
                            <div class="name">{$vo.add_time|date="Y年m月d日H:i",###} &nbsp;by &nbsp;{$vo.username}</div>
                        </div>
                        <div class="col-xs-3 col-sm-3">
                          {if condition="$vo.status eq 0"}
                           <a href="{:url('proposal_info',['id'=>$vo.id])}" style="line-height: 60px;">去处理</a>
                           {elseif condition="$vo.status eq 1"}
                           <a href="javascript:void(0);" style="line-height: 60px;color: red;">已放弃</a> 
                          {elseif condition="$vo.status eq 3"}
                           <a href="javascript:void(0);" style="line-height: 60px;color: blue;">已转建议</a> 
                          {elseif condition="$vo.status eq 4"}
                           <a href="javascript:void(0);" style="line-height: 60px;color: black;">已关闭</a> 
                          {else/}
                           <a href="{:url('proposal_info',['id'=>$vo.id])}" style="line-height: 60px;color: #999;">已处理</a>
                          {/if}
                        </div>
                      </div>
                      {/foreach}
                    {else/}
                     <div style="text-align: center;font-size: 16px;margin-top: 50px;height: 500px;">暂无提案</div>
                    {/notempty}
                </div>
            </div>
        </div>
    </div>
</div> 
