<style>
   .red{
     color: red;
   }
   h3{
     color: green;
   }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="one">
                            <h2 class="page-header" style="text-align: center;">提案编辑</h2>
                        
                            <form id="user-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                                {:token()}
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">{:__('Union_company_name')}<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="name" name="name" value="{$info.company_name}" data-rule="required" placeholder="" disabled="disabled">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">截至讨论时间<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" id="vote_end_time" name="vote_end_time" value="{$info.vote_end_time}" data-rule="required" placeholder="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">提案名称<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="title" name="title" value="{$info.title}" data-rule="required" placeholder="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">提案主要内容<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <textarea class="form-control" data-rule="required" id="content" name="content" placeholder="提案主要内容" rows="10">{$info.content}</textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-6 col-sm-2">提案人:</label>
                                    <div class="col-xs-6 col-sm-4">
                                        {$info.username}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-6 col-sm-2">联系电话:</label>
                                    <div class="col-xs-6 col-sm-4">
                                       {$info.mobile}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div style="text-align: center;font-weight: bold;font-size: 18px;">{$info.add_time|date="Y年m月d日H:i",###}</div>
                                </div>

                                <div class="form-group normal-footer">
                                    <input type="hidden" id="status" name="status" value="0">
                                    <div class="col-xs-4 col-sm-4" style="text-align: center;">
                                        <button type="button" status="1" class="btn-sm btn-danger btn-embossed">放弃该提案</button>
                                    </div>
                                    <div class="col-xs-4 col-sm-4" style="text-align: center;">
                                        <button type="button" style="font-size: 16px;" status="2" class="btn-sm btn-success btn-embossed">确认并推送提案</button>
                                    </div>
                                    <div class="col-xs-4 col-sm-4" style="text-align: center;">
                                        <button type="button" status="3" class="btn-sm btn-info btn-embossed">转合理化建议</button>
                                    </div>
                                </div>
                            </form>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
