<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <input id="c-id" type="hidden" name="id" value="{$id}">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">审批意见:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-result" data-rule="" class="form-control " rows="8" name="result" cols="50">{$result}</textarea>
        </div>
    </div>
    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-result2" name="result2" style="height: 35px;">
                <option value="情况已核实，给予通过">情况已核实，给予通过</option>
                <option value="情况不属实，不通过">情况不属实，不通过</option>
            </select>
        </div>
    </div> -->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">审批结果:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="pass" type="radio" name="status" value="1"><label for="pass">情况已核实，给予通过</label>
            <input id="nopass" type="radio" name="status" value="2" style="margin-left: 10px"><label for="nopass">情况不属实，不通过</label>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
