
<div id="content-container" class="container">
    <div class="row">
        <!--startdownload-->
        <style type="text/css">
            h2{ text-align: center; }
            tr{
                height: 35px;
            }
            td{
                padding: 5px 15px;
            }
        </style>
        <div style="width:100%;">
            <h2>关于广州安代通汽车技术有限公司工会第二次会员代表大会选举结果的报告</h2>
            <p>肇庆高新区总工会：</p>
            <p>我会于 2020 年 6 月 17 日召开了第二次工会会员代表大会，选举结果如下：</p>
            <table style="width: 100%;margin: auto;" border="1">
                <tr><td width="33%">职务</td><td width="33%">姓名</td><td width="33%">备注</td></tr>
                <tr><td>工会主席</td><td></td><td></td></tr>
                <tr><td>工会副主席（职工人数100人以上可设立）</td><td></td><td></td></tr>
                <tr><td>组织委员</td><td></td><td></td></tr>
                <tr><td>文体委员</td><td></td><td></td></tr>
                <tr><td>宣传委员</td><td></td><td></td></tr>
                <tr><td>劳动调解委员</td><td></td><td></td></tr>
                <tr><td>女职工委员会主任（必须为女职工）</td><td></td><td></td></tr>
                <tr><td>财务委员</td><td></td><td></td></tr>
                <tr><td>经审主任</td><td></td><td></td></tr>
            </table>
            <p style="padding-left: 30px;margin-top: 30px">以上报告，请批复。</p>
        </div>
        <!--enddownload-->
        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6" style="text-align: center;margin: auto;">
            <a href="{:url('down')}" target="_blank" class="btn btn-success btn-embossed" style="margin-top: 20px;width: 150px;" >导出doc</a>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6" style="text-align: center;margin: auto;">
            <button type="submit" id="submit" class="btn btn-success btn-embossed" style="margin-top: 20px;width: 150px;" >打印</button>
        </div>
    </div>
</div>

<script type="text/javascript">     
    function doPrint() {      
        bdhtml=window.document.body.innerHTML;      
        sprnstr="<!--startdownload-->";      
        eprnstr="<!--enddownload-->";      
        prnhtml=bdhtml.substr(bdhtml.indexOf(sprnstr)+20);      
        prnhtml=prnhtml.substring(0,prnhtml.indexOf(eprnstr));      
        window.document.body.innerHTML=prnhtml;   
        window.print();    
}      
</script>