@import url("../css/bootstrap.css");
@import url("../css/fastadmin.css");
@import url("../css/skins/skin-blue-light.css");
@import url("../css/iconfont.css");
@import url("../libs/font-awesome/css/font-awesome.min.css");
@import url("../libs/toastr/toastr.min.css");
@import url("../libs/fastadmin-layer/dist/theme/default/layer.css");
@import url("../libs/bootstrap-table/dist/bootstrap-table.min.css");
@import url("../libs/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css");
@import url("../libs/bootstrap-daterangepicker/daterangepicker.css");
@import url("../libs/nice-validator/dist/jquery.validator.css");
@import url("../libs/bootstrap-select/dist/css/bootstrap-select.min.css");
@import url("../libs/fastadmin-selectpage/selectpage.css");
@import url("../libs/bootstrap-slider/slider.css");
html,
body {
  height: 100%;
}
body {
  background: #f1f4f6;
  font-size: 13px;
}
body.is-dialog {
  background: #fff;
}
.selection {
  position: absolute;
  border: 1px solid #8B9;
  background-color: #BEC;
}
.main-header .logo,
.main-header .navbar {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.main-header .navbar {
  position: relative;
}
.bootstrap-dialog .modal-dialog {
  /*width: 70%;*/
  max-width: 885px;
}
/*iOS兼容*/
html.ios-fix,
html.ios-fix body {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.wrapper {
  height: 100%;
}
#header {
  background: #fff;
}
.content-wrapper {
  position: relative;
  height: 100%;
}
.control-relative {
  position: relative;
}
.tab-addtabs .tab-pane {
  height: 100%;
  width: 100%;
}
.row-between .col-xs-6 + .col-xs-6:before {
  content: "-";
  position: absolute;
  left: -2%;
  top: 6px;
}
@media only screen and (min-width: 481px) {
  .row-flex {
    display: flex;
    flex-wrap: wrap;
  }
  .row-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }
  .row-flex.row:after,
  .row-flex.row:before {
    display: flex;
  }
}
@media (max-width: 991px) {
  .main-header .navbar-custom-menu a.btn-danger {
    color: #fff;
    background-color: #e74c3c;
  }
  .main-header .navbar-custom-menu a.btn-primary {
    color: #fff;
    background-color: #2c3e50;
  }
}
.common-search-table {
  min-height: 20px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #f5f5f5;
}
/* 固定的底部按钮 */
.fixed-footer {
  position: fixed;
  bottom: 0;
  background-color: #ecf0f1;
  width: 100%;
  margin-bottom: 0;
  padding: 10px;
}
table.table-template {
  overflow: hidden;
}
.sp_container .msg-box {
  position: absolute;
  right: 0;
  top: 0;
}
.toast-top-right-index {
  top: 62px;
  right: 12px;
}
.bootstrap-select .status {
  background: #f0f0f0;
  clear: both;
  color: #999;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: -5px;
  padding: 10px 20px;
}
.img-center {
  margin: 0 auto;
  display: inline;
  float: none;
}
/*
 * RIBBON
 */
#ribbon {
  overflow: hidden;
  padding: 15px 15px 0 15px;
  position: relative;
}
#ribbon a {
  color: #777 !important;
  text-decoration: none !important;
}
#ribbon .breadcrumb {
  display: inline-block;
  margin: 0;
  padding: 0;
  background: none;
  vertical-align: top;
}
#ribbon .breadcrumb > .active,
#ribbon .breadcrumb li {
  color: #aaa;
}
#ribbon .shortcut a {
  margin-left: 10px;
}
.is-dialog #main {
  background: #fff;
}
.is-dialog .layer-footer {
  display: none;
}
form.form-horizontal .control-label {
  font-weight: normal;
}
.user-panel > .image img {
  width: 45px;
  height: 45px;
}
/*panel扩展描述样式*/
.panel-intro {
  margin-bottom: 0;
  border: none;
}
.panel-intro > .panel-heading {
  padding: 15px;
  padding-bottom: 0;
  background: #e8edf0;
  border-color: #e8edf0;
  position: relative;
}
.panel-intro > .panel-heading .panel-lead {
  margin-bottom: 15px;
}
.panel-intro > .panel-heading .panel-lead em {
  display: block;
  font-weight: bold;
  font-style: normal;
}
.panel-intro > .panel-heading .panel-title {
  height: 25px;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.panel-intro > .panel-heading .panel-control {
  height: 42px;
  position: absolute;
  top: 8px;
  right: 8px;
}
.panel-intro > .panel-heading .panel-control .fa {
  font-size: 14px;
}
.panel-intro > .panel-heading .nav-tabs {
  border-bottom: 0;
  margin-bottom: 0;
}
.panel-intro > .panel-heading .nav-tabs > li > a {
  margin-right: 4px;
  color: #95a5a6;
  background-color: #d8e0e6;
  border: 1px solid #e8edf0;
  border-bottom-color: transparent;
}
.panel-intro > .panel-heading .nav-tabs > li > a:hover,
.panel-intro > .panel-heading .nav-tabs > li > a:focus {
  border: 1px solid #e8edf0;
  color: #7b8a8b;
  background-color: #c9d4dc;
}
.panel-intro > .panel-heading .nav-tabs > li.active > a,
.panel-intro > .panel-heading .nav-tabs > li.active > a:hover,
.panel-intro > .panel-heading .nav-tabs > li.active > a:focus {
  color: #7b8a8b;
  background-color: #ffffff;
  border-bottom-color: transparent;
  cursor: default;
}
/*单表格*/
.panel-tabs .panel-heading {
  padding: 12px 15px 12px 15px;
}
.panel-tabs .panel-heading .panel-lead {
  margin-bottom: 0px;
}
/*选项卡*/
.panel-nav .panel-heading {
  padding: 0px;
  padding-bottom: 0;
  background: #f1f4f6;
  border-color: #f1f4f6;
}
.panel-nav .nav-tabs > li > a {
  padding: 12px 15px;
  background-color: #e8edf0;
  border: 1px solid #f1f4f6;
}
.panel-nav .nav-tabs > li > a:hover,
.panel-nav .nav-tabs > li > a:focus {
  border: 1px solid #e8edf0;
  background-color: #e8edf0;
}
.panel-nav .nav-tabs > li.active > a,
.panel-nav .nav-tabs > li.active > a:hover,
.panel-nav .nav-tabs > li.active > a:focus {
  border-color: #f1f4f6;
  border-bottom-color: transparent;
}
/*顶栏addtabs*/
.nav-addtabs {
  height: 100%;
  border: none;
}
.nav-addtabs.disable-top-badge > li > a > .pull-right-container {
  display: none;
}
.nav-addtabs > li {
  margin: 0;
}
.nav-addtabs > li > a {
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  border-radius: 0;
  border: none;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  margin: 0;
  color: #95a5a6;
}
.nav-addtabs > li > a:hover,
.nav-addtabs > li > a:focus {
  border: none;
  color: #2c3e50;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}
.nav-addtabs > li.active > a {
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  border-radius: 0;
  border: none;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  background: #f1f4f6;
  color: #2c3e50;
  overflow: hidden;
}
.nav-addtabs > li.active > a:hover,
.nav-addtabs > li.active > a:focus {
  border: none;
  color: #2c3e50;
  background: #f1f4f6;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}
.nav-addtabs > li .close-tab {
  font-size: 10px;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
  z-index: 100;
  cursor: pointer;
  color: #eee;
  display: none;
}
.nav-addtabs > li .close-tab:before {
  content: "\e626";
  font-family: iconfont;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 18px;
}
.nav-addtabs .open > a:hover,
.nav-addtabs .open > a:focus {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}
.nav-addtabs ul li {
  position: relative;
}
.nav-addtabs li:hover > .close-tab {
  display: block;
}
.multiplenav .content-wrapper,
.multiplenav .right-side {
  padding-top: 94px;
}
.multiplenav #firstnav .nav-addtabs {
  padding-right: 450px;
}
#firstnav {
  height: 50px;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  position: relative;
}
#firstnav .sidebar-toggle {
  position: absolute;
  width: 45px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
#firstnav .nav-addtabs {
  position: absolute;
  left: 45px;
  z-index: 98;
}
#firstnav .navbar-custom-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  background: transparent;
}
/*次栏菜单栏*/
#secondnav {
  height: 44px;
  position: absolute;
  top: 50px;
  left: 0;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  padding: 5px 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
#secondnav .nav-addtabs {
  height: 100%;
  border: none;
}
#secondnav .nav-addtabs.disable-top-badge > li > a > .pull-right-container {
  display: none;
}
#secondnav .nav-addtabs > li {
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  margin: 2px 5px 2px 0;
  background: #fff;
}
#secondnav .nav-addtabs > li > a {
  display: block;
  color: #495060 !important;
  height: 100%;
  padding: 0;
  line-height: 28px;
  font-size: 12px;
  vertical-align: middle;
  opacity: 1;
  overflow: hidden;
  background: none;
  border: none;
}
#secondnav .nav-addtabs > li.active {
  border-color: #bdbebd;
  background-color: #f7f7f7;
}
#secondnav .nav-addtabs > li .close-tab {
  font-size: 10px;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
  z-index: 100;
  cursor: pointer;
  color: #eee;
}
#secondnav .nav-addtabs > li .close-tab:before {
  content: "\e626";
  font-family: iconfont;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 18px;
}
#secondnav .nav-addtabs > li:hover,
#secondnav .nav-addtabs > li:focus {
  border-color: #bdbebd;
}
#secondnav .nav-addtabs ul li {
  position: relative;
}
#secondnav .nav-addtabs li:hover > .close-tab {
  display: block;
  border-color: #222e32;
  color: #222e32;
}
.main-sidebar .sidebar-form {
  overflow: visible;
}
.main-sidebar .sidebar-form .menuresult {
  z-index: 999;
  position: absolute;
  top: 34px;
  left: -1px;
  width: 100%;
  max-height: 250px;
  overflow: auto;
  margin: 0;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.main-sidebar .sidebar-form .menuresult a {
  border-top: 1px solid #eee;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  margin-bottom: -1px;
  display: block;
  padding: 10px 15px;
  color: #222d32;
}
.main-sidebar .sidebar-form .menuresult a:hover {
  background: #eee;
}
.input-group .sp_result_area {
  width: 100%;
}
.sidebar-menu.show-submenu .treeview-menu {
  display: block;
}
.sidebar-menu > li .badge {
  margin-top: 0;
}
.sidebar-menu .treeview-menu > li > a {
  font-size: inherit;
}
.sidebar-collapse .user-panel > .image img {
  width: 25px;
  height: 25px;
}
@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    top: 41px;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container {
    top: 7px !important;
    height: 17px;
  }
}
.fieldlist dd {
  display: block;
  margin: 5px 0;
}
.fieldlist dd input {
  display: inline-block;
  width: 300px;
}
.fieldlist dd input:first-child {
  width: 110px;
}
.fieldlist dd ins {
  width: 110px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
}
/* 弹窗中的表单 */
.form-layer {
  height: 100%;
  min-height: 150px;
  min-width: 300px;
}
.form-layer .form-body {
  width: 100%;
  overflow: auto;
  top: 0;
  position: absolute;
  z-index: 10;
  bottom: 50px;
  padding: 15px;
}
.form-layer .form-footer {
  height: 50px;
  line-height: 50px;
  background-color: #ecf0f1;
  width: 100%;
  position: absolute;
  z-index: 200;
  bottom: 0;
  margin: 0;
}
.form-layer .form-footer .form-group {
  margin-left: 0;
  margin-right: 0;
}
#treeview .jstree-container-ul .jstree-node {
  display: block;
  clear: both;
}
#treeview .jstree-leaf:not(:first-child) {
  float: left;
  background: none;
  margin-left: 0;
  min-width: 80px;
  clear: none;
}
#treeview .jstree-leaf {
  float: left;
  margin-left: 0;
  padding-left: 24px;
  min-width: 80px;
  clear: none;
  color: #777;
}
#treeview .jstree-leaf > .jstree-icon,
#treeview .jstree-leaf .jstree-themeicon {
  display: none;
}
#treeview .jstree-last {
  background-image: url("../img/32px.png");
  background-position: -292px -4px;
  background-repeat: repeat-y;
}
#treeview .jstree-children:before,
#treeview .jstree-children:after {
  content: " ";
  display: table;
}
#treeview .jstree-children:after {
  clear: both;
}
#treeview .jstree-themeicon {
  display: none;
}
/*去除bootstrap-table的边框*/
.fixed-table-container {
  border: none !important;
}
/*修复nice-validator新版下的一处BUG*/
.nice-validator input,
.nice-validator select,
.nice-validator textarea,
.nice-validator [contenteditable] {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/*修复nice-validator和summernote的编辑框冲突*/
.nice-validator .note-editor .note-editing-area .note-editable {
  display: inherit;
}
/*预览区域*/
.plupload-preview {
  padding: 0 10px;
  margin-bottom: 0;
}
.plupload-preview li {
  margin-top: 15px;
}
.plupload-preview .thumbnail {
  margin-bottom: 10px;
}
.plupload-preview a {
  display: block;
}
.plupload-preview a:first-child {
  height: 90px;
}
.plupload-preview a img {
  height: 80px;
  object-fit: cover;
}
.pjax-loader-bar .progress {
  position: fixed;
  top: 0;
  left: 0;
  height: 2px;
  background: #77b6ff;
  box-shadow: 0 0 10px rgba(119, 182, 255, 0.7);
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
}
.dropdown-menu.text-left a,
.dropdown-menu.text-left li {
  text-align: left !important;
}
.bootstrap-table .fixed-table-toolbar .dropdown-menu {
  overflow: auto;
}
.bootstrap-table .fa-toggle-on.fa-2x {
  font-size: 1.86em;
}
.bootstrap-table .form-commonsearch .form-group {
  margin-left: 0;
  margin-right: 0;
  white-space: nowrap;
}
.toolbar {
  margin-top: 10px;
  margin-bottom: 10px;
}
.fixed-table-toolbar .bs-bars,
.fixed-table-toolbar .columns,
.fixed-table-toolbar .search {
  line-height: inherit;
}
.fixed-table-toolbar .toolbar {
  margin-top: 0;
  margin-bottom: 0;
}
.bootstrap-table table tbody tr:first-child td .bs-checkbox {
  vertical-align: middle;
}
.bootstrap-table td.bs-checkbox {
  vertical-align: middle;
}
table.table-nowrap tbody > tr > td,
table.table-nowrap thead > tr > th {
  white-space: nowrap;
}
.fixed-table-container thead th .sortable {
  padding-right: 0;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  overflow: auto;
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 6px 6px 6px;
  -moz-background-clip: padding;
  border-radius: 0 6px 6px 6px;
  background-clip: padding-box;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 6px 0 6px 6px;
  -moz-background-clip: padding;
  border-radius: 6px 0 6px 6px;
  background-clip: padding-box;
}
/*重写toast的几个背景色*/
.toast-primary {
  background-color: #48c9b0 !important;
}
.toast-success {
  background-color: #18bc9c !important;
}
.toast-error {
  background-color: #e74c3c !important;
}
.toast-info {
  background-color: #5dade2 !important;
}
.toast-warning {
  background-color: #f1c40f !important;
}
.toast-inverse {
  background-color: #34495e !important;
}
.toast-default {
  background-color: #bdc3c7 !important;
}
#toast-container > div,
#toast-container > div:hover {
  -webkit-box-shadow: 0 0 3px #eee;
  -moz-box-shadow: 0 0 3px #eee;
  box-shadow: 0 0 3px #eee;
}
.layui-layer-fast {
  /*自定义底部灰色操作区*/
}
.layui-layer-fast .layui-layer-title {
  background: #2c3e50 !important;
  color: #fff !important;
  border-bottom: none;
}
.layui-layer-fast .layui-layer-title ~ .layui-layer-setwin {
  top: 0px;
  height: 42px;
}
.layui-layer-fast .layui-layer-title ~ .layui-layer-setwin > a {
  height: 42px;
  line-height: 42px;
  display: inline-block;
}
.layui-layer-fast.layui-layer-border {
  border: none !important;
  box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.3) !important;
}
.layui-layer-fast.layui-layer-iframe {
  overflow: visible;
}
.layui-layer-fast .layui-layer-moves {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.layui-layer-fast .layui-layer-btn {
  text-align: center !important;
  padding: 10px !important;
  background: #ecf0f1;
  overflow: hidden;
}
.layui-layer-fast .layui-layer-btn a {
  background-color: #95a5a6;
  border-color: #95a5a6;
  color: #fff !important;
  height: 31px;
  margin-top: 0;
  border: 1px solid transparent;
}
.layui-layer-fast .layui-layer-btn .layui-layer-btn0 {
  background-color: #18bc9c;
  border-color: #18bc9c;
}
.layui-layer-fast .layui-layer-footer {
  padding: 8px 20px;
  background-color: #ecf0f1;
  height: auto;
  text-align: inherit !important;
}
.layui-layer-fast .layui-layer-setwin > a {
  background: none !important;
}
.layui-layer-fast .layui-layer-setwin > a cite {
  display: none;
}
.layui-layer-fast .layui-layer-setwin > a:after {
  content: "\e625";
  font-family: iconfont;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  font-size: 18px;
  color: #fff;
  margin: 0;
  z-index: 1;
}
.layui-layer-fast .layui-layer-setwin > a:hover {
  text-decoration: none !important;
  background: none !important;
}
.layui-layer-fast .layui-layer-setwin > a:focus {
  text-decoration: none !important;
}
.layui-layer-fast .layui-layer-setwin .layui-layer-min {
  display: none;
}
.layui-layer-fast .layui-layer-setwin .layui-layer-min:after {
  content: "\e625";
}
.layui-layer-fast .layui-layer-setwin .layui-layer-max {
  display: none;
}
.layui-layer-fast .layui-layer-setwin .layui-layer-max:after {
  content: "\e623";
}
.layui-layer-fast .layui-layer-setwin .layui-layer-maxmin {
  display: none;
}
.layui-layer-fast .layui-layer-setwin .layui-layer-maxmin:after {
  content: "\e624";
}
.layui-layer-fast .layui-layer-setwin .layui-layer-close1:after {
  content: "\e626";
}
.layui-layer-fast .layui-layer-setwin .layui-layer-close2,
.layui-layer-fast .layui-layer-setwin .layui-layer-close2:hover {
  background: url('../libs/fastadmin-layer/dist/theme/default/icon.png') no-repeat -149px -31px !important;
  top: -30px;
  right: -30px;
}
.layui-layer-fast .layui-layer-setwin .layui-layer-close2:after,
.layui-layer-fast .layui-layer-setwin .layui-layer-close2:hover:after {
  display: none;
}
.layui-layer-content {
  clear: both;
}
.layui-layer-fast-msg {
  min-width: 100px;
}
.layui-layer-fast-tab .layui-layer-title .layui-this {
  color: #333;
}
.layui-layer-fast-tab .layui-layer-content .layui-layer-tabmain {
  margin: 0;
  padding: 0;
}
.n-bootstrap .input-group > .n-right {
  position: absolute;
}
@media (min-width: 564px) {
  body.is-dialog .daterangepicker {
    min-width: 130px;
  }
  body.is-dialog .daterangepicker .ranges ul {
    width: 130px;
  }
}
/*手机版样式*/
@media (max-width: 480px) {
  #firstnav .navbar-custom-menu ul li a {
    padding-left: 10px;
    padding-right: 10px;
  }
  #firstnav .navbar-nav > .user-menu .user-image {
    margin-top: -3px;
  }
  .fixed-table-toolbar .columns-right.btn-group {
    display: none;
  }
  .fixed .content-wrapper,
  .fixed .right-side {
    padding-top: 50px;
  }
  .multiplenav .fixed .content-wrapper,
  .multiplenav .fixed .right-side {
    padding-top: 94px;
  }
  .multiplenav .content-wrapper,
  .multiplenav .right-side {
    padding-top: 94px;
  }
  .main-sidebar,
  .left-side {
    padding-top: 144px;
  }
}
/*平板样式*/
@media (max-width: 768px) {
  body .wrapper .main-header .logo {
    background: none;
    color: #fff;
    border-bottom: 0 solid transparent;
    position: absolute;
    top: 0;
    z-index: 1200;
    width: 130px;
    left: 50%;
    margin-left: -65px;
  }
  body .sidebar .mobilenav a.btn-app {
    color: #444;
    width: 100px;
    height: 70px;
    font-size: 13px;
  }
  body .sidebar .mobilenav a.btn-app i.fa {
    font-size: 24px;
  }
  body .sidebar .mobilenav a.btn-app span {
    margin-top: 5px;
    display: block;
  }
  body .sidebar .mobilenav a.btn-app.active {
    color: #222d32;
  }
  body .wrapper .main-header .navbar .dropdown-menu li > a {
    color: #333;
  }
  body .wrapper .main-header .navbar .dropdown-menu li > a:hover {
    background: #eee;
  }
  body .wrapper .main-header .navbar .dropdown-menu li.active > a {
    color: #fff;
  }
  body .wrapper .main-header .navbar .dropdown-menu li.active > a:hover {
    background: #222d32;
  }
  .main-sidebar,
  .left-side {
    padding-top: 50px;
  }
  .n-bootstrap .n-right {
    margin-top: 0;
    top: -20px;
    position: absolute;
    left: 0;
    text-align: right;
    width: 100%;
  }
  .n-bootstrap .n-right .msg-wrap {
    position: relative;
  }
  .n-bootstrap .col-xs-12 > .n-right .msg-wrap {
    margin-right: 15px;
  }
}
/*修复radio和checkbox样式对齐*/
.radio > label,
.checkbox > label {
  margin-right: 10px;
}
.radio > label > input,
.checkbox > label > input {
  margin: 2px 0 0;
}
.wipecache li a {
  color: #444444 !important;
}
/*修正开关关闭下的颜色值*/
.btn-switcher.disabled {
  opacity: .6;
  cursor: not-allowed;
}
.btn-switcher .text-gray {
  color: #d2d6de !important;
}
/*# sourceMappingURL=../css/backend.css.map */