<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">   

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">活动名称:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" id="c-active" data-rule="required" class="form-control " name="active_name"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">短信内容:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-result" data-rule="required" class="form-control " rows="8" name="content" cols="50"></textarea>
        </div>
    </div>
    
    <br/>
    <div class="form-group"><!-- layer-footer -->
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8" style="text-align: center;">
            <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
