<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Topic_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-topic_id" disabled data-rule="required" data-source="topic/index" class="form-control selectpage" name="row[topic_id]" type="text" value="{$row.topic_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Company_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-company_id" disabled data-rule="required" data-source="company/index" class="form-control selectpage" name="row[company_id]" type="text" value="{$row.company_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" disabled data-rule="required" data-source="user/user/index" data-field="nickname" class="form-control selectpage" name="row[user_id]" type="text" value="{$row.user_id|htmlentities}">
        </div>
    </div>
    <!--<div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Username')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-username" data-rule="required" class="form-control" name="row[username]" type="text" value="{$row.username|htmlentities}">
        </div>
    </div>-->
    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['1'=>__('满意'), '2'=>__('不满意')], $row['status'])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-content" data-rule="required" class="form-control" name="row[content]" type="text" value="{$row.content|htmlentities}">
        </div>
    </div> -->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('政治思想道德及廉洁自律')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[field1]', ['1'=>__('满意'), '2'=>__('不满意')], $row['field1'])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('工会业务能力及组织协调沟通能力')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[field2]', ['1'=>__('满意'), '2'=>__('不满意')], $row['field2'])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('工会内部管理规范有序')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[field3]', ['1'=>__('满意'), '2'=>__('不满意')], $row['field3'])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('关心职工热心解决职工困难')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[field4]', ['1'=>__('满意'), '2'=>__('不满意')], $row['field4'])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('依法维护职工合法权益')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[field5]', ['1'=>__('满意'), '2'=>__('不满意')], $row['field5'])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('民主参与企业管理')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[field6]', ['1'=>__('满意'), '2'=>__('不满意')], $row['field6'])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('开展职工喜闻乐见活动')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[field7]', ['1'=>__('满意'), '2'=>__('不满意')], $row['field7'])}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Add_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-add_time" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[add_time]" type="text" value="{:$row.add_time?datetime($row.add_time):''}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
