<style type="text/css">
    body{
        padding: 20px;
    }
    .title{
        text-align: center;
        font-size: 31px;
        letter-spacing:5px;
        margin-bottom: 10px;
        color: #005ADF;
    }
    table{
        border: 1px solid black;
        font-size: 14px;
        width: 100%;
    }
    th{
        font-weight: bold;
        text-align: center;
        border: 1px solid black;
    }
    td{
        text-align: center;
        border: 1px solid black;
    }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="title">设备在线状态信息</div>
    </div>
    <div class="row" style="overflow: hidden;width: 100%;margin:auto;">
        <table>
            <tr><th>设备名称</th><th>设备在线状态</th></tr>
            {foreach name="deviceList" id="vo"}
                <tr>
                    <td>{$vo.deviceName}</td>
                    <td>{if condition="$vo.status==1"}<font color="green">在线</font>{else/}<font color="red">离线</font>{/if}</td>
                </tr>
            {/foreach}
        </table>
    </div>

</div>
