<style type="text/css">
    body{
        background-image: url('/assets/img/map_index_bg.png');
        background-size: 100% 100%;
    }
    .title{
        text-align: center;
        font-size: 31px;
        letter-spacing:5px;
        margin-bottom: 10px;
        color: #005ADF;
    }
    .info{
        float: left;
        width: 70%;
        font-size: 14px;
        padding: 10px;
    }

    .btnimg{
        width: 100%;
        cursor: pointer;
    }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="title">{$data.name}</div>
    </div>
    <div class="row" style="overflow: hidden;width: 100%;margin:auto;">
        <div class="info">
            <img style="width: 100%;" src="{$data.image}">
            <div style="line-height: 50px;">服务站点介绍</div>
            <p>{$data.intro}</p>
        </div>
        <div class="info" style="width: 20%">
            <!--<img data-title="查看设备状态" data-url="/admin/party/front_map/kpi_list?company_id=" class="btnimg" src="/assets/img/btn_rwzb.png">
            <img data-title="查看监控" data-url="/admin/party/front_map/kpi_warning?company_id=" class="btnimg" src="/assets/img/btn_rwyj.png">-->
            <button data-title="查看设备" data-url="/admin/bmfw/device_list?ids={$data.id}" class="btnimg">查看设备状态</button>
            <div style="height: 50px"></div>
            <button data-title="图书借阅记录" data-url="/admin/bmfw/get_borrow_all?ids={$data.id}" class="btnimg">图书借阅记录</button>
            <div style="height: 50px"></div>
            <button data-title="图书用户列表" data-url="/admin/bmfw/get_user_all?ids={$data.id}" class="btnimg">图书用户列表</button>
        </div>
    </div>

</div>
