<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" data-rule="required" data-source="user/user/index" data-field="nickname" class="form-control selectpage" name="row[user_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Company_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-company_id" data-rule="required" data-source="company/index" class="form-control selectpage" name="row[company_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Legal_person')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-legal_person" data-rule="required" class="form-control" name="row[legal_person]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Person_num')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-person_num" data-rule="required" class="form-control" name="row[person_num]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Woman_num')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-woman_num" data-rule="required" class="form-control" name="row[woman_num]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Business_scope')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-business_scope" data-rule="required" class="form-control" name="row[business_scope]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Nature')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-nature" data-rule="required" class="form-control" name="row[nature]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_num')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_num" data-rule="required" class="form-control" name="row[user_num]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Address')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-address" data-rule="required" class="form-control" name="row[address]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Phone')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-phone" data-rule="required" class="form-control" name="row[phone]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Chairman')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-chairman" data-rule="required" class="form-control" name="row[chairman]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Director_zz')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-director_zz" data-rule="required" class="form-control" name="row[director_zz]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Director_wt')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-director_wt" data-rule="required" class="form-control" name="row[director_wt]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Director_xc')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-director_xc" data-rule="required" class="form-control" name="row[director_xc]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Director_ld')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-director_ld" data-rule="required" class="form-control" name="row[director_ld]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Director_js')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-director_js" data-rule="required" class="form-control" name="row[director_js]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Director_woman')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-director_woman" data-rule="required" class="form-control" name="row[director_woman]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Finance')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-finance" data-rule="required" class="form-control" name="row[finance]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Add_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-add_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[add_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-status" data-rule="required" class="form-control" name="row[status]" type="number" value="0">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
