<style type="text/css">
	body{
		background-image: url('/assets/img/map_index_bg.jpg');
		background-size: 100% 100%;
	}
	.title{
		text-align: center;
		font-size: 31px;
		letter-spacing:5px;
		margin-bottom: 20px;
        color: #005ADF;
	}
	.info{
		float: left;
		width: 200px;
		min-height: 100px;
		margin-left: 10px;
		font-size: 14px;
	}
	.infotitle{
		/*background-color: #128f76;*/
		color: #fff;
		text-align: center;
		border-radius: 5px;
		background-image: url('/assets/img/map_index_title.png');
		background-size: 100% 100%;
		line-height: 30px;
		font-size: 18px;
		font-weight: bold;
	}
	.list{
		margin-top: 15px;
	}
	table{
		font-size: 14px;
		width: 100%;
	}
    td{
        padding: 5px 0px;
        font-size: 14px;
        font-weight: bold;
        color: #000;
    }
	.tname{
		color: #005ADF;
		width: 80px;
		text-align-last:justify;
		padding-right: 20px;
	}
</style>
<div id="content-container" class="container">
    <div class="row">
    	<div class="title">{$cinfo.name}</div>
    </div>
    <div class="row" style="overflow: hidden;width: 1100px;">
    	<div class="info">
    		<div class="infotitle">企业信息</div>
    		<div class="list">
    			<table>
    				<tr><td class="tname">成立时间</td><td>{$cinfo.c_build_time}</td></tr>
    				<tr><td class="tname">企业性质</td><td>{$cinfo.c_nature}</td></tr>
    				<tr><td class="tname">企业类型</td><td>{$cinfo.c_style}</td></tr>
    				<tr><td class="tname">主营业务</td><td>{$cinfo.c_business}</td></tr>
    				<tr><td class="tname">年产值</td><td>{$cinfo.c_annual_value}</td></tr>
    				<tr><td class="tname">员工人数</td><td>{$cinfo.c_user_num}</td></tr>
    			</table>
    		</div>
    	</div>
    	<div class="info">
    		<div class="infotitle">工会信息</div>
    		<div class="list">
    			<table>
    				<tr><td class="tname">成立时间</td><td>{$cinfo.u_build_time}</td></tr>
    				<tr><td class="tname">工会主席</td><td>{$cinfo.u_chairman}</td></tr>
    				<tr><td class="tname">会员人数</td><td>{$cinfo.u_user_num}</td></tr>
    			</table>
    		</div>
    	</div>
    	<div class="info">
    		<div class="infotitle">党组织信息</div>
    		<div class="list">
    			<table>
    				<tr><td class="tname">成立时间</td><td>{$cinfo.d_build_time}</td></tr>
    				<tr><td class="tname">书记</td><td>{$cinfo.d_secretary}</td></tr>
    				<tr><td class="tname">党员人数</td><td>{$cinfo.d_user_num}</td></tr>
    				<tr><td class="tname">入党积极分子人数</td><td>{$cinfo.d_nosuser_num}</td></tr>
    				<tr><td class="tname">特点</td><td>{$cinfo.d_characteristic}</td></tr>
    			</table>
    		</div>
    	</div>
    	<div class="info" style="width: 460px;">
    		<div class="infotitle">工会经费使用情况</div>
            {notempty name="row"}
            <div style="text-align: center;font-size: 14px;color: #000;font-weight: bold;">本期总金额：（{$row.total_money}）</div>
            {/notempty}
    		<div id="echart" style="height:330px;width:100%;text-align: center;line-height: 350px;">数据加载中...</div>
    	</div>
    </div>
    {if condition="$cinfo.url neq ''"}
    <div class="row" style="font-size: 16px;position: fixed;left: 40px;bottom: 130px;">
    	<!-- <a style="color: red" href="javascript:void(0);" data-url="{$cinfo.url}" class="btn-dialog">查看企业VR>></a> -->
        <img style="height: 35px;cursor: pointer;" data-url="{$cinfo.url}" class="btn-dialog" src="/assets/img/map_index_vr2.png">
    </div>
    {/if}
    <div class="row" style="font-size: 12px;position: fixed;left: 220px;bottom: 130px;background-color: #fd7d48;border-radius: 50px;width: 130px;height: 35px;line-height: 35px;text-align: center;">
        <a style="color: #fff;" href="javascript:void(0);" data-id="{$cinfo.id}" class="btn-dialog2">查看积分明细</a>
    </div>
</div>
<script>
    var data = {:json_encode($data)};
</script>