<style type="text/css">
	body{
		background-image: url('/assets/img/map_index_bg.png');
		background-size: 100% 100%;
	}
	.title{
		text-align: center;
		font-size: 31px;
		letter-spacing:5px;
		margin-bottom: 10px;
        color: #005ADF;
	}
	.info{
		float: left;
		width: 300px;
		min-height: 100px;
		margin-left: 20px;
		font-size: 14px;
	}
	.infotitle{
		/*background-color: #128f76;*/
		color: #fff;
		text-align: center;
		border-radius: 5px;
		background-image: url('/assets/img/map_index_title.png');
		background-size: 100% 100%;
		line-height: 35px;
		font-size: 18px;
		font-weight: bold;
        letter-spacing: 5px;
	}
	.list{
		margin-top: 15px;
	}
	table{
		font-size: 14px;
		width: 80%;
        margin: auto;
	}
    td{
        padding: 5px 0px;
        font-size: 14px;
        font-weight: bold;
        color: #000;
    }
	.tname{
		color: #005ADF;
		width: 80px;
		text-align-last:justify;
		padding-right: 20px;
	}
    .btnimg{
        width: 200px;
        margin-left: 30px;
        margin-top: 15px;
        cursor: pointer;
    }
</style>
<div id="content-container" class="container">
    <div class="row">
    	<div class="title">{$cinfo.name}</div>
    </div>
    {if condition="$cinfo.c_image neq ''"}
    <div style="height: 50px;text-align: center;margin-bottom: 15px;">
        <img style="height: 100%;" src="{$cinfo.c_image}">
    </div>
    {else/}
    <div style="height: 10px;"></div>
    {/if}
    <div class="row" style="overflow: hidden;width: 960px;margin:auto;">
    	<div class="info">
    		<div class="infotitle">企业信息</div>
    		<div class="list">
    			<table>
    				<tr><td class="tname">成立时间</td><td>{$cinfo.c_build_time}</td></tr>
    				<tr><td class="tname">企业性质</td><td>{$cinfo.c_nature}</td></tr>
    				<tr><td class="tname">企业类型</td><td>{$cinfo.c_style}</td></tr>
    				<tr><td class="tname">主营业务</td><td>{$cinfo.c_business}</td></tr>
    				<tr><td class="tname">年产值</td><td>{$cinfo.c_annual_value}</td></tr>
    				<tr><td class="tname">员工人数</td><td>{$cinfo.c_user_num}</td></tr>
    			</table>
    		</div>
    	</div>
    	<div class="info">
    		<div class="infotitle">工会信息</div>
    		<div class="list">
    			<table>
    				<tr><td class="tname">成立时间</td><td>{$cinfo.u_build_time}</td></tr>
    				<tr><td class="tname">工会主席</td><td>{$cinfo.u_chairman}</td></tr>
    				<tr><td class="tname">会员人数</td><td>{$cinfo.u_user_num}</td></tr>
    			</table>
    		</div>
            {if condition="$cinfo.url neq ''"}
            <div style="margin-top: 20px;">
                <img style="width: 100px;" src="/assets/img/map_index_line.png">
                <img data-url="{$cinfo.url}" class="btn-dialog" style="height: 60px;cursor: pointer;" src="/assets/img/map_index_VR3.png">
                <img style="width: 100px;" src="/assets/img/map_index_line.png">
            </div>
            {/if}
    	</div>
    	<div class="info">
    		<div class="infotitle">党组织信息</div>
    		<div class="list">
    			<table>
    				<tr><td class="tname">成立时间</td><td>{$cinfo.d_build_time}</td></tr>
    				<tr><td class="tname">书记</td><td>{$cinfo.d_secretary}</td></tr>
    				<tr><td class="tname">党员人数</td><td>{$cinfo.d_user_num}</td></tr>
    				<tr><td class="tname">入党积极分子人数</td><td>{$cinfo.d_nosuser_num}</td></tr>
    				<tr><td class="tname">特点</td><td>{$cinfo.d_characteristic}</td></tr>
    			</table>
    		</div>
    	</div>
    </div>
    <div class="row" style="overflow: hidden;width: 960px;margin:auto;">
        <img data-title="任务指标" data-url="/admin/front_map/kpi_list?company_id={$cinfo.id}" class="btnimg" src="/assets/img/btn_rwzb.png">
        <img data-title="文体活动" data-url="/admin/front_map/union_active?company_id={$cinfo.id}" class="btnimg" src="/assets/img/btn_wthd.png">
        <img data-title="职工帮扶" data-url="/index/front/business_list/type/3/company_id/{$cinfo.id}" class="btnimg" src="/assets/img/btn_zgbf.png">
        <img data-title="工会建设" data-url="/index/front/business_list/type/1/company_id/{$cinfo.id}" class="btnimg" src="/assets/img/btn_ghjsd.png">
        <img data-title="任务预计" data-url="/admin/front_map/kpi_warning?company_id={$cinfo.id}" class="btnimg" src="/assets/img/btn_rwyj.png">
        <img data-title="人才服务" data-url="/index/front/business_list/type/2/company_id/{$cinfo.id}" class="btnimg" src="/assets/img/btn_rcfw.png">
        <img data-title="经费情况" data-url="/admin/front_map/capital?company_id={$cinfo.id}" class="btnimg" src="/assets/img/btn_jfqk.png">
        <!--<img data-title="会员管理" data-url="/admin/front_map/user?company_id={$cinfo.id}" class="btnimg" src="/assets/img/btn_hy.png">-->
		<img data-title="民主管理" data-url="/index/front/business_list/type/4/company_id/{$cinfo.id}" class="btnimg" src="/assets/img/btn_mz.png">
    </div>
    
    
    <!-- <div class="row" style="font-size: 12px;position: fixed;left: 220px;bottom: 130px;background-color: #fd7d48;border-radius: 50px;width: 130px;height: 35px;line-height: 35px;text-align: center;">
        <a style="color: #fff;" href="javascript:void(0);" data-id="{$cinfo.id}" class="btn-dialog2">查看积分明细</a>
    </div> -->
</div>
<script>
    var data = {:json_encode($data)};
</script>