<style>
    body{
        background-image: url(/assets/img/mzgl_zxpy.jpg);
        background-size: 100% 100%;
    }
    .container{
        margin-top: 50px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 16px;
    }
    .totalInfo{
        border: 1px black solid;
        line-height: 50px;
        margin-top: 10px;
        text-align: center;
        background: #56B4DC;
        color: #FFFFFF;
    }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="tab-pane fade active in" id="one">
                <div class="col-xs-3 col-sm-3">
                    <div col-xs-12 col-sm-12>评议总数</div>
                    <div class="totalInfo">{$total}</div>
                </div>
                <div class="col-xs-5 col-sm-5">
                    <div col-xs-12 col-sm-12>总体工作满意度</div>
                    <div class="totalInfo" style="background:#098ddf">{$rate1}%</div>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <div col-xs-12 col-sm-12>其他满意度</div>
                    <div class="totalInfo">如下：</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="tab-pane fade active in" id="one">
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-12">1、总体工作满意度({$total}条)</label>
                        <div class="col-xs-12 col-sm-12" style="padding-left: 40px;">
                            <div class="progress">
                                <div class="progress-bar bg-blue" style="width: {$rate1}%">{$rate1}%</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-12">2、政治思想道德及廉洁自律({$total}条)</label>
                        <div class="col-xs-12 col-sm-12" style="padding-left: 40px;">
                            <div class="progress">
                                <div class="progress-bar bg-blue" style="width: {$rate2}%">{$rate2}%</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-12">3、工会内部管理规范有序({$total}条)</label>
                        <div class="col-xs-12 col-sm-12" style="padding-left: 40px;">
                            <div class="progress">
                                <div class="progress-bar bg-blue" style="width: {$rate3}%">{$rate3}%</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-12">4、关心职工热心解决职工困难({$total}条)</label>
                        <div class="col-xs-12 col-sm-12" style="padding-left: 40px;">
                            <div class="progress">
                                <div class="progress-bar bg-blue" style="width: {$rate4}%">{$rate4}%</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-12">5、依法维护职工合法权益({$total}条)</label>
                        <div class="col-xs-12 col-sm-12" style="padding-left: 40px;">
                            <div class="progress">
                                <div class="progress-bar bg-blue" style="width: {$rate5}%">{$rate5}%</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-12">6、民主参与企业管理({$total}条)</label>
                        <div class="col-xs-12 col-sm-12" style="padding-left: 40px;">
                            <div class="progress">
                                <div class="progress-bar bg-blue" style="width: {$rate6}%">{$rate6}%</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-12">7、开展职工喜闻乐见活动({$total}条)</label>
                        <div class="col-xs-12 col-sm-12" style="padding-left: 40px;">
                            <div class="progress">
                                <div class="progress-bar bg-blue" style="width: {$rate7}%">{$rate7}%</div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
