<style type="text/css">
    .btop{
        height: 110px;
        background: #2197ef;
        border-radius: 10px;
        margin: 0 15px;
        overflow: hidden;
        color: #fff;
        /*margin-bottom: -20px;*/
    }
    .binfo{
        float: left;
        width: 33%;
        text-align: center;
    }
    .cname{
        font-size: 14px;
        padding: 10px;
        font-weight: bold;
        text-align: left;
    }
    .score{
        background: #fff;
        color: #2197ef;
        width: 200px;
        padding: 5px  10px;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        margin: auto;
    }
    th{
        background: #f67c27;
        color: #fff;
    }
</style>
<div class="panel panel-default panel-intro">
    <div class="btop">
        <div class="binfo cname">{$info.short_name}</div>
        <div class="binfo">
            积分：<font size="100">{$info.score}</font>
            <div class="score" data-title="企业积分明细" data-url="/admin/party/party_score_log/list?company_id={$info.id}">查看积分详情</div>
        </div>
        <div class="binfo" style="text-align: right;padding: 15px;padding-top: 40px;">评分：<font size="100">{$info.type}</font></div>
    </div>
    <div class="panel-heading" style="margin: 0 0px;margin-bottom: 0px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#0" data-toggle="tab">所有</a></li>
            <!-- <li><a href="#1" data-toggle="tab">阵地建设</a></li>
            <li><a href="#2" data-toggle="tab">队伍管理</a></li>
            <li><a href="#3" data-toggle="tab">活动开展</a></li>
            <li><a href="#4" data-toggle="tab">工会组织有活力</a></li> -->
            {foreach name="getTypeList" item="vo"}
                <li><a href="#{$key}" data-toggle="tab">{$vo}</a></li>
            {/foreach}
        </ul>
    </div>
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                         <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>


                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
