<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <input id="c-id" type="hidden" name="id" value="{$id}">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">反馈信息:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-content" data-rule="required" class="form-control " rows="4" disabled>{$info.content}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">回复内容:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-content" data-rule="required" class="form-control " rows="8" name="rely_content" cols="50">{$info.rely_content}</textarea>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
