<style>
    body{padding-top: 0px}
    .msg-box{
        display: block;
    }
    .user_type{
        overflow: hidden;
        margin-top: 5px;

    }
    .left{
        /*float: left;*/
        padding-right: 5px;
        vertical-align: top;
    }

    .tip{
        color: #ccc;
    }
    .btn{
        display: block;
        width: 100%;
        height: 50px;
        font-size: 18px;
    }
    .red{
        color: red;
    }
    h2{
        text-align: center;
    }
    #qrimg{
        text-align: center;
        position: fixed;
        left: 0px;
        top: 100px;
        width: 100%;
        background: #fff;
        padding: 20px;
    }

</style>

<div id="content-container" class="container">
    <div id="forminfo" class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="myTabContent" class="tab-content">
                        <h2 class="page-header">活动签到</h2>
                        <form id="user-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                            {:token()}
                            <input type="hidden" name="active_id" value="{$userinfo.id}">
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-2">姓名<span class="red">*</span>:</label>
                                <div class="col-xs-12 col-sm-4">
                                    <input type="text" class="form-control" id="name" name="name" value="{$userinfo.name}" data-rule="required" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-2">电话号码<span class="red">*</span>:</label>
                                <div class="col-xs-12 col-sm-4">
                                    <input type="text" class="form-control" id="phone" name="phone" value="{$userinfo.phone}" data-rule="required;length(11)"  placeholder="">
                                </div>
                            </div>

                            <div class="form-group normal-footer">
                                <label class="control-label col-xs-12 col-sm-2"></label>
                                <div class="col-xs-12 col-sm-8">
                                    <button type="submit" id="submit" disabled class="btn btn-danger btn-embossed disabled">确认签到<span class="glyphicon glyphicon-hand-right"></span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

