<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Company_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-company_id" data-rule="required" data-source="company/index" class="form-control selectpage" name="row[company_id]" type="text" value="{$row.company_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" data-rule="required" data-source="user/user/index" data-field="nickname" class="form-control selectpage" name="row[user_id]" type="text" value="{$row.user_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Total_money')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-total_money" data-rule="required" class="form-control" step="0.01" name="row[total_money]" type="number" value="{$row.total_money|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Staff_activities_money')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-staff_activities_money" data-rule="required" class="form-control" step="0.01" name="row[staff_activities_money]" type="number" value="{$row.staff_activities_money|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Business_money')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-business_money" data-rule="required" class="form-control" step="0.01" name="row[business_money]" type="number" value="{$row.business_money|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Safeguard_rights_money')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-safeguard_rights_money" data-rule="required" class="form-control" step="0.01" name="row[safeguard_rights_money]" type="number" value="{$row.safeguard_rights_money|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Administration_money')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-administration_money" data-rule="required" class="form-control" step="0.01" name="row[administration_money]" type="number" value="{$row.administration_money|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Capital_money')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-capital_money" data-rule="required" class="form-control" step="0.01" name="row[capital_money]" type="number" value="{$row.capital_money|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Subsidy_money')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-subsidy_money" data-rule="required" class="form-control" step="0.01" name="row[subsidy_money]" type="number" value="{$row.subsidy_money|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cause_money')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-cause_money" data-rule="required" class="form-control" step="0.01" name="row[cause_money]" type="number" value="{$row.cause_money|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Other_money')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-other_money" data-rule="required" class="form-control" step="0.01" name="row[other_money]" type="number" value="{$row.other_money|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Creaetime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-creaetime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[creaetime]" type="text" value="{:$row.creaetime?datetime($row.creaetime):''}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
