
<div id="content-container" class="container">
    <div class="row">
        <!--startdownload-->
        <style type="text/css">
            h2{ text-align: center; }
            tr{
                height: 35px;
            }
            td{
                padding: 5px 15px;
            }
        </style>
        <div style="width:100%;position: relative;">
            {if condition="$info.status eq 1"}
            <img src="/assets/img/check_pass.png" width="100px;" style="position: absolute;top: 120px;right: 30px;">
            {/if}
            <h2>关于申请成立党组织的报告</h2>
            <p>肇庆高新区总党组织：</p>
            <p>为了促进企业的发展，维护职工的合法权益，稳定职工队伍，共谋企业的发展，根据《中华人民共和国工会法》的有关规定，现申请成立工会组织，请批准。</p>
            <div style="margin-top: 20px;padding-left: 30px;">此报</div>
            <div style="margin-top: 50px;padding-right: 30px;text-align: right;">&emsp;盖&emsp;&emsp;章&emsp;</div>
            <div style="margin-top: 20px;padding-right: 30px;text-align: right;">年&emsp;&emsp;&emsp;月&emsp;&emsp;&emsp;日</div>
            <div style="margin-top: 20px;padding-left: 30px;">附：《填报表》</div>
            <table style="width: 100%;margin: auto;" border="1">
                <tr><td width="50px">单位名称</td><td width="200px">{$info.company_name}</td><td width="60px">法人代表</td><td>{$info.legal_person}</td><td width="60px">职工人数</td><td>{$info.person_num}</td></tr>
                <tr><td>经营范围（主要产品）</td><td>{$info.business_scope}</td><td>企业性质</td><td>{$info.nature}</td><td>会员人数</td><td>{$info.user_num}</td></tr>
                <tr><td rowspan="2">地址</td><td rowspan="2">{$info.address}</td><td>电话</td><td width="80px">{$info.phone}</td><td rowspan="2">女职工数</td><td rowspan="2">{$info.woman_num}</td></tr>
                <tr><td>传真</td><td></td></tr>
                <tr><td>党委员会及分工</td><td colspan="5">
                    <p>党主席：{$info.chairman}</p>
                    <p>组织、文体、宣传、劳动调解委员、经审主任：{$info.director_zz}、{$info.director_wt}、{$info.director_xc}、{$info.director_ld}、{$info.director_js}</p>
                    <p>女职工主任、财务委员：{$info.director_woman}、{$info.finance}</p>
                </td></tr>
            </table>
        </div>
        <!--enddownload-->
        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6" style="text-align: center;margin: auto;">
            <a href="{:url('down',['id'=>$info.id])}" target="_blank" class="btn btn-success btn-embossed" style="margin-top: 20px;width: 150px;" >导出doc</a>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6" style="text-align: center;margin: auto;">
            <button onclick="doPrint()" type="submit" id="submit" class="btn btn-success btn-embossed" style="margin-top: 20px;width: 150px;" >打印</button>
        </div>
    </div>
</div>

<script type="text/javascript">     
    function doPrint() {    
        bdhtml=window.document.body.innerHTML;      
        sprnstr="<!--startdownload-->";      
        eprnstr="<!--enddownload-->";      
        prnhtml=bdhtml.substr(bdhtml.indexOf(sprnstr)+20);      
        prnhtml=prnhtml.substring(0,prnhtml.indexOf(eprnstr));      
        window.document.body.innerHTML=prnhtml;   
        window.print();    
}      
</script>