<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

 
    <div class="form-group">
        <label class="control-label col-xs-3 col-sm-2">{:__('Company_id')}:</label>
        <div class="col-xs-6 col-sm-8">
            <input id="c-company_id" data-rule="required" disabled="disabled" class="form-control" type="text" value="{$row.company_name}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-3 col-sm-2">{:__('考核名称')}:</label>
        <div class="col-xs-6 col-sm-8">
            <input id="c-name" data-rule="" class="form-control" name="row[name]" type="text" value="">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-3 col-sm-2">{:__('积分')}:</label>
        <div class="col-xs-6 col-sm-8">
            <input id="c-legal_person" data-rule="required" class="form-control" name="row[score]" type="text" value="0">
            <span style="color: red;font-size: 12px;">加分是正数，减分是负数</span>
        </div>
    </div>
  
    <div class="form-group">
        <label class="control-label col-xs-3 col-sm-2">{:__('积分变化说明')}:</label>
        <div class="col-xs-6 col-sm-8">
            <textarea name="row[info]" class="form-control" rows="10"></textarea>
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-3 col-sm-2"></label>
        <div class="col-xs-6 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
