<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-2 col-sm-3">支部书记:</label>
        <div class="col-xs-6 col-sm-6">
            {$info.chairman}
        </div>
    </div>

    <!--<div class="form-group">
        <label class="control-label col-xs-2 col-sm-3">党副主席:</label>
        <div class="col-xs-6 col-sm-6">
            {$info.chairman_f}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-2 col-sm-3">组织委员:</label>
        <div class="col-xs-6 col-sm-6">
            {$info.director_zz}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-2 col-sm-3">文体委员:</label>
        <div class="col-xs-6 col-sm-6">
            {$info.director_wt}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-2 col-sm-3">宣传委员:</label>
        <div class="col-xs-6 col-sm-6">
            {$info.director_xc}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-2 col-sm-3">劳动解调委员:</label>
        <div class="col-xs-6 col-sm-6">
            {$info.director_ld}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-2 col-sm-3">经审主任:</label>
        <div class="col-xs-6 col-sm-6">
            {$info.director_js}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-2 col-sm-3">女职工主任:</label>
        <div class="col-xs-6 col-sm-6">
            {$info.director_woman}
        </div>
    </div>-->

    <div class="form-group">
        <label class="control-label col-xs-2 col-sm-3">委员:</label>
        <div class="col-xs-6 col-sm-6">
            {$info.finance}
        </div>
    </div>
</form>
