
<div id="content-container" class="container">
    <div class="row">
        <!--startdownload-->
        <style type="text/css">
            h2{ text-align: center; }
            tr{
                height: 35px;
            }
            td{
                padding: 5px 15px;
            }
        </style>
        <div style="width:100%;position: relative;">
            {if condition="$info.status eq 1"}
            <img src="/assets/img/check_pass.png" width="100px;" style="position: absolute;bottom:0px;right: 30px;">
            {/if}
            <h2>关于 {$info.company_name} 党会员代表大会选举结果的报告</h2>
            <p>肇庆高新区总党组织：</p>
            <p>我会于 {$info.add_time} 召开了党会员代表大会，选举结果如下：</p>
            <table style="width: 100%;margin: auto;" border="1">
                <tr><td width="200px">职务</td><td width="100px">姓名</td><td width="200px">备注</td></tr>
                <tr><td>党组织书记</td><td>{$info.chairman}</td><td></td></tr>
                <tr><td>党组织副书记（职工人数100人以上可设立）</td><td>{$info.chairman_f}</td><td></td></tr>
                <tr><td>组织委员</td><td>{$info.director_zz}</td><td></td></tr>
                <tr><td>文体委员</td><td>{$info.director_wt}</td><td></td></tr>
                <tr><td>宣传委员</td><td>{$info.director_xc}</td><td></td></tr>
                <tr><td>劳动调解委员</td><td>{$info.director_ld}</td><td></td></tr>
                <tr><td>女职工委员会主任（必须为女职工）</td><td>{$info.director_woman}</td><td></td></tr>
                <tr><td>财务委员</td><td>{$info.finance}</td><td></td></tr>
                <tr><td>经审主任</td><td>{$info.director_js}</td><td></td></tr>
            </table>
            <p style="padding-left: 30px;margin-top: 30px">以上报告，请批复。</p>
        </div>
        <!--enddownload-->
        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6" style="text-align: center;margin: auto;">
            <a href="{:url('down',['id'=>$info.id])}" target="_blank" class="btn btn-success btn-embossed" style="margin-top: 20px;width: 150px;" >导出doc</a>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6" style="text-align: center;margin: auto;">
            <button onclick="doPrint()" type="submit" id="submit" class="btn btn-success btn-embossed" style="margin-top: 20px;width: 150px;" >打印</button>
        </div>
    </div>
</div>

<script type="text/javascript">     
    function doPrint() {      
        bdhtml=window.document.body.innerHTML;      
        sprnstr="<!--startdownload-->";      
        eprnstr="<!--enddownload-->";      
        prnhtml=bdhtml.substr(bdhtml.indexOf(sprnstr)+20);      
        prnhtml=prnhtml.substring(0,prnhtml.indexOf(eprnstr));      
        window.document.body.innerHTML=prnhtml;   
        window.print();    
}      
</script>