<style type="text/css">
    .sm-st {
        background: #fff;
        padding: 20px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin-bottom: 20px;
        -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
    }

    .sm-st-icon {
        width: 60px;
        height: 60px;
        display: inline-block;
        line-height: 60px;
        text-align: center;
        font-size: 30px;
        background: #eee;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        float: left;
        margin-right: 10px;
        color: #fff;
    }

    .sm-st-info {
        font-size: 12px;
        padding-top: 2px;
    }

    .sm-st-info span {
        display: block;
        font-size: 24px;
        font-weight: 600;
    }

    .orange {
        background: #fa8564 !important;
    }

    .tar {
        background: #45cf95 !important;
    }

    .sm-st .green {
        background: #86ba41 !important;
    }

    .pink {
        background: #AC75F0 !important;
    }

    .yellow-b {
        background: #fdd752 !important;
    }

    .stat-elem {

        background-color: #fff;
        padding: 18px;
        border-radius: 40px;

    }

    .stat-info {
        text-align: center;
        background-color: #fff;
        border-radius: 5px;
        margin-top: -5px;
        padding: 8px;
        -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
        font-style: italic;
    }

    .stat-icon {
        text-align: center;
        margin-bottom: 5px;
    }

    .st-red {
        background-color: #F05050;
    }

    .st-green {
        background-color: #27C24C;
    }

    .st-violet {
        background-color: #7266ba;
    }

    .st-blue {
        background-color: #23b7e5;
    }
    .st-yellow {
        background-color: #FF9800;
    }

    .st-black {
        background-color: #000000;
    }

    .stats .stat-icon {
        color: #28bb9c;
        display: inline-block;
        font-size: 26px;
        text-align: center;
        vertical-align: middle;
        width: 50px;
        float: left;
    }

    .stat {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        margin-right: 10px;
    }

    .stat .value {
        font-size: 20px;
        line-height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 500;
    }

    .stat .name {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .stat.lg .value {
        font-size: 26px;
        line-height: 28px;
    }

    .stat.lg .name {
        font-size: 16px;
    }

    .stat-col .progress {
        height: 2px;
    }

    .stat-col .progress-bar {
        line-height: 2px;
        height: 2px;
    }

    .item {
        padding: 30px 0;
    }
    .box-header .box-title{
        width: 100%;
        text-align: center;
        font-size: 25px;
        padding: 10px 0;
    }
    .panel-content a{
        color: #fff;
    }
    .ibox-content a{
        color: #fff;
    }
</style>
<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        {:build_heading(null, false)}
        <ul class="nav nav-tabs">
            <li class="active"><a href="#one" data-toggle="tab">{:__('Dashboard')}</a></li>
            <!-- <li><a href="#two" data-toggle="tab"></a></li> -->
        </ul>
    </div>
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">

                <div class="row">
                    <div class="col-sm-3 col-xs-6">
                        <a class="btn-addtabs" href="{:url('/admin/party/party')}">
                            <div class="sm-st clearfix">
                                <span class="sm-st-icon st-violet"><i class="fa fa-universal-access"></i></span>
                                <div class="sm-st-info">
                                    <span>{$party_num}</span>
                                    党组织数
                                </div>
                            </div></a>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <a class="btn-addtabs" href="{:url('/admin/party/kpi_warning')}">
                            <div class="sm-st clearfix">
                                <span class="sm-st-icon st-red"><i class="fa fa-warning"></i></span>
                                <div class="sm-st-info">
                                    <span>{$warning_num1}个</span>
                                    周预警
                                </div>
                            </div></a>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <a class="btn-addtabs" href="{:url('/admin/party/kpi_warning')}">
                            <div class="sm-st clearfix">
                                <span class="sm-st-icon st-yellow"><i class="fa fa-warning"></i></span>
                                <div class="sm-st-info">
                                    <span>{$warning_num2}个</span>
                                    月预警
                                </div>
                            </div></a>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <a class="btn-addtabs" href="{:url('/admin/party/kpi_warning')}">
                            <div class="sm-st clearfix">
                                <span class="sm-st-icon st-black"><i class="fa fa-warning"></i></span>
                                <div class="sm-st-info">
                                    <span>{$warning_num3}个</span>
                                    季度预警
                                </div>
                            </div></a>
                    </div>
                </div>

                <div class="row" style="margin-top:15px;">

                    <div class="col-lg-12">
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="panel bg-blue">
                            <div class="panel-body">
                                <div class="panel-title">
                                    <span class="label label-success pull-right">{:__('实时')}</span>
                                    <h4 class="">党建设({$totalInfo.party_apply+$totalInfo.party_updateapply+$totalInfo.party_changeapply})</h4>
                                </div>
                                <div class="panel-title" style="padding-top: 10px;">
                                    <h4 class="">待审核项</h4>
                                </div>
                                <div class="panel-content" style="padding-left: 10px;">
                                    <a class="btn-addtabs" href="{:url('/admin/party/party_apply')}"><h5 class="no-margins">党成立申请：{$party_apply}</h5></a>
                                    <a class="btn-addtabs" href="{:url('/admin/party/party_updateapply')}"><h5 class="no-margins">党改选申请：{$party_updateapply}</h5></a>
                                    <a class="btn-addtabs" href="{:url('/admin/party/party_changeapply')}"><h5 class="no-margins">党换届申请：{$party_changeapply}</h5></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="panel bg-aqua-gradient">
                            <div class="panel-body">
                                <div class="ibox-title">
                                    <span class="label label-info pull-right">{:__('实时')}</span>
                                    <h4>考核指标({$totalInfo.kpi_list})</h4>
                                </div>
                                <div class="panel-title" style="padding-top: 10px;">
                                    <h4 class="">待审核项</h4>
                                </div>
                                <div class="ibox-content" style="padding-left: 10px;">
                                    <a class="btn-addtabs" href="{:url('/admin/party/kpi_list')}"><h5 class="no-margins">指标上报审核：{$kpi_list}</h5></a>
                                    <h5 class="no-margins">&nbsp;</h5>
                                    <h5 class="no-margins">&nbsp;</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="panel bg-purple-gradient">
                            <div class="panel-body">
                                <div class="ibox-title">
                                    <span class="label label-primary pull-right">{:__('实时')}</span>
                                    <h4>其他活动({$totalInfo.party_member+$totalInfo.party_member_change})</h4>
                                </div>
                                <div class="panel-title" style="padding-top: 10px;">
                                    <h4 class="">待审核项</h4>
                                </div>
                                <div class="ibox-content" style="padding-left: 10px;">

                                    <a class="btn-addtabs" href="{:url('/admin/party_member')}"><h5 class="no-margins">入党申请：{$party_member}</h5></a>
                                    <a class="btn-addtabs" href="{:url('/admin/party_member_change')}"><h5 class="no-margins">组织关系转出申请：{$party_member_change}</h5></a>
                                    <h5 class="no-margins">&nbsp;</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="tab-pane fade" id="two">

        </div>
    </div>
</div>
</div>
<script>

</script>
