﻿<style>
   body{padding:0px;background-color: #eee}
   main.content {
      width: 100%;
      overflow: auto;
      padding: 0px;
      padding-top: 0px;
      min-height: calc(100vh - 125px);
      margin-top: -20px;
    }
   .container{
      padding-left: 0px;
      padding-right: 0px;
   }
   .msg-box{
      display: block;
   }
   .title{
     border-radius: 15px;
     margin: 10px 15px;
     padding: 15px 10px;
     background-color: #fff;
     overflow: hidden;
     height: 130px;
   }
   h3{
     font-weight: bold;
     color: #f17c28;
   }
   .img{
     float: left;
     width: 30%;
   }
   .img img{
      width: 70%;
      margin-top: 20px;
      margin-left: 10px;
   }
   .info{
     float: left;
     width: 70%;
   }
   a{
     color: #000;
   }
   .row{
     margin-left: 0px;
     margin-right: 0px;
   }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9" style="padding: 0px">
            <div>
              <!-- <img src="__CDN__/assets/img/xfqbg.jpg" style="width: 100%;margin-bottom: 10px;"> -->
              <img src="{$image}" style="width: 100%;margin-bottom: 10px;">
            </div>
			     
           {foreach name="menu_list" id="vo"}
            <a href="{$vo.url}"><div class="title" style="margin-top: 0px">
                <div class="img"><img src="{$vo.image}"></div>
                <div class="info">
                  <h3>{$vo.name}</h3>
                  <p>{$vo.intro}<br/></p>
                </div>
            </div></a>
           {/foreach}
           <!-- <a href="{:url('index/xfqyd/merchant',['uname'=>$uname,'idCardNumber'=>$idCardNumber,'mobile'=>$mobile])}"><div class="title">
                <div class="img"><img src="__CDN__/assets/img/xfq1.png"></div>
                <div class="info">
                  <h3>商家报名</h3>
                  <p>高新区各商家均可报名参与消费券活动</p>
                </div>
            </div></a>

            <a href="{:url('index/xfqyd/smyy',['uname'=>$uname,'idCardNumber'=>$idCardNumber,'mobile'=>$mobile])}"><div class="title" style="margin-top: 0px">
                <div class="img"><img src="__CDN__/assets/img/xfq2.png"></div>
                <div class="info">
                  <h3>市民报名</h3>
                  <p>市民参与抢券活动，抢券成功即可使用<br/></p>
                </div>
            </div></a>

            <a href="{:url('index/xfqyd/smyycar',['uname'=>$uname,'idCardNumber'=>$idCardNumber,'mobile'=>$mobile])}"><div class="title" style="margin-top: 0px">
                <div class="img"><img src="__CDN__/assets/img/xfq2.png"></div>
                <div class="info">
                  <h3>购车抵扣券报名</h3>
                  <p>购车抵扣券用于群众在我区整车生产企业中购买汽车使用<br/></p>
                </div>
            </div></a>

          <a href="{:url('index/xfqyd/search',['uname'=>$uname,'idCardNumber'=>$idCardNumber,'mobile'=>$mobile])}"><div class="title">
                <div class="img"><img src="__CDN__/assets/img/xfq3.png"></div>
                <div class="info">
                  <h3>中签查询</h3>
                  <p>市民可在此查询是否中签</p>
                </div>
            </div></a> -->  
            

        </div>
    </div>
</div>
