<style>
   body{padding-top: 10px;font-size: 14px;}
   .msg-box{
      display: block;
   }
   .user_type{
     overflow: hidden;
     margin-top: 5px;

   }
   .left{
     /*float: left;*/
     padding-right: 5px;
     vertical-align: top;
   }

   .tip{
    color: #ccc;
   }
   .normal-footer .btn{
     display: block;
     width: 100%;
     height: 50px;
     font-size: 18px;
   }
   .red{
     color: red;
   }
   img{
    width: 100%;
   }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="one">
                            <h2 class="page-header" style="text-align: center;">肇庆高新区消费券商家报名信息表填写要点</h2>
                             <p>1、商户代码指商户在银联端进件后，由银联系统分配的15位银联商户编号（eg：898441253992691），该商户编码是商户参与交易及消费券承兑的标识码。
                              如商户不清楚，可联系商户合作的收单机构及服务商予以确认后填写完成，<font color="red">商户代码为必填项</font>。<br/>
                              如商家暂无合作的收单机构或服务商，以下收单机构具备接入云闪付支付能力，商户可以电话联系如下对接人，开展银联端进件开展POS终端布放或聚合码布码，获取商户编码同时支持云闪付扫码。<br/>
                              广发银行肇庆分行联系人XXX 联系方式XXX<br/>
                              广州银联网络支付有限公司肇庆分公司 联系人XXX 联系方式XXXXX<br/>
                              </p>

                              <p>
                                2、已支持银联云闪付支付的商家如何查看15位银联商户编号？<br/>
                              （1）持POS机或其他扫码终端商家：用POS机及其他扫码终端扫银联二维码支付0.01元，完成支付后查看打印出来小票的银联商户号一栏。<br/>
                              <a href="__CDN__/assets/img/mc1.png"><img src="__CDN__/assets/img/mc1.png"></a>
                              2）纸质码商家：使用云闪付APP扫码支付0.01元，完成支付后打开云闪付APP右上角“铃铛”logo进入【消息】页面，点击【账户通知】-【动账通知】进入交易详情页面，即可从订单信息查看银联商户号。<br/>
                              <a href="__CDN__/assets/img/mc2.png"><img src="__CDN__/assets/img/mc2.png"></a>
                              </p>
                        </div>

      
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
