<style>
   body{padding-top: 10px}
   .msg-box{
      display: block;
   }
   .user_type{
     overflow: hidden;
     margin-top: 5px;

   }
   .left{
     /*float: left;*/
     padding-right: 5px;
     vertical-align: top;
   }

   .tip{
    color: #ccc;
   }
   .normal-footer .btn{
     display: block;
     width: 100%;
     height: 50px;
     font-size: 18px;
   }
   .red{
     color: red;
   }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="one">
                            <h2 class="page-header" style="text-align: center;">商户信息采集</h2>
                            <p style="text-align: center;text-decoration:underline"><a href="{:url('index/kzyd/merchatinfo')}">肇庆高新区消费券商家报名信息表填写要点</a></p>
                            <form id="user-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="{:url('index/kzyd/merchant')}">
                                {:token()}
                                <input id="lat" type="hidden" name="lat" value="0">
                                <input id="lng" type="hidden" name="lng" value="0">
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">商户名称<span class="red">(必填)</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="name" name="name" value="" data-rule="required" placeholder="请输入商户名称">
                                    </div>
                                </div>
                                 <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">社会信用代码<span class="red">(必填)</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <label>*营业执照上的社会信用代码</label>
                                        <input type="text" class="form-control" id="enum" name="enum" value="" data-rule="required;length(18)" placeholder="请输入18位社会信用代码">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">门店位置<span class="red">(必填)</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="address" name="address" value="" data-rule="" placeholder="请输入门店位置">
                                        <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:94%;height:auto;position: absolute;left: 15px;z-index: 9999;background: #fff;display: none;"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">银联商户编号<span class="red">(必填)</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <a href="{:url('index/kzyd/merchatinfo')}">如何获取银联商户编号？</a>
                                        <input type="text" class="form-control" id="ylcode" name="ylcode" value="" data-rule="required;length(15)" placeholder="请输入15位银联商户编号">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">经营项目<span class="red">(必填)</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <select name="item" style="height: 32px">
                                           <option value="">请选择经营项目</option>
                                           <option value="餐饮业">餐饮业</option>
                                           <option value="零售、文化娱乐等第三产业">零售、文化娱乐等第三产业</option>
                                           <option value="住宿业">住宿业</option>
                               
                                       </select>
                                    </div>
                                    
                                </div>
								<div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">负责人姓名<span class="red">(必填)</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="aname" name="aname" value="" data-rule="" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">负责人电话<span class="red">(必填)</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="phone" name="phone" value="" data-rule="" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">是否支持云闪付<span class="red">(必填)</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                       <input id='sf1' type="radio" name="isysf" value="1" checked="checked"><label for="sf1">是</label><br/>
                                       <input id='sf2' type="radio" name="isysf" value="0"><label for="sf2">否</label><br/>
                                       
                                    </div>
                                </div>
								<label><font color="red">对于未开通云闪付收款的商户可免费到广发银行高新区支行开通银联云闪付功能,服务专线:3601190
13824631889张经理(高新区各大银行均支持办理)</font></label>
<br>
                                <div class="form-group">
                                    <label for="c-avatar" class="control-label col-xs-12 col-sm-2">门店照片、环境照片<span class="gray">(选填)</span>:</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <div class="input-group">
                                            <input id="c-avatar" type="hidden" data-rule="" class="form-control" size="50" name="images" type="text" value="">
                                            <div class="input-group-addon no-border no-padding upimg">
                                                <button type="button" data-url="{:url('api/fk/upload')}" id="plupload-avatar" class="btn plupload" data-input-id="c-avatar" data-mimetype="*" data-multiple="true" data-preview-id="p-avatar"><i class="fa fa-upload"></i> 上传相片</button>
                                            </div>
                                            <span class="msg-box n-right" for="c-avatar"></span>
                                        </div>
                                        <ul class="row list-inline plupload-preview" id="p-avatar"></ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">服务联系电话<span class="red">(必填)</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="tel" name="tel" value="" data-rule="" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">人均价格<span class="gray">(选填)</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="price" name="price" value="" data-rule="" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">营业时间<span class="gray">(选填)</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="yytime" name="yytime" value="" data-rule="" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">推荐产品<span class="gray">(选填)</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="product" name="product" value="" data-rule="" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">特色服务<span class="gray">(选填)</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="service" name="service" value="" data-rule="" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="c-bio" class="control-label col-xs-12 col-sm-2">简介<span class="gray">(选填)</span>:</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <textarea id="c-remark" name="intro" class="form-control" placeholder="" style="height: 80px"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">管理者微信<span class="gray">(选填)</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="weixin" name="weixin" value="" data-rule="" placeholder="">
                                    </div>
                                </div>
                                
                                
                                <div class="form-group normal-footer">
                                    <label class="control-label col-xs-12 col-sm-2"></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <button type="submit" id="submit" disabled="disabled" class="btn btn-success btn-embossed disabled">{:__('Ok')}</button>
                                    </div>
                                </div>
								<label>技术支持<font color="blue">广东世纪互联信息科技有限公司</font></label>
                            </form> 
                        </div>

      
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
