<style>
   body{padding-top: 10px}
   .msg-box{
      display: block;
   }
   .user_type{
     overflow: hidden;
     margin-top: 5px;

   }
   .left{
     /*float: left;*/
     padding-right: 5px;
     vertical-align: top;
   }

   .tip{
    color: #ccc;
   }
   .btn{
     display: block;
     width: 100%;
     height: 50px;
     font-size: 18px;
   }
   .red{
     color: red;
   }
   h2{
      text-align: center;
   }
</style>

<div id="content-container" class="container">
    <div style="margin-bottom: 10px;font-size: 14px;color: blue;">
        
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="myTabContent" class="tab-content">
                            <h2 class="page-header">中签查询</h2>
                            <form id="user-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="{:url('index/xfqyd/sminfo')}">
                                {:token()}
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">姓名<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="name" name="name" value="{$uname}" data-rule="required" placeholder="">
                                    </div>
                                </div>
                                
                                
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">身份证号码<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="idcard" name="idcard" value="{$idCardNumber}" data-rule="required;length(18)"  placeholder="">
                                    </div>
                                </div>
                                
                                
                                
                                <div class="form-group normal-footer">
                                    <label class="control-label col-xs-12 col-sm-2"></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <button type="submit" id="submit" disabled class="btn btn-success btn-embossed disabled">查询</button>
                                    </div>
                                </div>
                            </form> 
                        </div>

      
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
