﻿
<style type="text/css">
    body{
        padding-top: 0px;
    }
    tr{
        height: 35px;
    }
    td{
        padding: 5px 15px;
        text-align: center;
    }
</style>
<div id="content-container" class="container">
    <div class="row"> 
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            {empty name="list"}
                <h2 style="color: black;text-align: center;">很遗憾！您本次未中签！</h2>
            {else/}
                <h2 style="color: red;text-align: center;">恭喜您！本次已中签！</h2>
                <h3>中签信息如下：</h5>
                <table style="width:100%;margin: auto;" border=1>
                <tr><td>券名称</td><td>消费券金额</td></tr>
                {foreach name="list" id="vo"}
                    <tr><td>{$vo.aname}</td><td>{$vo.qname}</td></tr>
                {/foreach}
                </table>
                <!-- <div style="margin-top: 20px;text-align: center;font-size: 14px;color: green;">
                    <p style="color: red">下载云闪付，并用报名手机号码注册云闪付使用。</p>
                    <p>请消费券三期中签用户务必于9月27日20点前下载云闪付APP并绑定银行卡，以便主办方成功派券至您的云闪付APP。</p>
                    <div style="text-align: center;">
                      <img src="__CDN__/assets/img/ysf.jpg" style="width: 70%;margin: auto;margin-top: 10px;">
                    </div>
                </div> -->
            {/empty}
        </div>
        
    </div>
</div>    