﻿<style>
   body{padding-top: 0px}
   .msg-box{
      display: block;
   }
   .user_type{
     overflow: hidden;
     margin-top: 5px;

   }
   .left{
     /*float: left;*/
     padding-right: 5px;
     vertical-align: top;
   }

   .tip{
    color: #ccc;
   }
   .btn{
     display: block;
     width: 100%;
     height: 50px;
     font-size: 18px;
   }
   .red{
     color: red;
   }
   h2{
      text-align: center;
   }
   
</style>

<div id="content-container" class="container">
    <div id="yyxz" style="margin-bottom: 10px;font-size: 14px;">
        <!-- <h2>报名需知</h2>
		<h3 style="color:red">摇号模式,不分先后,无需争抢,人人平等！</h3>
        <p>1、报名方式：首先关注“智慧大旺”小程序，在城市服务中找到“券享大旺-市民报名”入口，进入页面后确认报名即可。</p>
        <p>2、报名时间：9月23日上午0时--9月27日10时。</p>
        <p>3、报名规则 ：每人每次报名一次。报名时间结束后随机摇号。摇号结果可以在‘中签查询’中查询。</p>
        <p>4、本次活动中签用户的消费券将于9月28日派发至云闪付APP，为避免派券失败影响您的使用，请识别下方二维码下载云闪付APP并绑定银行卡。 </p>
        <p style="text-align: right;">肇庆高新区管委会</p>
        <p style="text-align: right;">2020年9月22日</p> -->
        {if condition="$info"}
          {$info.remark}
          <hr/>
          <input type="checkbox" id='agree' name="agree" value="1" onclick="agree()"><label for="agree"><font color="blue">我已阅读预约须知</font></label><br/><br/>
          <input type="button" class="btn btn-success" id="agreebutton" name="agreebutton" value="我要报名" disabled onclick="checkAgree()">
          {else/}
           <h2>暂无活动</h2>
        {/if}
        <!-- <div style="text-align: center;">
          <img src="__CDN__/assets/img/ysf.jpg" style="width: 70%;margin: auto;margin-top: 10px;">
        </div> -->
    </div>
    <div id="forminfo" style="display: none;" class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="myTabContent" class="tab-content">
                            <h2 class="page-header">报名确认</h2>
							              {if condition="$info.active_status==0"}
                              <p style="text-align:center;color:red;font-size: 18px">暂无活动</p>
                            {elseif condition="$info.active_status==1"}
                              <div style="text-align:center;color:blue;font-size: 16px;">{$info.name}</div>
                              <p style="text-align:center;color:red;font-size: 18px">报名活动暂未开始</p>
                              <p style="text-align:center;color:red;font-size: 16px">开始时间：{$info.starttime|date="Y-m-d H:i:s",###}</p>
                            {elseif condition="$info.active_status==2"}
                              <div style="text-align:center;color:blue;font-size: 16px;">{$info.name}</div>
                              <p style="text-align:center;color:red;font-size: 18px">报名活动已结束</p>
                            {else/}
                              <div style="text-align:center;color:blue;font-size: 16px;">{$info.name}</div>
                              <h5 style="text-align:center;color:red">报名活动进行中</h5>
                            <form id="user-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                                {:token()}
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">报名人姓名<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="uname" name="uname" value="{$uname}" data-rule="required" placeholder="">
                                    </div>
                                </div>
                                
                                
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">报名人身份证号码<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="idcard" disabled="disabled" name="idcard" value="{$idCardNumber}" data-rule="required;length(18)"  placeholder="">
                                    </div>
                                    <input type="hidden" class="form-control" name="idcard" value="{$idCardNumber}">
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">报名人电话号码<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <!-- <p style="color: green">请用该手机号码注册云闪付，如已注册云闪付，请将该手机号码修改为注册云闪付的号码</p> -->
                                        <input type="text" class="form-control" id="mobile" name="mobile" value="{$mobile}" data-rule="required;length(11)"  placeholder="">
                                    </div>
                                </div>
                                
                                
                                
                                <div class="form-group normal-footer">
                                    <label class="control-label col-xs-12 col-sm-2"></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <button type="submit" id="submit" disabled class="btn btn-danger btn-embossed disabled">确认报名<span class="glyphicon glyphicon-hand-right"></span></button>
                                    </div>
                                </div>
                            </form> 
                            {/if}
                      </div>
                  </div>
              </div>
          </div>
      </div>
</div>
<script type="text/javascript">
  function agree(){
      var check_type = $("input[name='agree']:checked").val();
      if (check_type==1) {
          $("#agreebutton").attr('disabled',false);
      }else {
         $("#agreebutton").attr('disabled',true);
      }
  }
  function checkAgree(){
    var check_type = $("input[name='agree']:checked").val();
    //alert(check_type)
    if (check_type==1) {
        $("#yyxz").hide();
        $("#forminfo").show();
    }else {
        alert('必须勾选报名须知');
    }
  }

</script>
