<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Topic_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-topic_id" disabled data-rule="required" data-source="topic/index" class="form-control selectpage" name="row[topic_id]" type="text" value="{$row.topic_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Company_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-company_id" disabled data-rule="required" data-source="company/index" class="form-control selectpage" name="row[company_id]" type="text" value="{$row.company_id|htmlentities}">
        </div>
    </div>
    <!--<div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Username')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-username" disabled data-rule="required" class="form-control" name="row[username]" type="text" value="{$row.username|htmlentities}">
        </div>
    </div>-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" disabled data-rule="required" data-source="user/user/index" data-field="nickname" class="form-control selectpage" name="row[user_id]" type="text" value="{$row.user_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ztgz')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[ztgz]', ['1'=>__('满意'), '2'=>__('不满意')], $row['ztgz'])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Wthd')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[wthd]', ['1'=>__('满意'), '2'=>__('不满意')], $row['wthd'])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zgbf')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[zgbf]', ['1'=>__('满意'), '2'=>__('不满意')], $row['zgbf'])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mzgz')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[mzgz]', ['1'=>__('满意'), '2'=>__('不满意')], $row['mzgz'])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ldgx')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[ldgx]', ['1'=>__('满意'), '2'=>__('不满意')], $row['ldgx'])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ghzz')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[ghzz]', ['1'=>__('满意'), '2'=>__('不满意')], $row['ghzz'])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Add_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-add_time" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[add_time]" type="text" value="{:$row.add_time?datetime($row.add_time):''}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
