<style type="text/css">
    h3 {
        color: #128f76;
    }
</style>
<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <h3>基本信息</h3>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('性质')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-type" class="form-control selectpicker" name="row[style]">
                {foreach name="styleList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.style"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="{$row.name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('简称')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-short_name" data-rule="required" class="form-control" name="row[short_name]" type="text" value="{$row.short_name|htmlentities}">
        </div>
    </div>
    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-type" class="form-control selectpicker" name="row[type]">
                {foreach name="typeList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.type"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div> -->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('是否投产')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:Form::switcher('row[status]', $row.status, ['color'=>'success'])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('官网地址')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-url" data-rule="required" class="form-control" name="row[url]" type="text" value="{$row.url|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('纬度')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="number" id="c-lat" data-rule="required" class="form-control" name="row[lat]" type="text" value="{$row.lat|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('经度')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="number" id="c-lng" data-rule="required" class="form-control" name="row[lng]" type="text" value="{$row.lng|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-avatar" class="control-label col-xs-12 col-sm-2">介绍图片:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-avatar" data-rule="" class="form-control" size="50" name="row[image]" type="text" value="{$row.image}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-avatar" class="btn btn-danger plupload" data-input-id="c-avatar" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-avatar"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-avatar" class="btn btn-primary fachoose" data-input-id="c-avatar" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-avatar"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-avatar"></ul>
        </div>
    </div>
    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Add_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-add_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[add_time]" type="text" value="{$row.add_time}">
        </div>
    </div> -->
    <h3>详细信息</h3>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">企业法人:</label>
        <div class="col-xs-12 col-sm-4">
            <input type="text" class="form-control" id="c_legal_person" name="info[c_legal_person]" value="{$info.c_legal_person}" data-rule="" placeholder="企业法人" >
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">法人电话:</label>
        <div class="col-xs-12 col-sm-4">
            <input type="text" class="form-control" id="c_legal_person_phone" name="info[c_legal_person_phone]" value="{$info.c_legal_person_phone}" data-rule="" placeholder="法人电话" >
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">企业地址:</label>
        <div class="col-xs-12 col-sm-4">
            <input type="text" class="form-control" id="c_address" name="info[c_address]" value="{$info.c_address}" data-rule="" placeholder="企业地址" >
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">企业性质:</label>
        <div class="col-xs-12 col-sm-4">
            <input type="text" class="form-control" id="c_nature" name="info[c_nature]" value="{$info.c_nature}" data-rule="" placeholder="企业性质" >
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">企业类型:</label>
        <div class="col-xs-12 col-sm-4">
            <!--<input type="text" class="form-control" id="c_style" name="info[c_style]" value="{$info.c_style}" data-rule="" placeholder="企业类型">-->
            <select  id="c_style" class="form-control selectpicker" name="info[c_style]">
                <option value="">请选择企业类型</option>
                <option value="民营" {if condition="$info.c_style eq '民营'"}selected{/if}>民营</option>
                <option value="国企" {if condition="$info.c_style eq '国企'"}selected{/if}>国企</option>
                <option value="合资" {if condition="$info.c_style eq '合资'"}selected{/if}>合资</option>
                <option value="外资" {if condition="$info.c_style eq '外资'"}selected{/if}>外资</option>
                <option value="其他" {if condition="$info.c_style eq '其他'"}selected{/if}>其他</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">主营业务:</label>
        <div class="col-xs-12 col-sm-4">
            <input type="text" class="form-control" id="c_business" name="info[c_business]" value="{$info.c_business}" data-rule="" placeholder="主营业务" >
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">年产值:</label>
        <div class="col-xs-12 col-sm-4">
            <input type="text" class="form-control" id="c_annual_value" name="info[c_annual_value]" value="{$info.c_annual_value}" data-rule="" placeholder="年产值" >
        </div>
    </div>
   <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">成立日期:</label>
        <div class="col-xs-12 col-sm-4">
            <input type="text" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" id="c_build_time" name="info[c_build_time]" value="{$info.c_build_time|date='Y-m-d',###}" data-rule="" placeholder="成立日期" >
        </div>
    </div>
     <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">员工人数:</label>
        <div class="col-xs-12 col-sm-4">
            <input type="number" class="form-control" id="c_user_num" name="info[c_user_num]" value="{$info.c_user_num}" data-rule="" placeholder="员工人数" >
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">男员工数:</label>
        <div class="col-xs-12 col-sm-4">
            <input type="number" class="form-control" id="c_man_num" name="info[c_man_num]" value="{$info.c_man_num}" data-rule="" placeholder="男员工数" >
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">女员工数:</label>
        <div class="col-xs-12 col-sm-4">
            <input type="number" class="form-control" id="c_women_num" name="info[c_women_num]" value="{$info.c_women_num}" data-rule="" placeholder="女员工数" >
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">外省人数:</label>
        <div class="col-xs-12 col-sm-4">
            <input type="number" class="form-control" id="c_outprovince_user_num" name="info[c_outprovince_user_num]" value="{$info.c_outprovince_user_num}" data-rule="" placeholder="外省人数" >
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">本省外市人数:</label>
        <div class="col-xs-12 col-sm-4">
            <input type="number" class="form-control" id="c_province_outcity_user_num" name="info[c_province_outcity_user_num]" value="{$info.c_province_outcity_user_num}" data-rule="" placeholder="本省外市人数" >
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">本市人数:</label>
        <div class="col-xs-12 col-sm-4">
            <input type="number" class="form-control" id="c_city_user_num" name="info[c_city_user_num]" value="{$info.c_city_user_num}" data-rule="" placeholder="本市人数" >
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">研究生及以上学历人数:</label>
        <div class="col-xs-12 col-sm-4">
            <input type="number" class="form-control" id="c_yjs_user_num" name="info[c_yjs_user_num]" value="{$info.c_yjs_user_num}" data-rule="" placeholder="研究生及以上学历人数" >
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">本科人数:</label>
        <div class="col-xs-12 col-sm-4">
            <input type="number" class="form-control" id="c_benke_user_num" name="info[c_benke_user_num]" value="{$info.c_benke_user_num}" data-rule="" placeholder="本科人数" >
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">大专人数:</label>
        <div class="col-xs-12 col-sm-4">
            <input type="number" class="form-control" id="c_dazhuan_user_num" name="info[c_dazhuan_user_num]" value="{$info.c_dazhuan_user_num}" data-rule="" placeholder="大专人数" >
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">中专及高中人数:</label>
        <div class="col-xs-12 col-sm-4">
            <input type="number" class="form-control" id="c_zhongzhuan_user_num" name="info[c_zhongzhuan_user_num]" value="{$info.c_zhongzhuan_user_num}" data-rule="" placeholder="中专及高中人数" >
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">初中及以下人数:</label>
        <div class="col-xs-12 col-sm-4">
            <input type="number" class="form-control" id="c_chuzhong_user_num" name="info[c_chuzhong_user_num]" value="{$info.c_chuzhong_user_num}" data-rule="" placeholder="初中及以下人数" >
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">荣誉图片上传:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c_image" data-rule="" class="form-control" size="50" name="info[c_image]" type="text" value="{$info.c_image}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-c_image" class="btn btn-danger plupload" data-input-id="c_image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-c_image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-avatar" class="btn btn-primary fachoose" data-input-id="c_image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c_image"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-c_image"></ul>
        </div>
    </div>

    <h3>工会信息</h3>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">工会成立时间:</label>
        <div class="col-xs-12 col-sm-4">
            <input type="text" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" id="u_build_time" name="info[u_build_time]" value="{$info.u_build_time|date='Y-m-d',###}" data-rule="" placeholder="成立日期" >
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">工会主席:</label>
        <div class="col-xs-12 col-sm-4">
            <input type="text" class="form-control" id="u_chairman" name="info[u_chairman]" value="{$info.u_chairman}" data-rule="" placeholder="工会主席" >
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">工会主席邮箱:</label>
        <div class="col-xs-12 col-sm-4">
            <input type="text" class="form-control" id="u_chairman_email" name="info[u_chairman_email]" value="{$info.u_chairman_email}" data-rule="" placeholder="工会主席邮箱" >
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">工会会员人数:</label>
        <div class="col-xs-12 col-sm-4">
            <input type="number" class="form-control" id="u_user_num" name="info[u_user_num]" value="{$info.u_user_num}" data-rule="" placeholder="工会会员人数" >
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">工会会员构成:</label>
        <div class="col-xs-12 col-sm-4">
            <input type="text" class="form-control" id="u_user_info" name="info[u_user_info]" value="{$info.u_user_info}" data-rule="" placeholder="工会会员构成" >
        </div>
    </div>


   <h3>党员信息</h3>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">党支部成立时间:</label>
        <div class="col-xs-12 col-sm-4">
            <input type="text" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" id="d_build_time" name="info[d_build_time]" value="{$info.d_build_time|date='Y-m-d',###}" data-rule="" placeholder="党支部成立时间" >
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">党支部书记:</label>
        <div class="col-xs-12 col-sm-4">
            <input type="text" class="form-control" id="d_secretary" name="info[d_secretary]" value="{$info.d_secretary}" data-rule="" placeholder="党支部书记" >
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">党员人数:</label>
        <div class="col-xs-12 col-sm-4">
            <input type="number" class="form-control" id="d_user_num" name="info[d_user_num]" value="{$info.d_user_num}" data-rule="" placeholder="党员人数" >
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">入党积极分子人数:</label>
        <div class="col-xs-12 col-sm-4">
            <input type="number" class="form-control" id="d_nosuser_num" name="info[d_nosuser_num]" value="{$info.d_nosuser_num}" data-rule="" placeholder="入党积极分子人数" >
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">党员特点:</label>
        <div class="col-xs-12 col-sm-4">
            <input type="text" class="form-control" id="d_characteristic" name="info[d_characteristic]" value="{$info.d_characteristic}" data-rule="" placeholder="党员特点" >
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
