<style>
    body{
     background: #f6aaaa;
    }
    .container{
      padding: 0px;
      margin-top: -10px;
    }
   .title{
      position: relative;
      width: 40%;
      background: #fff;
      border-radius: 10px;
      padding: 10px;
      text-align: center;
      margin: 15px;
   }
   .title img{
      width: 55%;
      height: 75px;
      display: block;
      margin: auto;
      margin-bottom: 15px;
   }
   .title p{
      font-size: 14px;
      font-weight: bold;
   }
   .left{
      float: left;
   }
   .right{
      float: right;
   }
   .menu{
      position: fixed;
      bottom: 0px;
      height: 60px;
      width: 100%;
      overflow: hidden;
      background: #fff;
      padding:10px;
      color: #ccc;
      border-top: 1px #ccc solid;
   }
   .menu .submenu{
      text-align: center;
      width: 50%;
   }
   .menu .submenu img {
      width: 25px;
      height: 25px;
      margin-bottom: 5px;
   }
   .notice{
      background: red;
      width: 20px;
      height: 20px;
      border-radius: 20px;
      text-align: center;
      line-height: 20px;
      color: #fff;
      position: absolute;
      right: 10px
   }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9" style="overflow: hidden;">
            <a href="{:url('active')}">
            <div class="title left">
                <img src="__CDN__/assets/img/p01.png">
                <p>党日活动上报</p>
            </div></a>

            <a href="{:url('meeting')}">
            <div class="title right">
                <img src="__CDN__/assets/img/p02.png">
                <p>三会一课上报</p>
            </div></a>

            <a href="{:url('partyindex')}">
            <div class="title left">
                <img src="__CDN__/assets/img/p21.png">
                <p>党组织建设</p>
            </div></a>

            <a href="{:url('kpilist')}">
            <div class="title right">
                <img src="__CDN__/assets/img/p22.png">
                <p>量化任务指标</p>
            </div></a>

            <a href="{:url('warninglist')}">
            <div class="title left">
                {if condition="$warning_num gt 0"}
                <div class="notice">{$warning_num}</div>
                {/if}
                <img src="__CDN__/assets/img/p23.png">
                <p>任务预警信息</p>
            </div></a>
            <a href="{:url('struct')}">
            <div class="title right">
                <img src="__CDN__/assets/img/02.png">
                <p>组织架构</p>
            </div></a>




        </div>
    </div>

    <div class="menu">
        <a href="{:url('/index/index')}">
        <div class="submenu left">
            <img src="__CDN__/assets/img/home2.png">
            <p style="color:#999">首页</p>
        </div></a>

        <a href="{:url('/index/index/userinfo')}">
        <div class="submenu left">
            <img src="__CDN__/assets/img/user2.png">
            <p style="color:#999">我的</p>
        </div></a>
    </div>
</div>
