<style>
    body{
        background: #f6aaaa;
    }
   .red{
     color: red;
   }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="one">
                            <h2 class="page-header" style="text-align: center;">党组织换届申请</h2>
                            <form id="user-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                                {:token()}
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">党组织<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" value="{$company_name}" data-rule="required" placeholder="" disabled="disabled">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">换届时间<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" id="change_time" name="change_time" value="" data-rule="required" placeholder="换届时间">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">任期<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="term_office" name="term_office" value="" data-rule="required" placeholder="任期">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">选举方式:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <select  id="c-type" class="form-control" name="type">
                                            <option value="">选择选举方式</option>
                                            <option value="党员大会">党员大会</option>
                                        </select>

                                    </div>
                                </div>

								<div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">应到会场人数<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="yd_user_num" name="yd_user_num" value="" data-rule="required" placeholder="应到会场人数">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">实际到场人数<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="sj_user_num" name="sj_user_num" value="" data-rule="required" placeholder="实际到场人数">
                                    </div>
                                </div>

                                <!--<div class="form-group">
                                    <label for="c-avatar2" class="control-label col-xs-12 col-sm-2">现场图片:</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <div class="input-group">
                                            <input id="c-avatar2" type="hidden" data-rule="" class="form-control" size="50" name="image" type="text" value="">
                                            <div class="input-group-addon no-border no-padding upimg">
                                                <button type="button" data-url="{:url('index/ajax/upload')}" id="plupload-avatar2" class="btn plupload" data-input-id="c-avatar2" data-mimetype="*" data-multiple="false" data-preview-id="p-avatar2"><i class="fa fa-upload"></i> 上传现场图片</button>
                                            </div>
                                            <span class="msg-box n-right" for="c-avatar2"></span>
                                        </div>
                                        <ul class="row list-inline plupload-preview" id="p-avatar2"></ul>
                                    </div>
                                </div>-->

                                <div class="form-group">
                                    <label for="c-avatar" class="control-label col-xs-12 col-sm-2">相关文件:</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <div class="input-group">
                                            <input id="c-avatar" type="hidden" data-rule="" class="form-control" size="50" name="file" type="text" value="">
                                            <div class="input-group-addon no-border no-padding">
                                                <button type="button" data-url="{:url('index/ajax/upload')}" id="plupload-avatar" class="btn plupload" data-input-id="c-avatar" data-mimetype="*" data-multiple="false" data-preview-id="p-avatar"><i class="fa fa-upload"></i> 上传相关文件</button>
                                            </div>
                                            <span class="msg-box n-right" for="c-avatar"></span>
                                        </div>
                                        <ul class="row list-inline plupload-preview" id="p-avatar"></ul>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="c-business_scope" class="control-label col-xs-12 col-sm-2">会议记录:</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <textarea id="c-intro" name="intro" class="form-control" placeholder="会议记录" data-rule="required" style="height: 80px"></textarea>
                                    </div>
                                </div>



                                <div class="form-group normal-footer">
                                    <label class="control-label col-xs-12 col-sm-2"></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <button type="submit" id="submit" disabled="disabled" class="btn btn-success btn-embossed disabled">{:__('Ok')}</button>
                                    </div>
                                </div>
                            </form>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
