<style>
    body{
        background: #f6aaaa;
    }
    .container{
        padding: 0px;
        margin-top: -10px;
    }
    .title{
        position: relative;
        width: 40%;
        background: #fff;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        margin: 15px;
    }
    .title img{
        width: 55%;
        height: 75px;
        display: block;
        margin: auto;
        margin-bottom: 15px;
    }
    .title p{
        font-size: 14px;
        font-weight: bold;
    }
    .left{
        float: left;
    }
    .right{
        float: right;
    }
    .menu{
        position: fixed;
        bottom: 0px;
        height: 60px;
        width: 100%;
        overflow: hidden;
        background: #fff;
        padding:10px;
        color: #ccc;
        border-top: 1px #ccc solid;
    }
    .menu .submenu{
        text-align: center;
        width: 50%;
    }
    .menu .submenu img {
        width: 25px;
        height: 25px;
        margin-bottom: 5px;
    }
    .notice{
        background: red;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        text-align: center;
        line-height: 20px;
        color: #fff;
        position: absolute;
        right: 10px
    }
</style>
<div id="content-container" class="container">
    <div class="row" style="padding-bottom: 60px;">
        <div class="col-md-9" style="overflow: hidden;">

            <a href="{:url('dszl')}">
                <div class="title left">
                    <img src="__CDN__/assets/img/dszl1.jpg">
                    <p>党史资料</p>
                </div></a>

            <a href="{:url('study_active')}">
                <div class="title right">
                    <img src="__CDN__/assets/img/24.png">
                    <p>学习活动上报</p>
                </div></a>

            <a href="{:url('news')}">
                <div class="title left">
                    <img src="__CDN__/assets/img/26.png">
                    <p>新闻稿上报</p>
                </div></a>

        </div>
    </div>

    <div class="menu">
        <a href="{:url('index/index')}">
            <div class="submenu left">
                <img src="__CDN__/assets/img/home2.png">
                <p style="color:#999">首页</p>
            </div></a>

        <a href="{:url('index/userinfo')}">
            <div class="submenu left">
                <img src="__CDN__/assets/img/user2.png">
                <p style="color:#999">我的</p>
            </div></a>
    </div>
</div>

