<style>
    body{
        background: #f6aaaa;
    }
    .container{
        padding: 0px;
        margin-top: -10px;
    }
    .title{
        position: relative;
        width: 40%;
        height: 145px;
        background: #fff;
        border-radius: 10px;
        padding: 0px;
        text-align: center;
        margin: 15px;
    }
    .title img{
        width: 100%;
        height: 100%;
        display: block;
        margin: auto;
        margin-bottom: 0px;
    }
    .title p{
        font-size: 14px;
        font-weight: bold;
    }
    .left{
        float: left;
    }
    .right{
        float: right;
    }
    .menu{
        position: fixed;
        bottom: 0px;
        height: 60px;
        width: 100%;
        overflow: hidden;
        background: #fff;
        padding:10px;
        color: #ccc;
        border-top: 1px #ccc solid;
    }
    .menu .submenu{
        text-align: center;
        width: 50%;
    }
    .menu .submenu img {
        width: 25px;
        height: 25px;
        margin-bottom: 5px;
    }
    .notice{
        background: red;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        text-align: center;
        line-height: 20px;
        color: #fff;
        position: absolute;
        right: 10px
    }
</style>
<div id="content-container" class="container">
    <div class="row" style="padding-bottom: 60px;">
        <div class="col-md-9" style="overflow: hidden;">

            <a href="http://www.12371.cn/dsxx/">
                <div class="title left">
                    <img src="__CDN__/assets/img/dszl1.jpg">

                </div></a>

            <a href="http://www.12371.cn/special/jd100zn/">
                <div class="title right">
                    <img src="__CDN__/assets/img/dszl2.jpg">

                </div></a>

            <a href="http://www.12371.cn/special/dsbn/">
                <div class="title left">
                    <img src="__CDN__/assets/img/dszl3.jpg">

                </div></a>

            <a href="http://xuexi.12371.cn/special/dsgs100/">
                <div class="title right">
                    <img src="__CDN__/assets/img/dszl4.jpg">

                </div></a>

            <a href="http://www.12371.cn/special/by5/">
                <div class="title left">
                    <img src="__CDN__/assets/img/dszl5.jpg">

                </div></a>

            <a href="http://dangshi.people.com.cn/">
                <div class="title right">
                    <img src="__CDN__/assets/img/dszl66.jpg">

                </div></a>

            <a href="http://dangjian.people.com.cn/GB/436844/index.html">
                <div class="title left">
                    <img src="__CDN__/assets/img/dszl77.jpg">

                </div></a>

            <a href="http://dangshi.people.com.cn/GB/437104/index.html">
                <div class="title right">
                    <img src="__CDN__/assets/img/dszl88.jpg">

                </div></a>

        </div>
    </div>

</div>

