 <style>
     body{
         background: #f6aaaa;
     }
 .name{
   font-size: 14px;
   overflow: hidden;
   margin-top: 10px;
   color: blue;
 }
.info{
   font-size: 14px;
   min-height: 50px;
   padding: 10px;
}
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="tab-pane fade active in" id="one">
                    <h2 class="page-header" style="text-align: center;">指标上报记录</h2>
                    {notempty name="list"}
                      {foreach name="list" id="vo"}
                      <div class="row" style="border-bottom: 1px #eee solid;margin-bottom: 10px;padding-bottom: 10px">
                          <div class="name">{$vo.kpi_name}</div>
                          <div class="info">{$vo.intro}</div>
                          <div style="text-align: right;color: #999">
                            <span style="float: left;">{$vo.add_time}</span>
                            {if condition="$vo.check_status eq 0"}
                              <span style="color: blue">待审核</span>
                            {elseif condition="$vo.check_status eq 1"}
                              <span style="color: green">审核通过</span>
                            {else/}
                              <span style="color: red">审核未通过</span>
                            {/if}
                          </div>
                      </div>
                      {/foreach}
                    {else/}
                     <div style="text-align: center;font-size: 16px;margin-top: 50px;">暂无上报记录</div>
                    {/notempty}
                </div>
            </div>
        </div>
    </div>
</div>
