<style>
    body{
     background: #f6aaaa;
    }
    .container{
      padding: 0px;
      margin-top: -10px;
    }

   .menu{
      position: fixed;
      bottom: 0px;
      height: 60px;
      width: 100%;
      overflow: hidden;
      background: #fff;
      padding:10px;
      color: #ccc;
      border-top: 1px #ccc solid;
   }
   .menu .submenu{
      text-align: center;
      width: 50%;
   }
   .menu .submenu img {
      width: 25px;
      height: 25px;
      margin-bottom: 5px;
   }

   .kpititle{
      background:#208bf7;
      width: 200px;
      line-height: 30px;
      color: #fff;
      text-align: center;
      margin:auto;
      border: 1px #fff solid;
      margin-top: -15px;
   }
   .kpilist_hot{
      height: 120px;
      background: #ff9a00;
      margin: 10px 20px;
      border-radius: 10px;
      color: #fff;
      font-size: 16px;
   }
   .kpilist_index{
      height: 120px;
      background: #fff;
      margin: 10px 20px;
      border-radius: 10px;
      color: #000;
      font-size: 16px;
   }
   .goto{
      background: #fdeea8;
      color: #d87ba4;
      border-radius: 5px;
      padding: 2px 5px;
      width: 65px;
      text-align: center;
   }
   .cinfo td{
      padding: 10px;
   }
   .ktitle{
      line-height: 25px;
      border-left: 5px #F9A936 solid;
      margin: 20px 20px;
      font-size: 21px;
      padding-left: 10px;
      font-weight: bold;
   }
   .topic{
      background:#fff;
      margin: 10px 20px;
      font-size: 18px;
      padding: 10px;
      text-align: center;
   }
</style>
<div id="content-container" class="container">
    <!-- <div class="row">
        <div style="text-align: center;line-height: 50px;">组织：<span style="color: blue;">{$companyInfo.name}</span></div>
        <div style="text-align: center;line-height: 50px;">
          等级：<span style="color: blue;font-size: 32px;">{$companyInfo.type}</span>
        </div>
        <div style="text-align: center;line-height: 35px;font-size: 26px;color: green;">{$companyInfo.score}分</div>
    </div> -->
    <div style="height: 200px;background: #2A62FF;padding: 15px">
       <div style="background: #fff;height: 100%;border-radius: 10px;">
         <table class="cinfo" style="width: 100%">
           <tr><td style="color: #999;font-size: 14px;">{$companyInfo.short_name}</td><td></td></tr>
           <tr>
             <td style="color: #4EBB5B">
                <span style="font-size: 48px;">{$companyInfo.score}</span>分
                <p><a href="{:url('score_list')}">查看积分明细>></a></p>
             </td>
             <td style="color: #2A62FF" width="120px;">评级：<span style="font-size: 52px;">{$companyInfo.type}</span>
                <p><a href="{:url('kpi_submit_list')}">指标上报记录>></a></p>
             </td>
           </tr>
         </table>
       </div>
    </div>
    <div class="row" style="min-height: 200px;">
      <!-- <div class="kpititle">完成指标获得积分</div> -->
      <div class="topic">{$topic_info.name}
        <p style="font-size: 12px;color: blue">
          <a href="{:url('topic_info',['id'=>$topic_info.id])}">查看详情>></a>
        </p></div>
      <div class="ktitle">完成指标获得积分</div>
      <div style="margin-top: 10px;">
        {foreach name="kpiList" id="vo"}
          {if condition="$vo.grade eq 'hot'"}
              <a href="{:url('kpiadd',['id'=>$vo.id])}">
              <div class="kpilist_hot">
                  <table style="width: 100%;height: 100%;">
                    <tr>
                      <td style="padding-left: 20px;">
                        {$vo.name}
                      </td>
                      <td align="center" width="90px;">进度：{$vo.has_num}/{$vo.submit_num}</td>
                      <td align="center" width="90px;">
                         <div>+{$vo.score}</div>
                         <div class="goto">去完成</div>
                      </td>
                    </tr>
                  </table>
              </div></a>
            {else/}
              <a href="{:url('kpiadd',['id'=>$vo.id])}">
              <div class="kpilist_index">
                <table style="width: 100%;height: 100%;">
                  <tr>
                    <td style="padding-left: 20px;">
                      {$vo.name}
                    </td>
                    <td align="center" width="90px;">进度：{$vo.has_num}/{$vo.submit_num}</td>
                    <td align="center" width="90px;">
                       <div>+{$vo.score}</div>
                       <div class="goto">去完成</div>
                    </td>
                  </tr>
                </table>
            </div></a>
          {/if}
        {/foreach}
      </div>
    </div>
</div>
