<style>
    body{
        background: #f6aaaa;
    }
   .red{
     color: red;
   }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="one">
                            <h2 class="page-header" style="text-align: center;">{$kpiInfo.name}</h2>
                            <form id="user-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                                {:token()}
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">{:__('Union_company_name')}<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="name" name="name" value="{$company_name}" data-rule="required" placeholder="" disabled="disabled">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="c-business_scope" class="control-label col-xs-12 col-sm-2">上报信息简介:</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <textarea id="c-intro" name="intro" class="form-control" placeholder="输入上报信息简介" data-rule="required" style="height: 80px">{$kpiInfo.content_tpl}</textarea>
                                    </div>
                                </div>



                                <div class="form-group normal-footer">
                                    <label class="control-label col-xs-12 col-sm-2"></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <button type="submit" id="submit" disabled="disabled" class="btn btn-success btn-embossed disabled">{:__('Ok')}</button>
                                    </div>
                                </div>
                            </form>
                            <div class="form-group">
                                <label for="" class="control-label col-xs-12 col-sm-2">指标要求:</label>
                                <div class="col-xs-12 col-sm-8">
                                    {$kpiInfo.requirement}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="control-label col-xs-12 col-sm-2">评分方式:</label>
                                <div class="col-xs-12 col-sm-8">
                                    {$kpiInfo.score_type}
                                </div>
                            </div>
                            {if condition="$kpiInfo.intro"}
                            <div class="form-group" style="text-align: center;font-size: 16px;">
                                <a href="{:url('/index/index//kpi_intro',['type'=>2,'id'=>$kpiInfo.id])}">
                                    <img style="width: 100%" src="__CDN__/assets/img/kpi_t.jpg">
                                </a>
                            </div>
                            {/if}
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
