<style>
    body{
        background: #f6aaaa;
    }
   .red{
     color: red;
   }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="one">
                            <h2 class="page-header" style="text-align: center;">三会一课上报</h2>
                            <form id="user-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                                {:token()}
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">党组织所在单位<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control"  value="{$company_name}" data-rule="required" placeholder="" disabled="disabled">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">会议名称<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="name" name="name" value="" data-rule="required" placeholder="请输入会议名称">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">会议类型:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <select  id="c-type" class="form-control" name="type">
                                            <option value="">选择会议类型</option>
                                            <option value="党员大会">党员大会</option>
                                            <option value="支部委员会">支部委员会</option>
                                            <option value="党小组会">党小组会</option>
                                            <option value="党课">党课</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">会议主题:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="title" name="title" value="" data-rule="required" placeholder="请输入会议主题">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">会议方式:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="style" name="style" value="" data-rule="required" placeholder="请输入会议方式">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="c-business_scope" class="control-label col-xs-12 col-sm-2">议题:</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <textarea id="c-intro" name="intro" class="form-control" placeholder="输入议题" data-rule="required" style="height: 80px"></textarea>
                                    </div>
                                </div>

                                <!--<div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">通知人员:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <select  id="c-notice" class="form-control" name="notice">
                                            <option value="">选择通知人员</option>
                                            <option value="委会组织">委会组织</option>
                                        </select>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">召开时间<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" id="start_time" name="start_time" value="" data-rule="required" placeholder="开始时间">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">结束时间<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" id="end_time" name="end_time" value="" data-rule="required" placeholder="结束时间">
                                    </div>
                                </div>-->
                                <div class="form-group">
                                    <label for="c-avatar" class="control-label col-xs-12 col-sm-2">图片:</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <div class="input-group">
                                            <input id="c-avatar" type="hidden" data-rule="" class="form-control" size="50" name="images" type="text" value="">
                                            <div class="input-group-addon no-border no-padding upimg">
                                                <button type="button" data-url="{:url('index/ajax/upload')}" id="plupload-avatar" class="btn plupload" data-input-id="c-avatar" data-mimetype="*" data-multiple="true" data-preview-id="p-avatar"><i class="fa fa-upload"></i> 上传活动图片</button>
                                            </div>
                                            <span class="msg-box n-right" for="c-avatar"></span>
                                        </div>
                                        <ul class="row list-inline plupload-preview" id="p-avatar"></ul>
                                    </div>
                                </div>
                                <div class="form-group normal-footer">
                                    <label class="control-label col-xs-12 col-sm-2"></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <button type="submit" id="submit" disabled="disabled" class="btn btn-success btn-embossed disabled">{:__('Ok')}</button>
                                    </div>
                                </div>
                            </form>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
