<style>
    body{
        background: #f6aaaa;
    }
   .red{
     color: red;
   }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="one">
                            <h2 class="page-header" style="text-align: center;">企业党组织成立申请</h2>
                            <form id="user-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                                {:token()}
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">{:__('Union_company_name')}<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="name" name="name" value="{$company_name}" data-rule="required" placeholder="" disabled="disabled">
                                    </div>
                                </div>
                                 <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">法人代表<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="legal_person" name="legal_person" value="" data-rule="required" placeholder="请输入法人代表">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">职工人数<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="person_num" name="person_num" value="" data-rule="required;" placeholder="职工人数">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">女职工人数<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="woman_num" name="woman_num" value="" data-rule="required;" placeholder="女职工人数">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="c-business_scope" class="control-label col-xs-12 col-sm-2">经营范围:</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <textarea id="c-business_scope" name="business_scope" class="form-control" placeholder="" style="height: 80px"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">企业性质<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <select name="nature" style="height: 32px">
                                           <option value="">请选择企业性质</option>
                                           <option value="私企">私企</option>
                                           <option value="国企">国企</option>
                                       </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">会员人数<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="number" class="form-control" id="user_num" name="user_num" value="" data-rule="required;" placeholder="会员人数">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">地址<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="address" name="address" value="" data-rule="" placeholder="请输企业地址">
                                        <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:94%;height:auto;position: absolute;left: 15px;z-index: 9999;background: #fff;display: none;"></div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">联系电话<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="phone" name="phone" value="" data-rule="" placeholder="联系电话">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">支部书记<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="chairman" name="chairman" value="" data-rule="required" placeholder="张三">
                                    </div>
                                </div>
                                <!--<div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">组织委员<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="director_zz" name="director_zz" value="" data-rule="required" placeholder="组织委员">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">文体委员<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="director_wt" name="director_wt" value="" data-rule="required" placeholder="文体委员">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">宣传委员<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="director_xc" name="director_xc" value="" data-rule="required" placeholder="宣传委员">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">劳动解调委员<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="director_ld" name="director_ld" value="" data-rule="required" placeholder="劳动解调委员">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">经审主任<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="director_js" name="director_js" value="" data-rule="required" placeholder="经审主任">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">女职工主任<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="director_woman" name="director_woman" value="" data-rule="required" placeholder="女职工主任">
                                    </div>
                                </div>-->

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">委员<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="finance" name="finance" value="" data-rule="" placeholder="委员">
                                    </div>
                                </div>


                                <div class="form-group normal-footer">
                                    <label class="control-label col-xs-12 col-sm-2"></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <button type="submit" id="submit" disabled="disabled" class="btn btn-success btn-embossed disabled">{:__('Ok')}</button>
                                    </div>
                                </div>
                            </form>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
