 <style>
     body{
         background: #f6aaaa;
     }
 .name{
   line-height: 35px;
   font-size: 14px;
   overflow: hidden;
 }
.info{
   line-height: 35px;
   font-size: 12px;
}
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="tab-pane fade active in" id="one">
                    <h2 class="page-header" style="text-align: center;">积分明细</h2>
                    {notempty name="list"}
                      {foreach name="list" id="vo"}
                      <div class="row" style="border-bottom: 1px #eee solid;margin-bottom: 10px;padding-bottom: 10px">
                          <div class="name">{if condition="$vo.score gt 0"}+{/if}{$vo.score}
                            <span style="float: right;">{$vo.createtime|date="Y-m-d H:i:s",###}</span></div>
                          <div class="info">{$vo.memo}</div>
                      </div>
                      {/foreach}
                    {else/}
                     <div style="text-align: center;font-size: 16px;margin-top: 50px;">暂无积分明细</div>
                    {/notempty}
                </div>
            </div>
        </div>
    </div>
</div>
