
<style>
    .container{
        padding: 0px;
        margin-top: -10px;
    }
    .red{
        color: red;
    }
    tr{
        line-height: 35px;
    }
    th{
        font-weight: bold;
        text-align: center;
        font-size: 16px;
        color: #9A9A9A;
        border-bottom: 1px #eee solid;
    }
    td{
        text-align: center;
        line-height: 50px;
        border-bottom: 1px #eee solid;
    }
</style>
<div id="content-container" class="container">
    <div style="height: 180px;background: #2A62FF;overflow: hidden;">
        <div style="font-size: 30px;color: #fff;padding-left: 50px;padding-top: 50px;float: left;">排行榜</div>
        <div style="float: right;padding: 10px;"><img src="/assets/img/score_top_img.png" style="height: 130px;"></div>
    </div>
    <div style="background: #fff;border-radius: 30px;margin-top: -30px;padding-top: 20px;">
        <table width="100%">
            <tr>
                <th>排名</th>
                <th>公司简称</th>
                <th>等级</th>
                <th>积分</th>
            </tr>
            {foreach name="list" key="key" item="vo"}
            <tr>
                <td style="width: 50px;">
                    {if condition="$key eq 0"}
                    <img src="/assets/img/score_top_guanjun.png" style="width: 30px;">
                    {elseif condition="$key eq 1"}
                    <img src="/assets/img/score_top_yajun.png" style="width: 30px;">
                    {elseif condition="$key eq 2"}
                    <img src="/assets/img/score_top_jijun.png" style="width: 30px;">
                    {else/}
                    {$key+1}
                    {/if}
                </td>
                <td style="text-align: left;color: #000;font-size: 14px;">{$vo.short_name}</td>
                <td style="color: #4E9EE5;font-size: 14px;width: 50px;">{$vo.type}</td>
                <td style="color: #4E9EE5;font-size: 14px;width:80px;">{$vo.score}</td>
            </tr>
            {/foreach}
        </table>
    </div>
</div>
<!-- <div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="tab-pane fade active in" id="one">
                    <h2 class="page-header" style="text-align: center;">企业排行榜</h2>
                    <table width="100%">
                      <tr>
                        <th>排名</th>
                        <th>公司简称</th>
                        <th>等级</th>
                        <th>积分</th>
                      </tr>
                      {foreach name="list" key="key" item="vo"}
                        <tr>
                          <td>{$key+1}</td>
                          <td align="left">{$vo.short_name}</td>
                          <td>{$vo.type}</td>
                          <td>{$vo.score}</td>
                        </tr>
                      {/foreach}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> -->
