<style>
    body{
        background: #f6aaaa;
    }
    .red{
        color: red;
    }
    td{
        line-height: 35px;
    }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="one">
                            <h2 class="page-header" style="text-align: center;">党组织架构</h2>
                            {empty name="$info"}
                            <p>当前企业还未成立党组织</p>
                            {else/}
                            <table style="width: 100%">
                                <tr><td>支部书记：</td><td>{$info.chairman}</td></tr>
                                <tr><td>委员：</td><td>{$info.finance}</td></tr>
                                <tr><td>目前届数：</td><td>{$info.change_num}</td></tr>
                                <tr><td>成立时间：</td><td>{$info.add_time}</td></tr>
                                <tr><td>距离下次换届还有：</td><td>{$info.difday}</td></tr>
                            </table>
                            {/empty}


                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
