<style>
    body{
        background: #f6aaaa;
    }
   .red{
     color: red;
   }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="one">
                            <h2 class="page-header" style="text-align: center;">学习笔记上报</h2>
                            <div style="margin-bottom: 10px;margin-top: -10px;">
                                <a href="{:url('index/article/index',['type'=>14])}">
                                    <img style="width: 100%" src="__CDN__/assets/img/xxjh.png">
                                </a>
                            </div>
                            <form id="user-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                                {:token()}
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">企业<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" value="{$company_name}" data-rule="required" placeholder="" disabled="disabled">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="c-avatar2" class="control-label col-xs-12 col-sm-2">学习笔记照片:</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <div class="input-group">
                                            <input id="c-avatar2" type="hidden" data-rule="" class="form-control" size="50" name="images" type="text" value="">
                                            <div class="input-group-addon no-border no-padding">
                                                <button type="button" data-url="{:url('index/ajax/upload')}" id="plupload-avatar2" class="btn plupload" data-input-id="c-avatar2" data-mimetype="*" data-multiple="true" data-preview-id="p-avatar2"><i class="fa fa-upload"></i> 学习笔记照片</button>
                                            </div>
                                            <span class="msg-box n-right" for="c-avatar2"></span>
                                        </div>
                                        <ul class="row list-inline plupload-preview" id="p-avatar2"></ul>
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label for="c-business_scope" class="control-label col-xs-12 col-sm-2">学习笔记说明:</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <textarea id="c-intro" name="intro" class="form-control" placeholder="学习笔记说明150字以内" data-rule="required" style="height: 80px"></textarea>
                                    </div>
                                </div>



                                <div class="form-group normal-footer">
                                    <label class="control-label col-xs-12 col-sm-2"></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <button type="submit" id="submit" disabled="disabled" class="btn btn-success btn-embossed disabled">{:__('Ok')}</button>
                                    </div>
                                </div>
                            </form>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
