 <style>

.content img{
   max-width: 100%;
}
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="tab-pane fade active in" id="one">
                    <h2 style="text-align: center;">{$topic_info.name}</h2>  
                    <div class="page-header" style="text-align: right;font-size: 12px;padding-top: 10px;">{$topic_info.add_time}</div>
                    <div class="content">
                      {$topic_info.content}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
