 <style>
     body{
         background: #f6aaaa;
     }
 .imgtitle{
    line-height: 35px;
    font-size: 13px;
 }
 .name{
   line-height: 35px;
   font-size: 17px;
   overflow: hidden;
   margin-top: 10px;
 }
.info{
   line-height: 35px;
   font-size: 12px;
   background-color: #5180f7;
   border-radius: 5px;
   color: #fff;
   text-align: center;
   margin-top: 15px;
   margin-bottom: 18px;
}
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="tab-pane fade active in" id="one">
                    <h2 class="page-header" style="text-align: center;">预警信息</h2>
                    {notempty name="list"}
                      {foreach name="list" id="vo"}
                      <div class="row" style="border-bottom: 1px #eee solid;margin-bottom: 10px;padding-bottom: 10px">
                          <div class="imgtitle">
                          	{if condition="$vo.warning_type eq 1"}
                          	 <img src="__CDN__/assets/img/warning_red.png" style="height: 25px;margin: 0px 5px;">
                          	{elseif condition="$vo.warning_type eq 2"}
                          	 <img src="__CDN__/assets/img/warning_yellow.png" style="height: 25px;margin: 0px 5px;">
                          	{elseif condition="$vo.warning_type eq 3"}
	                          <img src="__CDN__/assets/img/warning_blue.png" style="height: 25px;margin: 0px 5px;">
	                        {else}
	                          <img src="__CDN__/assets/img/warning_blue.png" style="height: 25px;margin: 0px 5px;">
                          	{/if}
                          	{$vo.warning_name}
	                      </div>
                          <div class="name">{$vo.kpi_name}</div>
                          <a href="{:url('kpilist')}"><div class="info">
                            去完成
                          </div></a>
                          <!-- <div class="info">{$vo.notice}</div> -->
                          <div style="text-align: right;color: #999">
                            <span style="float: left;">{$vo.add_time}</span>
                            <span>距离指标完成剩余：<font color="red">{$vo.day_num}</font>&emsp;天</span>
                            <!-- {if condition="$vo.read_time eq 0"}
                            <button class="btn-success read" data-id={$vo.id}>确认已读</button>
                            {else/}
                            <font color="blue">已读</font>
                            {/if} -->

                          </div>
                      </div>
                      {/foreach}
                    {else/}
                     <div style="text-align: center;font-size: 16px;margin-top: 50px;">暂无预警信息</div>
                    {/notempty}
                </div>
            </div>
        </div>
    </div>
</div>
