<style type="text/css">
	.info{
		width: 33%;
		text-align: center;
	}
	.t{
		width: 100px;
		height: 100px;
		border-radius: 100px;
		text-align: center;
		line-height: 100px;
		color: white;
		margin: auto;
	}
</style>
<div style="background:#eee;padding: 50px;">
	<div style="display: flex;">
		<div style="width:45%;">提案人：{$info.username}</div>
		<div style="width:45%;">{$info.add_time|date="Y年m月d日 H:i:s",###}</div>
	</div>
    <div style="padding:10px;background: #fff;margin-top: 20px;">
    	<h2>{$info.title}</h2>
    	<hr/>
    	<div>{$info.content}</div>
    </div>	

    <div style="display: flex;margin-top: 50px;">
    	<div class="info">
    		<div class="t" style="background:green;">同意</div>
    		<div style="text-align:center;margin-top: 10px;color: green;">已同意{$total1}人</div>
    	</div>
    	<div class="info">
    		<div class="t" style="background:#ccc;">弃权</div>
    		<div style="text-align:center;margin-top: 10px;color: #ccc;">弃权{$total0}人</div>
    	</div>
    	<div class="info">
    		<div class="t" style="background:red;">不同意</div>
    		<div style="text-align:center;margin-top: 10px;color: red;">不同意{$total2}人</div>
    	</div>
    </div>
</div>
